<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Request support or maintenance
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='./';">Cancel</button>
            <button class="btn btn-grey btn-flat" onclick="submit_form();">Request</button>
          </span>
        </section>

        <div class="row bg-light-grey">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <li class="active"><a href="#"> BASIC DETAILS</a></li>
              <li class="active"><a href="#">TYPE OF MAINTENANCE</a></li>
              <li class="active"><a href="#">MAINTENANCE DETAILS</a></li>
              <li><a href="#">UPLOAD PHOTOS</a></li>
            </ol>
          </div>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>3. Maintenance details</h3>
                  </div>
                </div>

                <div class="custom-form userform mt-4">
                  <form name="frm_user" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Pest/Disease</label>
                          <select name="" class="form-control select2" required="required">
                            <option value="" selected="selected">Pest</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Name of Pest/Disease</label>
                          <select name="" class="form-control select2" required="required">
                            <option value="" selected="selected">Mite</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Device ID</label>
                          <select name="" class="form-control select2" required="required">
                            <option value="" selected="selected">D-10001</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Greenhouse ID</label>
                          <select name="" class="form-control select2" required="required">
                            <option value="" selected="selected">G-120001</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Plant name</label>
                          <select name="" class="form-control select2 select2-container--default" required="required">
                            <option value="" selected="selected">Jackie Chebet</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Variety</label>
                          <select name="" class="form-control select2" required="required">
                            <option value="" selected="selected">Jackie Chebet</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <label for="">Stage of production</label>
                        <div class="meta-data-sm">
                          Planting
                        </div>
                      </div>
                    </div>

                    <div class="row mt-4">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label>Notes</label>
                          <textarea class="form-control" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


        <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
          <div class="actions">
            <a href="../request/type" class="btn btn-grey btn-flat pull-left">Previous</a>
            <a href="../request/photos" class="btn btn-success btn-flat pull-right">Next</a>
          </div>
        </footer>


      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

    });
  </script>
    </script>

  </body>
</html>
