<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Request support or maintenance
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='./';">Cancel</button>
            <button class="btn btn-grey btn-flat" onclick="submit_form();">Request</button>
          </span>
        </section>

        <div class="row bg-light-grey">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <li class="active"><a href="#"> BASIC DETAILS</a></li>
              <li class="active"><a href="#">TYPE OF MAINTENANCE</a></li>
              <li><a href="#">MAINTENANCE DETAILS</a></li>
              <li><a href="#">UPLOAD PHOTOS</a></li>
            </ol>
          </div>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>2. Select one type of maintenance</h3>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-lg-3 col-sm-4 text-center mb-5">
                    <a href="#" class="meta-data-box-link active">
                      <img src="/customer/static/img/icons/pests.svg" alt="" />
                      <span> Pests/Diseases </span>
                    </a>
                  </div>

                  <div class="col-lg-3 col-sm-4 text-center mb-5">
                    <a href="#" class="meta-data-box-link">
                      <img src="/customer/static/img/icons/calendar.svg" alt="" />
                      <span>Agronomist visit</span>
                    </a>
                  </div>

                  <div class="col-lg-3 col-sm-4 text-center mb-5">
                    <a href="#" class="meta-data-box-link">
                      <img src="/customer/static/img/icons/smart-farm.svg" alt="" class="device"/>
                      <span>Device issue</span>
                    </a>
                  </div>

                  <div class="col-lg-3 col-sm-4 text-center mb-5">
                    <a href="#" class="meta-data-box-link">
                      <img src="/customer/static/img/icons/greenhouse.svg" alt="" />
                      <span>Greenhouse issue</span>
                    </a>
                  </div>

                  <div class="col-lg-3 col-sm-4 text-center mb-5">
                    <a href="#" class="meta-data-box-link">
                      <img src="/customer/static/img/icons/screenhouse.svg" alt="" />
                      <span>Sreenhouse issue</span>
                    </a>
                  </div>
                  <div class="col-lg-3 col-sm-4 text-center mb-5">
                    <a href="#" class="meta-data-box-link">
                      <img src="/customer/static/img/icons/net.svg" alt="" />
                      <span>Shadnet issue</span>
                    </a>
                  </div>
                  <div class="col-lg-3 col-sm-4 text-center mb-5">
                      <a href="#" class="meta-data-box-link">
                        <img src="/customer/static/img/icons/traceability.svg" alt="" class="others" />
                        <span>Traceability report</span>
                      </a>
                    </div>
                  <div class="col-lg-3 col-sm-4 text-center mb-5">
                    <a href="#" class="meta-data-box-link">
                      <img src="/customer/static/img/icons/others.svg" alt="" class="others" />
                      <span>Others</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


        <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
          <div class="actions">
            <a href="../request" class="btn btn-grey btn-flat pull-left">Previous</a>
            <a href="../request/detail" class="btn btn-success btn-flat pull-right">Next</a>
          </div>
        </footer>


      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

    });
  </script>
    </script>

  </body>
</html>
