<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Request Support or maintenance</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Request support or maintenance
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='./maintenance';">Cancel</button>
            <button class="btn btn-grey btn-flat" onclick="submit_form();">Request</button>
          </span>
        </section>
        <div class="row bg-light-grey">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <li class="active"><a href="#"> BASIC DETAILS</a></li>
              <li><a href="#">TYPE OF MAINTENANCE</a></li>
              <li><a href="#">MAINTENANCE DETAILS</a></li>
              <li><a href="#">UPLOAD PHOTOS</a></li>
            </ol>
          </div>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    
                    <h3>1. Basic details</h3>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data">
                      <p>
                        Reqest ID<br />
                        <input type="text" name="serial" class="form-control" value="{{MAINTAINS['serial']}}" required="required">
                        <!-- <span class="date-today">M-10</span> -->
                      </p>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data">
                      <p>
                        Date of creation<br />
                        <span class="date-today">{{data.utc_date.strftime('%d %B %Y')}}</span>
                      </p>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data">
                      <p>
                        Created by<br />
                        <span class="date-today" name ="creator_id">{{PROFILE.user.first_name}}</span>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="custom-form mt-4">
                  <form name="frm_user" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Assign to</label>
                          <select name="assignment" class="form-control select2" required="required">
                            {% for assign in ASSIGNMEMB %}
                            <option value="assign.id"{% if assign.id == MAINTAINS.assignment %} selected="selected" {% endif %}>{{assign.user.first_name}} {{assign.user.last_name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
        <div class="actions text-right pull-right">
          <a href="./request/type" class="btn btn-success btn-flat">Next</a>
        </div>
      </footer>

      {% include '/shared/footer.html' %}
    </div>
    <!-- Assign Modal -->

    <div class="modal fade custom-modal" id="assign" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-sm-12">
                <h3>Assign Maintenance</h3>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Assign to</label><br />
                  <select name="" class="form-control select2" required="required">
                    <option value="" selected="selected">Jackie Chebet</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-sm btn-success">Update</button>
          </div>
        </div>
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <script>
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
      });
    </script>
  </body>
</html>
