<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Synnefa Farmshield - Activity Logs</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse activity-logs">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Activity log
          </h1>

          <div class="clearfix">&nbsp;</div>
          <div class="row search-users">
            <div class="col-sm-12">
              <div class="shadow-outline">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-search"></i>
                    </div>
                    <input type="text" placeholder="Search by Name/Greenhouse ID/ Farm ID/ Device ID ..." class="form-control" id="" />
                    <div class="input-group-addon">
                      <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="content">
          <div class="logs-container">
            <div class="row">
              <div class="col-sm-12">
                <h5>Today - Thursday 5th November 2020</h5>
              </div>
            </div>

            <div class="activity-log-container">
              <div class="activity-log clearfix">
                <div class="pull-left pr-5">13:07</div>
                <div class="pull-left">Accepted new user <a href="#" class="green-link underline">Joey Marshal</a></div>
                <div class="pull-right">Kate</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">14:27</div>
                <div class="pull-left">Added greenhouse <a href="#" class="green-link underline">G-1001</a></div>
                <div class="pull-right">You</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">14:45</div>
                <div class="pull-left">Added Device <a href="#" class="green-link underline">JD-100</a></div>
                <div class="pull-right">Kate</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">15:07</div>
                <div class="pull-left">Onboarded new customer <a href="#" class="green-link underline">J12345</a></div>
                <div class="pull-right">John</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">16:07</div>
                <div class="pull-left">Accepted new user <a href="#" class="green-link underline">Joey Marshal</a></div>
                <div class="pull-right">Alex</div>
              </div>
              <div class="activity-log clearfix">
                <div class="pull-left pr-5">17:07</div>
                <div class="pull-left">Accepted new user <a href="#" class="green-link underline">Jane Kamau</a></div>
                <div class="pull-right">Kate</div>
              </div>
            </div>
          </div>

          <div class="logs-container">
            <div class="row">
              <div class="col-sm-12">
                <h5>Yesterday - Wednesday 4th November 2020</h5>
              </div>
            </div>

            <div class="activity-log-container">
              <div class="activity-log clearfix">
                <div class="pull-left pr-5">13:07</div>
                <div class="pull-left">Accepted new user <a href="#" class="green-link underline">Joey Marshal</a></div>
                <div class="pull-right">Kate</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">14:27</div>
                <div class="pull-left">Added greenhouse <a href="#" class="green-link underline">G-1001</a></div>
                <div class="pull-right">You</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">14:45</div>
                <div class="pull-left">Added Device <a href="#" class="green-link underline">JD-100</a></div>
                <div class="pull-right">Kate</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">15:07</div>
                <div class="pull-left">Onboarded new customer <a href="#" class="green-link underline">J12345</a></div>
                <div class="pull-right">John</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">16:07</div>
                <div class="pull-left">Accepted new user <a href="#" class="green-link underline">Joey Marshal</a></div>
                <div class="pull-right">Alex</div>
              </div>
              <div class="activity-log clearfix">
                <div class="pull-left pr-5">17:07</div>
                <div class="pull-left">Accepted new user <a href="#" class="green-link underline">Jane Kamau</a></div>
                <div class="pull-right">Kate</div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>
    {% include '/shared/base-js.html' %}
    <script>
      $(".select2").select2();
    </script>

  </body>
</html>
