<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Add Users</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh layout-top-nav sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">
      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Add Users
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='../users';">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Send emails</button>
          </span>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="user-form white-block shadow-outline">
                <div class="row">
                  <div class="col-lg-10 col-sm-9">
                    <h3>User accounts <span class="badge badge-default badge-user-count">1</span></h3>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <a class="btn btn-success btn-sm btn-success-outline btn-flat float-md-right" href="./add-multiple">Bulk upload accounts</a>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class=" col-lg-2 col-md-3  col-sm-4  ">
                    <div class="meta-data">
                      <p>Created date<br />
                        <span class="date-today">{{data.utc_date.strftime('%d %B %Y')}}</span>
                      </p>
                    </div>
                  </div>
                  <div class=" col-lg-2 col-md-3  col-sm-4   pl-sm-0">
                    <div class="meta-data">
                      <p>Created by<br />
                        <span class="date-today">John Doe</span>
                      </p>
                    </div>
                  </div>
                  <div class=" col-lg-2 col-md-3  col-sm-4   pl-sm-0">
                    <div class="meta-data">
                      <p>Alert subscription<br />
                        <span class="date-today">Email & SMS</span>
                      </p>
                    </div>
                  </div>
                </div>
                <hr class="separator"/>

                <form name="frm_user" action="" method="post" enctype="application/x-www-form-urlencoded">
                 <div class="row headers mt-3">
                   <div class="col-sm-2 pl-sm-0">Full name</div>
                   <div class="col-sm-2 pl-sm-0">Employee ID</div>
                   <div class="col-sm-2 pl-sm-0">Role</div>
                   <div class="col-sm-2 pl-sm-0">Email ID</div>
                   <div class="col-sm-2 pl-sm-0">Password</div>
                   <div class="col-sm-2">&nbsp;</div>
                 </div>

                 <div class="users-to-add">
                 </div>

                <div class="row">
                  <div class="col-sm-12">
                    <a class="btn btn-success btn-flat btn-add-user">+ Add user account</a>
                  </div>
                </div>

                <div class="hidden">
                  <div class="user-fields">
                    <div class="row">
                      <div class="col-sm-2 ">
                        <div class="form-group">
                          <input type="text" placeholder="Enter full name" class="form-control" name="full_name[]" required="required">
                        </div>
                      </div>
                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">
                          <input type="text" placeholder="Enter employee ID" class="form-control" name="employee_id[]" required="required">
                        </div>
                      </div>
                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">
                          <select name="role[]" class="form-control select2" required="required">
                            {% for role in ROLES %}
                            <option value="{{role.id}}"{% if role.id == session.profile.role.role.id %} selected="selected"{% endif %}>Select role</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">
                          <input type="email" placeholder="Enter email ID" class="form-control" name="email_id[]" required="required">
                        </div>
                      </div>
                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">
                          <input type="text" placeholder="Enter password" class="form-control" name="password[]" required="required">
                        </div>
                      </div>
                      <div class="col-lg-1 col-sm-12 pl-xl-0">
                        <a class="btn btn-flat btn-danger btn-danger-outline btn-remove-row mb-4" onclick="remove_user_row($(this));">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    {% include '/shared/base-js.html' %}

    <script>
      var multiple = {{MULTIPLE|tojson}};
      $(function(){

        if (multiple.length == 0) {
          add_user_row();
        } else {
          $.each(multiple, function(k,v){
              add_user_row_with_data(v);
          });
          add_user_row();
        }

        $(".btn-add-user").on("click", function(){
          add_user_row();
        });
      });

      function remove_user_row(row) {
        var rows = $(".users-to-add .row")
        if (rows.length > 1) {
          row.closest('.row').remove();
          update_tally();
        }
      }

      function add_user_row() {
        $(".users-to-add").append($(".user-fields .row").clone());
        $(".users-to-add .select2").select2();

        update_tally();
      }

      function add_user_row_with_data(data) {
        var fields = $(".user-fields .row").clone();

        fields.find(".col-sm-2:nth-child(1) input").val(data.full_name);
        fields.find(".col-sm-2:nth-child(2) input").val(data.employee_id);
        fields.find(".col-sm-2:nth-child(4) input").val(data.email_address);
        fields.find(".col-sm-2:nth-child(5) input").val(data.password);

        $(".users-to-add").append(fields);
        $(".users-to-add .select2").select2();

        // add_user_row();

        update_tally();
      }

      function update_tally() {
        var tally = $(".users-to-add").find(".row").length
        $(".badge-user-count").text(tally);
        if (tally == 1) {
          $(".users-to-add .row .btn-remove-row").attr("disabled", "disabled");
        } else {
          $(".users-to-add .row .btn-remove-row").removeAttr("disabled");
        }
      }

      function submit_form() {
          $("form[name='frm_user']").submit();
      }
    </script>

  </body>
</html>
