<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Admin - User Roles</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static',filename='css/chartist.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/iCheck/all.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            User roles
          </h1>

          <span class="actions text-right pull-right">
            <button type="button" class="btn btn-success btn-success-outline btn-sm btn-flat " data-toggle="modal" data-target="#add-user-role"><i class="fa fa-plus pr-2"></i> Add user role</button>
          </span>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-sm-12">
              <div class="nav-tabs-custom data mb-5">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#active-roles" data-toggle="tab" aria-expanded="false">Active</a></li>
                  <li class=""><a href="#inactive-roles" data-toggle="tab" aria-expanded="true">Inactive</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <!-- Active Roles -->
                <div id="active-roles" class="tab-pane active">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by role" class="form-control" id="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mt-4 mb-4">
                    <div class="col-sm-12">
                      <h4 class="pull-left">Roles <span class="badge badge-default">{{ROLES|selectattr('status','equalto','Active')|list|length}}</span></h4>

                      <span class="actions text-right pull-right">
                        <a href="../roles" class="btn btn-success btn-sm btn-grey-outline btn-flat">Cancel</a>
                        <button class="btn btn-success btn-sm btn-success-outline btn-flat update-roles">Update</button>
                      </span>
                    </div>
                  </div>

                  <div class="row user">
                    {% for role in ROLES %}
                    {% if role.status == "Active" %}
                    <div class="col-lg-2 role-box role-box-active" aria-role-id="{{role.id}}">
                      <div class="white-block shadow-outline text-center user-role-card mb-4">
                        <div class="circle-md faded-blue-bg">
                          <p class="circle-avatar-text faded-blue-inner-text">{{role.initials}}</p>
                        </div>
                        <div class="role">{{role.name}}</div>
                        <div class="form-group">
                           <input name="role_name" type="text" class="form-control width-80 float-center role-name" value="{{role.name}}">
                        </div>

                        <div class="small-text hidden">24 access points</div>

                        <ul class="stacked-avatar list-none user-list"></ul>

                        <span class="small-text-xs users-tally"></span>
                        {% if not role.super_admin %}
                        <div class="form-group">
                          <div class="checkbox checbox-switch switch-success">
                            <label>
                              <input type="checkbox" name="role_status" checked="checked"  />
                              <span></span>
                              Active
                            </label>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <!-- end Roles -->

                  <div class="row mt-4">
                    <div class="col-sm-12">
                      <h4 class="pull-left">All user access <span class="badge badge-default">{{MODULES|length}}</span></h4>

                      <span class="actions text-right pull-right">
                        <a href="../roles" class="btn btn-success btn-sm btn-grey-outline btn-flat">Cancel</a>
                        <button class="btn btn-success btn-sm btn-success-outline btn-flat update-roles">Update</button>
                      </span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table user-role-table mt-4">
                          <thead>
                            <tr>
                              <th>DESCRIPTION</th>
                              {% for role in ROLES %}
                              <th>{{role.name}}</th>
                              {% endfor %}
                            </tr>
                          </thead>

                          {% for module in MODULES %}
                          <tbody>
                            <tr>
                              <td><h6><img src="/admin/static/img/{{module.icon.file_url}}" alt=""> {{module.name}}</h6></td>
                              {% for role in ROLES %}
                              {% if role.super_admin %}
                              <td><i class="fa fa-check green-text"></i></td>
                              {% else %}
                              <td><input type="checkbox" name="" value="" class="minimal permission" aria-module-id="{{module.id}}" aria-role-id="{{role.id}}"/></td>
                              {% endif %}
                              {% endfor %}
                            </tr>
                            {% for feat in module.feats %}
                            <tr>
                              <td><span>{{feat.name}}</span></td>
                              {% for role in ROLES %}
                              {% if role.super_admin %}
                              <td><i class="fa fa-check green-text"></i></td>
                              {% else %}
                              <td><input type="checkbox" name="" value="" class="minimal permission" aria-feature-id="{{feat.id}}" aria-module-id="{{module.id}}" aria-role-id="{{role.id}}"/></td>
                              {% endif %}
                              {% endfor %}
                            </tr>
                            {% endfor %}
                          </tbody>
                          {% endfor %}

                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end Active Roles -->

                <!-- Inactive Roles -->
                <div id="inactive-roles" class="tab-pane">
                  <div class="col-sm-12">
                    <h4 class="pull-left">Inactive roles <span class="badge badge-default">{{ROLES|selectattr('status','equalto','Inactive')|list|length}}</span></h4>
                  </div>

                  {% for role in ROLES %}
                  {% if role.status == "Inactive" %}
                  <div class="col-lg-2 role-box role-box-inactive" aria-role-id="{{role.id}}">
                    <div class="white-block shadow-outline text-center user-role-card mb-4">
                      <div class="circle-md faded-blue-bg">
                        <p class="circle-avatar-text faded-blue-inner-text">{{role.initials}}</p>
                      </div>
                      <div class="role">{{role.name}}</div>
                      <div class="small-text hidden">24 access points</div>

                      <ul class="stacked-avatar list-none user-list">
                      </ul>

                      <span class="small-text-xs users-tally"></span>
                      {% if not role.super_admin %}
                      <div class="form-group">
                        <div class="checkbox checbox-switch switch-success">
                          <label>
                            <input type="checkbox" name="role_status"  />
                            <span></span>
                            Inactive
                          </label>
                        </div>
                        <a href="./roles/{{role.id}}/view" class="btn btn-success btn-sm btn-success-outline btn-flat mt-3">View</a>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Add User Role Modal -->

      <div class="modal fade custom-modal" id="add-user-role" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row">
                <div class="col-sm-12">
                  <h3>Add a role</h3>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-3">
                  <div class="circle-md faded-blue-bg text-center mt-n2">
                    <p class="circle-avatar-text faded-blue-inner-text">A</p>
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="form-group mt-n3">
                    <label >Role</label>
                    <input type="text" class="form-control" id="role-name" placeholder="Enter role name">
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-sm btn-success btn-add-role">Add</button>
            </div>
          </div>
        </div>
      </div>

      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}

    <script>
      var roles = {{ROLES|tojson}};
      var modules = {{MODULES|tojson}};
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: 'icheckbox_minimal-green'
        });

        $.each(roles, function(k, v){
          fetch_role_users(v.id);
        });

        $.each(modules, function(mk, mv){
          $.each(roles, function(rk, rv){
            fetch_module_permissions(mv.id, rv.id);
          });
        });

        $('input[name="role_status"]').on("change", function(){
          var role = $(this).closest(".role-box");
          if (role.hasClass("role-box-active")) {
            deactivate_role(role.attr("aria-role-id"))
          }
          if (role.hasClass("role-box-inactive")) {
            activate_role(role.attr("aria-role-id"))
          }
        });

        $(".modal").find("button.btn-add-role").on("click", function(){
          var role_name = $(".modal").find("#role-name").val().trim();
          if (role_name != "") {
            add_role(role_name);
          }
        });

        $(".update-roles").on("click", function(){
          save_roles();
        });

        $(document).find("input.permission").on("ifChanged", function(){
          save_permission($(this));
        });

      });

      function save_permission(check) {
        var add_remove = 0;

        var module_id = check.attr("aria-module-id");
        var role_id = check.attr("aria-role-id");
        var feat_id = check.attr("aria-feature-id");

        if (check.is(":checked")) {
          add_remove = 1;
        }

        $.post(
          "../roles",
          {
            "action": "update_permission",
            "add_remove": add_remove,
            "module_id": module_id,
            "role_id": role_id,
            "feat_id": feat_id,
          }
        );
      }

      function save_roles(){
        // Role names
        var roles = [];
        var active_roles = $(".role-box-active")
        $.each(active_roles, function(k, v){
          var role_box = $(v);
          var role_id = role_box.attr("aria-role-id");
          var role_name = role_box.find('input[name="role_name"]').val();

          roles.push({
            "role_id": role_id,
            "role_name": role_name,
          })
        });

        $.post(
          "../roles",
          {
            "action": "update_roles",
            "roles": JSON.stringify(roles)
          },
          function(resp){
            document.location.href = document.location.href
          }
        );
      }

      function add_role(role_name) {
        if (role_name != undefined) {
          $.post(
            "../roles",
            {
              "action": "add_role",
              "role_name": role_name
            },
            function(resp){
              document.location.href = document.location.href
            }
          );
        }
      }

      function activate_role(role_id) {
        if (role_id != undefined) {
          $.post(
            "../roles",
            {
              "action": "activate_role",
              "role_id": role_id
            },
            function(resp){
              document.location.href = document.location.href
            }
          );
        }
      }

      function deactivate_role(role_id) {
        if (role_id != undefined) {
          $.post(
            "../roles",
            {
              "action": "deactivate_role",
              "role_id": role_id
            },
            function(resp){
              document.location.href = document.location.href
            }
          );
        }
      }

      function fetch_role_users(role_id) {
        if (role_id != undefined) {
          $.post(
            "../roles",
            {
              "action": "role_users",
              "role_id": role_id
            },
            function(resp){
              var users_list = $('<ul class="stacked-avatar list-none user-list"></ul>');
              var users_tally = "";
              var _users_tally = 0;

              if (resp.length > 0) {

                var j = 0;
                $.each(resp, function(k, v){
                  if (j < 4) {
                    if (v.user.avatar_media.file_url != undefined) {
                      var user_avatar = $('<li class="avatar-xs" style="">&nbsp;</li>');
                      user_avatar.attr("style", "background-image: url(/admin/static/files/" + v.user.avatar_media.file_url + ")");
                      $("div[aria-role-id='" + role_id + "'] .user-list").append(user_avatar);
                      j++;
                    }
                  }
                });
                _users_tally = resp.length - j;
                if (resp.length == _users_tally) {
                  users_tally = (_users_tally) + " users";
                } else {
                  if (_users_tally > 4) {
                    users_tally = " +" + (_users_tally) + " more";
                  }
                }
              } else {
                users_tally = "(No users)";
              }
              $("div[aria-role-id='" + role_id + "'] .users-tally").text(users_tally);
            }
          );
        }
      }

      function fetch_module_permissions(module_id, role_id) {
        if (role_id != undefined) {
          $.post(
            "../roles",
            {
              "action": "module_permissions",
              "module_id": module_id,
              "role_id": role_id
            },
            function(resp){
              $.each(resp, function(k, i){
                $.each(i, function(k0, v){
                  if (v == 1){
                    $('input[aria-module-id="' + module_id + '"][aria-role-id="' + role_id + '"][aria-feature-id="' + k0 + '"]').attr("checked", "checked").iCheck('update');
                  }
                });
              });
            }
          );
        }
      }
    </script>

  </body>
</html>
