<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Admin - User Profile</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static',filename='css/chartist.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse profile">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <div class="actions">
            <a href="/admin/settings/users" class="btn btn-success btn-flat"><i class="fa fa-angle-left"></i> Users & invites</a>
          </div>

          <h1 class="pull-left">
            User profile
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-success btn-deactivate btn-flat" onclick="deactivate_account();">Deactivate Account</button>
          </span>
          <div class="clearing">&nbsp;</div>
        </section>

        <section class="content">
          <div class="row user">
            <div class="col-sm-2">
              <div class="white-block shadow-outline">
                <div id="active_user_avatar" class="avatar" style="background-image: url(/customer/static/{% if USER.detail.avatar_media %}files/{{USER.detail.avatar_media.file_url}}{% else %}img/avatar.png{% endif %});">&nbsp;</div>
                <div class="edit">
                  <a href="" data-toggle="modal" data-target="#change_avatar">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>
                <div class="name">{{USER.detail.first_name}} {{USER.detail.last_name}}</div>
                <div class="role">{{USER.role.role.name}}</div>
                <div class="status">
                  <span class="badge bg-green disabled">Active</span>
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="detail white-block shadow-outline">
                <div class="row">
                  <div class="col-sm-6">
                    <h4>Details</h4>
                  </div>
                  <div class="col-sm-6 text-right">
                    <a href="/admin/settings/users/edit/{{USER.detail.id}}" class="btn btn-flat btn-edit">Edit</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Full name</p>
                      <p class="val">{{USER.detail.first_name}} {{USER.detail.last_name}}</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Employee ID</p>
                      <p class="val">{{USER.staff_info.employee_id}}</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Role</p>
                      <p class="val">{{USER.role.role.name}}</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Password</p>
                      <p class="val"><a href="" class="reset-password" data-toggle="modal" data-target="#change_password">Reset</a></p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Email Address</p>
                      <p class="val">{{USER.detail.email_address}}</p>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="data">
                      <p class="key">Phone number</p>
                      <p class="val">{{USER.detail.phone_number}}</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="data">
                      <p class="key">Additional alert subscription</p>
                      <p class="val">{{USER.alert_config.mode}}</p>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="data">
                      <p class="key">Ranking</p>
                      <p class="val">{{USER.staff_info.rank}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="business-report hidden" style="margin-bottom: 30px;">
            <div class="white-block shadow-outline" style="padding: 30px;">
              <div class="row">
                <div class="col-sm-12">
                  <h4>Report</h4>
                </div>
              </div>
              <div class="row chart-meta">
                <div class="col-sm-2">
                  <h6>{{BUSINESS_REPORT.customers_5y}}</h6>
                  <p>Total customer base in past 5 years</p>
                </div>
                <div class="col-sm-2">
                  <h6>{{BUSINESS_REPORT.revenue_5y}} KES</h6>
                  <p>Total revenue base in past 5 years</p>
                </div>
                <div class="col-sm-2">
                  <h6>{{BUSINESS_REPORT.devices_5y}}</h6>
                  <p>Total devices sold in past 5 years</p>
                </div>
                <div class="col-sm-2">
                  <h6>{{BUSINESS_REPORT.greenhouses_5y}}</h6>
                  <p>Total greenhouses sold in past 5 years</p>
                </div>
              </div>
            </div>
          </div>
          <div class="revenue-report hidden" style="margin-bottom: 30px;">
            <div class="white-block shadow-outline" style="padding: 30px;">
              <div class="row">
                <div class="col-sm-7">
                  <h4>Revenue generated</h4>
                </div>
                <div class="col-sm-5 text-right">
                  <select name="year" class="select2 year-select">
                    <option>2020</option>
                    <option>2019</option>
                    <option>2018</option>
                  </select>
                  <a class="btn btn-flat btn-success btn-revenue-report-filter">Go</a>
                </div>
              </div>
              <div class="row chart-meta">
                <div class="col-sm-2">
                  <h6>{{REVENUE_REPORT.total_y}} KES</h6>
                  <p>Total revenue generated in 2020</p>
                </div>
                <div class="col-sm-2">
                  <h6>{{REVENUE_REPORT.subscriptions}} KES</h6>
                  <p>Subscriptions</p>
                </div>
                <div class="col-sm-2">
                  <h6>{{REVENUE_REPORT.one_time}} KES</h6>
                  <p>One-time payments</p>
                </div>
                <div class="col-sm-2">
                  <h6>{{REVENUE_REPORT.devices}}</h6>
                  <p>Total devices sold in 2020</p>
                </div>
                <div class="col-sm-2">
                  <h6>{{REVENUE_REPORT.one_time}}</h6>
                  <p>Total greenhouses sold in 2020</p>
                </div>
                <div class="col-sm-2">
                  <h6>{{REVENUE_REPORT.greenhouses}}</h6>
                  <p>One-time payments</p>
                </div>
              </div>
              <div class="row chart-periods">
                <div class="col-sm-6">
                  <div class="btn-group">
                    <a class="btn btn-flat btn-default btn-period active" rel="monthly">Monthly</a>
                    <a class="btn btn-flat btn-default btn-period" rel="yearly">Yearly</a>
                  </div>
                </div>
              </div>
              <div class="row chart-area">
                <div class="col-sm-12">
                  <div class="chart-container">
                    <div class="chart ct-chart ct-perfect-fourth" id="revenue_report">
                      <div class="y-axis">
                        <div class="axis-label">
                          <span>&nbsp;</span>
                        </div>
                      </div>
                      <div class="x-axis">
                        <div class="chart-data">
                        </div>
                        <div class="axis-label">
                          <span>&nbsp;</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="customer-report hidden" style="margin-bottom: 30px;">
            <div class="white-block shadow-outline" style="padding: 30px;">
              <div class="row">
                <div class="col-sm-7">
                  <h4>Customer report</h4>
                </div>
                <div class="col-sm-5 text-right">
                  <select name="month" class="select2 month-select">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                  <select name="year" class="select2 year-select">
                    <option>2020</option>
                    <option>2019</option>
                    <option>2018</option>
                  </select>
                  <a class="btn btn-flat btn-success btn-customer-report-filter">Go</a>
                </div>
              </div>
              <div class="row chart-meta">
                <div class="col-sm-3">
                  <h6>10,000</h6>
                  <p>Total customer base in 5 years</p>
                </div>
                <div class="col-sm-3">
                  <h6>10,000</h6>
                  <p>Total customer base in 2020</p>
                </div>
              </div>
              <div class="row chart-periods">
                <div class="col-sm-6">
                  <div class="btn-group">
                    <a class="btn btn-flat btn-default btn-period active" rel="monthly">Monthly</a>
                    <a class="btn btn-flat btn-default btn-period" rel="yearly">Yearly</a>
                  </div>
                </div>
              </div>
              <div class="row chart-area">
                <div class="col-sm-12">
                  <div class="chart-container">
                    <div class="chart ct-chart ct-perfect-fourth" id="customer_report">
                      <div class="y-axis">
                        <div class="axis-label">
                          <span>&nbsp;</span>
                        </div>
                      </div>
                      <div class="x-axis">
                        <div class="chart-data">
                        </div>
                        <div class="axis-label">
                          <span>&nbsp;</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>
    <div class="modal fade" id="change_avatar" tabindex="-1" role="dialog" aria-labelledby="change_avatar_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Change Avatar</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <input type="file" name="avatar_file" />
              </div>
              <div class="col-sm-6">
                <div class="avatar-view">&nbsp;</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <span class="actions text-right pull-right">
              <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
              <button class="btn btn-success btn-flat" onclick="change_avatar($(this));">Save</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="change_password" tabindex="-1" role="dialog" aria-labelledby="change_password_label">
      <div class="modal-dialog" role="document" style="width: 425px;">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Change Password</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="errors hidden" style="margin-bottom: 10px;">
                  <span class="label label-danger">Failed!</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="new_password">New password</label>
                  <input type="password" class="form-control" name="new_password" id="new_password" required="required">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="confirm_password">Confirm Password</label>
                  <input type="password" class="form-control" name="confirm_password" id="confirm_password" required="required">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <span class="actions text-right pull-right">
              <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
              <button class="btn btn-success btn-flat" onclick="change_password($(this));">Update</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <script>
      var customer_report;
      $(function () {
        $(".select2").select2();

        revenue_report = {{REVENUE_REPORT|tojson}};
        plot_bar_chart('#revenue_report', revenue_report);

        customer_report = {{CUSTOMER_REPORT|tojson}};
        plot_bar_chart('#customer_report', customer_report);

      });

      function change_avatar(avatar_modal) {
        var new_avatar = avatar_modal.closest(".modal-content").find("input[name=avatar_file]")[0].files[0];
        if (new_avatar != undefined) {
          var formData = new FormData();
          formData.append("avatar", true);
          formData.append("image_file", new_avatar);
          $.ajax({
             url : './{{USER.detail.id}}',
             type : 'POST',
             data : formData,
             processData: false,
             contentType: false,
             success : function(data) {
               if (data.status) {
                 $("#active_user_avatar").attr("style", "background-image: url(/customer/static/files/avatar/" + data.avatar + ")");
                 avatar_modal.closest(".modal-content").find("input[name=avatar_file]").val("");
                 $("#change_avatar").modal('toggle');
               }
             }
          });
        }
      }

      function change_password(password_modal) {
        var _elems = password_modal.closest(".modal-content");
        var new_password = _elems.find("#new_password").val();
        var confirm_password = _elems.find("#confirm_password").val();

        if (new_password != "" && new_password == confirm_password) {
          var formData = new FormData();

          _elems.find(".errors").addClass("hidden");
          _elems.find(".errors .label").text("");

          formData.append("password", true);
          formData.append("new_password", new_password);
          formData.append("confirm_password", confirm_password);

          $.ajax({
             url : './{{USER.detail.id}}',
             type : 'POST',
             data : formData,
             processData: false,
             contentType: false,
             success : function(data) {
               if (data.status) {
                 $("#change_password").modal('toggle');
               } else {
                 console.log(data)
               }
             }
          });
        } else {
          _elems.find(".errors").removeClass("hidden");
          _elems.find(".errors .label").text("Identical new password and confirm password are needed to reset.");
        }
      }

    </script>

  </body>
</html>
