<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Create report</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse alerts user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1>Alerts <span class="badge badge-default">{{ALERT|list|length}}</span></h1>
        </section>
        <section class="content">
          <div class="row search-users">
            <div class="col-xs-3 col-sm-2 col-md-1">
              <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
              <div class="shadow-outline">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-search"></i>
                    </div>
                    <input type="text" placeholder="Search by Device ID/assigned by/created date" class="form-control" id="" />
                    <div class="input-group-addon">
                      <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-sm-4 col-md-2 pr-sm-0">
              <div class="summary-grey-outline mt-4">
                <p>
                  {{ALERT|selectattr('status','equalto','Active')|list|length}}<br />
                  <span class="inverse">Total active</span>
                </p>
              </div>
            </div>

            <div class="col-sm-4 col-md-2 pr-sm-0">
              <div class="summary-grey-outline mt-4">
                <p>
                  {{ALERT|selectattr('status','equalto','Inactive')|list|length}}<br />
                  <span class="inverse">Total inactive </span>
                </p>
              </div>
            </div>
          </div>

          <div class="row accounts mt-5">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table class="table section-table section-table-header accounts-records alert-table-header">
                  <thead>
                    <tr>
                      <th><input type="checkbox" name="" value="" class="minimal" /></th>
                      <th>ALERT NAME</th>
                      <th>TRIGGERED BY & ID</th>
                      <th>DATE & TIME CREATED</th>
                      <th>DETAILS</th>
                      <th>STATUS</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr data-toggle="collapse" data-target="#active-alerts" class="accordion-toggle">
                      <td colspan="7" class="no-border">
                        <h2> Active Alerts <span class="badge badge-default">{{ALERT|selectattr('status','equalto','Active')|list|length}}</span></h2>
                      </td>
                    </tr>
                    {% for alert in ALERT %}
                    {% if alert.status == "Active" %}
                    <tr>
                      <td colspan="7" class="hidden-table-row">
                        <div class="accordian-body collapse in" id="active-alerts">
                          <table class="table accounts-records">
                            <tbody>
                              <tr>
                                <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                <td class="w-250"><span class="f-14-bold dark-grey-text">{{alert.info.name}}</span></td>
                                <td>
                                  <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                    &nbsp;
                                  </span>
                                  <span class="names"> {{alert.info.trigger}}
                                  <span class="date">ID: 103</span></span>
                                </td>
                                <td>
                                  <span class="names"> {{alert.created}}
                                  <!-- <span class="date">17:31</span></span> -->
                                </td>
                                <td>
                                  <a href="#" class="green-link underline f-14-medium">{{alert.info.detail}}</a>
                                </td>
                                <td><span class="badge warning">{{alert.status}}</span></td>
                                <td><a href="" class="btn btn-success btn-success-outline btn-flat w-150">Accept request</a></td>
                              </tr>

                             

                              
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                    <tr data-toggle="collapse" data-target="#inactive-alerts" class="accordion-toggle">
                      <td colspan="7">
                        <h2> Inactive Alerts <span class="badge badge-default">{{ALERT|selectattr('status','equalto','Inactive')|list|length}}</span></h2>
                      </td>
                    </tr>

                    {% for alert in ALERT %}
                    {% if alert.status != "Active" %}
                    <tr>
                      <td colspan="7" class="hidden-table-row">
                        <div id="inactive-alerts" class="accordian-body collapse in">
                            <table class="table accounts-records">
                            <tbody>
                              <tr>
                                <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                <td class="w-250"><span class="f-14-bold dark-grey-text">{{alert.info.name}}</span></td>
                                <td>
                                  <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                    &nbsp;
                                  </span>
                                  <span class="names"> {{alert.info.trigger}}
                                  <span class="date">ID: 103</span></span>
                                </td>
                                <td>
                                  <span class="names"> {{alert.created}}
                                  <!-- <span class="date">17:31</span></span> -->
                                </td>
                                <td>
                                  <a href="#" class="green-link underline f-14-medium">{{alert.info.detail}}</a>
                                </td>
                                <td><span class="badge badge-success active">{{alert.status}}</span></td>
                                <td class="w-240">&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>

      {% include '/shared/footer.html' %}
    </div>
    {% include '/shared/base-js.html' %}
    <script>
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
      });
    </script>
  </body>
</html>
