<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Add Users</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=farm-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            User account bulk upload
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='../users';">Cancel</button>
            <button class="btn btn-grey btn-flat" onclick="submit_form();">Add</button>
          </span>
        </section>

        <div class="content">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 mt-4">
              <!-- <h5 class="mb-1 f-16-bold">CSV bulk upload</h5>

              <div class="progress-percentage green-text-lighter mt-4">100% <small>completed</small></div>
              <div class="progress progress-sm mb-3">
                <div class="progress-bar progress-bar-success border-radius-3" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="light-grey-text pt-0">8 user accounts detected</p>
              <a href="add-user.html" class="btn btn-success btn-flat mt-3">Preview</a>
              <a href="add-user.html" class="btn btn-grey-outline btn-flat mt-3">Try again</a> -->

              <div class="input-group mt-4 mb-4">
                  <input type="text" class="form-control white-bg" readonly />
                  <label class="input-group-btn">
                    <span class="btn btn-success"> <input type="file" style="display: none;" multiple />Browse </span>
                  </label>
                </div>
                <span class="label label-info" id="upload-file-info"></span>
                <p class="light-grey-text pt-0">Acceptable file types: CSV</p>
                <p class="light-grey-text pt-0">Here is a<a href="#" class="green-link underline"> sample CSV format</a> </p>
            </div>
          </div>
        </div>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
      $(function(){

        add_user_row();
        $(".btn-add-user").on("click", function(){
          add_user_row();
        });
      });

      function add_user_row() {
        $(".users-to-add").append($(".user-fields .row").clone());
        $(".users-to-add .select2").select2();

        update_tally();
      }

      function update_tally() {
        $(".badge-user-count").text($(".users-to-add").find(".row").length);
      }

      function submit_form() {
          $("form[name='frm_user']").submit();
      }
    </script>

  </body>
</html>
