<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Device</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Add device
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='../';">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Add</button>
          </span>
        </section>
        <div class="content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="user-form white-block shadow-outline">
                <div class="row">
                  <div class="col-lg-10 col-sm-9">
                    <h3>Devices <span class="badge badge-default badge-user-count">1</span></h3>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <a href="./bulk" class="btn btn-success btn-sm btn-success-outline btn-flat float-md-right" onclick="deactivate_account();">Device Bulk upload</a>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class=" col-lg-2 col-md-3  col-sm-4  ">
                    <div class="meta-data">
                      <p>Created date<br />
                        <span class="date-today">12 Nov 2020</span>
                      </p>
                    </div>
                  </div>

                  <div class=" col-lg-2 col-md-3  col-sm-4   pl-sm-0">
                    <div class="meta-data">
                      <p>Created by<br />
                        <span class="date-today">John Doe</span>
                      </p>
                    </div>
                  </div>
                    <div class=" col-lg-2 col-md-3  col-sm-4   pl-sm-0">
                      <div class="meta-data">
                        <p>Device Status<br />
                          <span class="date-today">Active</span>
                        </p>
                      </div>
                    </div>


                </div>
                <hr class="separator"/>

                <form name="frm_user" action="" method="post" enctype="application/x-www-form-urlencoded">
                 <div class="row headers mt-3">
                   <div class="col-sm-2 pl-sm-0">Device type</div>
                   <div class="col-sm-2 pl-sm-0">Spear ID</div>
                   <div class="col-sm-2 pl-sm-0">Product links</div>
                   <div class="col-sm-2 pl-sm-0">Greenhouse ID</div>
                   <div class="col-sm-2 pl-sm-0">Device ID</div>
                   <div class="col-sm-2">&nbsp;</div>
                 </div>

                 <div class="device-to-add">
                 </div>

                <div class="row">
                  <div class="col-sm-12">
                    <a class="btn btn-success btn-flat btn-add-device">+ Add devices</a>
                  </div>
                </div>
                <div class="hidden">
                  <div class="device-fields">
                    <div class="row">
                      <div class="col-sm-2 ">
                        <div class="form-group">
                          <select name="role[]" class="form-control select2" required="required">
                            <option>Farmshield Premium</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-2 pl-sm-0">
                        <div class="form-group">
                          <input type="text" placeholder="S-10002, S-10003" class="form-control" name="employee_id[]" required="required">
                        </div>
                      </div>
                      <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                        <div class="meta-data-sm">
                          <a href="#" class="blue-link underline">321423454565//2</a>
                        </div>
                      </div>
                      <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                        <div class="meta-data-sm">
                              <span class="f-12-medium">G-120000</span>
                        </div>
                      </div>
                      <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                        <div class="meta-data-sm">
                          <span class="f-12-medium">D-120000</span>
                        </div>
                      </div>
                      <div class="col-sm-1  pl-sm-0">
                        <a class="btn btn-flat btn-danger btn-danger-outline btn-remove-row mb-4" onclick="$(this).closest('.row').remove();update_tally();">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>

                </form>


              </div>
            </div>
        </div>

      </div>

      {% include '/shared/footer.html' %}

    </div>

    {% include '/shared/base-js.html' %}
    <script>
      $(function () {
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });

        add_device_row();
        $(".btn-add-device").on("click", function () {
          add_device_row();
        });

      });

      function add_device_row() {
        $(".device-to-add").append($(".device-fields .row").clone());
        $(".device-to-add .select2").select2();

        update_tally();
      }

      function update_tally() {
        $(".badge-user-count").text($(".device-to-add").find(".row").length);
      }

      function submit_form() {
        $("form[name='frm_user']").submit();
      }

    </script>

  </body>
</html>
