<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Greenhouse types -Synnefa Farmshield</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <div class="mb-4">
            <a href="./" class="btn btn-light-green btn-flat"> <i class="fa fa-chevron-left pr-2"></i>Greenhouses</a>
          </div>

          <div class="row">
            <div class="col-sm-9">
              <h1>Greenhouse types</h1>
            </div>

            <div class="col-sm-3">
              <div class="float-sm-right">
                <button type="button" class="btn btn-success btn-success-outline btn-flat mt-sm-4" data-toggle="modal" data-target="#add-greenhouse"><i class="fa fa-plus pr-2"></i> Add type</button>
              </div>
            </div>
          </div>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table class="table custom-normal-table accounts-records">
                  <thead>
                    <tr>
                      <th>TYPE NAME</th>
                      <th>DESCRIPTION</th>
                      <th>SIZE</th>
                      <th>PRODUCT LINKS</th>
                      <th colspan="2">CREATED BY & DATE</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for type in TYPES %}
                    <tr>
                      <td><span class="f-14-bold dark-grey-text">{{type.name}}</span></td>
                      <td class="max-350 responsive-wrap">
                        {{type.description}}
                      </td>
                      <td> {{type.size}}</td>
                      <td><a href="#" class="blue-link"> {{type.info_link}}</a></td>
                      <td>
                        <span class="avatar" style="background-image: url(../../assets/img/avatar.png);">
                          &nbsp;
                        </span>
                        <span class="names">
                          {{type.created_by.first_name}} {{type.created_by.last_name}}
                          <span class="date">{{type.created}}</span>
                        </span>
                      </td>

                      <td>
                        <a href="" class="btn btn-success btn-success-outline btn-flat mr-3" data-toggle="modal" data-target="#edit-greenhouse">Edit</a>
                        <a href="" class="btn btn-success btn-danger-outline btn-flat">Remove</a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>

      {% include '/shared/footer.html' %}

      <!-- Add Greenhouse -->

      <div class="modal fade custom-modal" id="add-greenhouse" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row">
                <div class="col-sm-12">
                  <h3>Add greenhouse type</h3>
                </div>
              </div>
            </div>
            <div class="modal-body pl-3 pr-1">
              <form>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label>Type name</label>
                      <input type="text" class="form-control" id="" placeholder="Mwanzishi" />
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="form-group">
                      <label>Size of greenhouse</label>
                      <input type="text" class="form-control" id="" placeholder="10ft x10ft" />
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Product links</label>
                      <input type="text" class="form-control" id="" placeholder="1223143243//ss" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 mb-4">
                    <label class="f-12-light light-grey-text">Creation date</label>
                    <div class="meta-data-sm">
                      <span class="f-12-medium">{{data.utc_date.strftime('%d %B %Y')}}</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Description</label>
                      <textarea class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-sm btn-success btn-add-greenhouse-type">Add</button>
            </div>
          </div>
        </div>
      </div>

      <!-- EdiGreenhouse -->

      <div class="modal fade custom-modal" id="edit-greenhouse" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row">
                <div class="col-sm-12">
                  <h3>Edit greenhouse type</h3>
                </div>
              </div>
            </div>
            <div class="modal-body pl-3 pr-1">
              <form>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label>Type name</label>
                      <input type="text" class="form-control" id="type-name" placeholder="Mwanzishi" />
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="form-group">
                      <label>Size of greenhouse</label>
                      <input type="text" class="form-control" id="type-size" placeholder="10ft x10ft" />
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Product links</label>
                      <input type="text" class="form-control" id="type-link" placeholder="1223143243//ss" />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>Description</label>
                      <textarea class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-sm btn-success">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <!-- <script>
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
      });
    </script> -->



<script>
  var types = {{TYPES|tojson}};
  $(function(){
    
    $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });

        $(".modal").find("button.btn-add-greenhouse-type").on("click", function(){
          var _name = $(".modal").find("#type-name").val().trim();
          if (_name != "") {
            add_greenhouse_type_row(_name);
          }
        });

    $(".btn-add-user").on("click", function(){
      add_user_row();
    });
  });


 


  function add_greenhouse_type_row(_name) {
        if (_name != undefined) {
          $.post(
            "./greenhouse-types",
            {
              "action": "add_greenhouse_type_row",
              "add_greenhouse_type_row": _name
            },
            function(resp){
              document.location.href = document.location.href
            }
          );
        }
      }

  function remove_user_row(row) {
    var rows = $(".users-to-add .row")
    if (rows.length > 1) {
      row.closest('.row').remove();
      update_tally();
    }
  }

  function add_greenhouse_type_row() {
    $(".users-to-add").append($(".user-fields .row").clone());
    $(".users-to-add .select2").select2();

    update_tally();
  }

  function add_user_row_with_data(data) {
    var fields = $(".user-fields .row").clone();

    fields.find(".col-sm-2:nth-child(1) input").val(data._name);
    fields.find(".col-sm-2:nth-child(2) input").val(data.employee_id);
    fields.find(".col-sm-2:nth-child(4) input").val(data.email_address);
    fields.find(".col-sm-2:nth-child(5) input").val(data.password);

    $(".users-to-add").append(fields);
    $(".users-to-add .select2").select2();

    // add_user_row();

    update_tally();
  }

  function update_tally() {
    var tally = $(".users-to-add").find(".row").length
    $(".badge-user-count").text(tally);
    if (tally == 1) {
      $(".users-to-add .row .btn-remove-row").attr("disabled", "disabled");
    } else {
      $(".users-to-add .row .btn-remove-row").removeAttr("disabled");
    }
  }

  function submit_form() {
      $("form[name='frm_user']").submit();
  }
</script>

  </body>
</html>
