<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customers - Synnefa Farmshield</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1>Inventory</h1>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-sm-12">
              <div class="nav-tabs-custom data mb-5">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#greenhouses" data-toggle="tab" aria-expanded="false">Greenhouses</a></li>
                  <li class=""><a href="#devices" data-toggle="tab" aria-expanded="true">Devices</a></li>
                  <li class=""><a href="#screenhouses" data-toggle="tab" aria-expanded="true">Screenhouses</a></li>
                  <li class=""><a href="#shadenets" data-toggle="tab" aria-expanded="true">Shadenets</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <!-- Greenhouses -->
                <div id="greenhouses" class="tab-pane active">
                  <div class="row">
                    <div class="col-sm-4 col-md-7">
                      <h3 class="mt-2 f-22-medium">Greenhouses <span class="badge badge-default">{{GREENH|list|length}}</span></h3>
                    </div>

                    <div class="col-sm-8 col-md-5">
                      <div class="float-sm-right">
                        <a href="./greenhouse-types" class="btn btn-lg btn-lg-custom btn-success btn-success-outline btn-flat mb-3 mb-sm-0 mr-3 ml-xl-4">Type of greenhouses</a>
                        <div class="btn-group">
                          <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat" data-toggle="dropdown"><i class="fa fa-plus pr-2"></i> Add greenhouse</button>
                          <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>

                          <ul class="dropdown-menu btn-list-sm-text" role="menu">
                            <li>
                              <a href="./greenhouses/add"> <i class="fa fa-plus pr-2"></i> Add a greenhouse</a>
                            </li>
                            <li>
                              <a href="./greenhouses/bulk"><i class="fa fa-plus pr-2"></i> Add greenhouse in bulk </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by greenhouse ID/assigned by/created date" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-5">
                    <div class="col-sm-4 col-md-2">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          {{TYPES|list|length}}<br />
                          <span class="inverse">Type of greenhouses</span>
                        </p>
                      </div>
                    </div>

                    <!-- <div class="col-sm-4 col-md-2 pl-sm-0">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          1<br />
                          <span class="inverse">Mzoefu greenhouses</span>
                        </p>
                      </div>
                    </div> -->

                    <!-- <div class="col-sm-4 col-md-2 pl-sm-0">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          1<br />
                          <span class="inverse">Mwanzishi greenhouses</span>
                        </p>
                      </div>
                    </div> -->

                    <!-- <div class="col-sm-4 col-md-2 pl-sm-0">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          1<br />
                          <span class="inverse">Kadogo greenhouses</span>
                        </p>
                      </div>
                    </div> -->
                    <!-- <div class="col-sm-4 col-md-2 pl-sm-0">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          1<br />
                          <span class="inverse">Custom greenhouses</span>
                        </p>
                      </div>
                    </div> -->
                  </div>

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table section-table section-table-header inventory-greenhouse accounts-records">
                          <thead>
                            <tr>
                              <th colspan="2">&nbsp;</th>
                              <th>GREENHOUSE ID</th>
                              <th>TYPE</th>
                              <th>SIZE</th>
                              <th>DEVICE ID</th>
                              <th>SPEAR ID</th>
                              <th>CREATED BY & DATE</th>
                              <th>ASSIGNED BY & DATE</th>
                              <th>CUSTOMER ID</th>
                              <th colspan="2">STATUS</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr data-toggle="collapse" data-target="#active-greenhouses" class="accordion-toggle">
                              <td colspan="10" class="no-border">
                                <h2> Active Greenhouses <span class="badge badge-default">{{GREENH|selectattr('status','equalto','Active')|list|length}}</span></h2>
                              </td>
                            </tr>

                           
                            <tr>
                              <td colspan="11" class="hidden-table-row">
                                <div class="accordian-body collapse in" id="active-greenhouses">
                                  <table class="table accounts-records">
                                    <tbody>
                                      {% for grn in GREENH %}
                                      {% if grn.status == "Active" %}
                                      <tr>
                                        <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                        <td>
                                          <span class="square">G</span>
                                          <span class="dark-grey-text f-14-bold">{{grn.greenhouse_ref}}</span>
                                        </td>
                                        <td>
                                          <span class="question-icon"><i class="fa fa-question green-text"></i></span> {{grn.greenhouse_type_id.name}}
                                        </td>
                                        <td> {{grn.size}}</td>
                                        <td>
                                          <span class="d-block">D-10002</span>
                                          <span>D-10003</span>
                                        </td>
                                        <td>S-1002</td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            {{grn.created_by.first_name}} 
                                            <span class="date">{{grn.created}}</span>
                                          </span>
                                        </td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            John Handon
                                            <span class="date">12 May 2020</span>
                                          </span>
                                        </td>
                                        <td>24316175</td>
                                        <td><span class="badge badge-success active">{{grn.status}}</span></td>
                                        <td>
                                          <div class="table-dropdown dropdown">
                                            <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                              <!-- Dropdown trigger -->
                                              <i class="fa fa-ellipsis-v"></i>
                                            </a>

                                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                              <li><a href="#">Edit information</a></li>
                                              <li><a href="#">View customer ID</a></li>
                                              <li><a href="#" class="red-link">Deactivate greenhouse</a></li>
                                              <li role="separator" class="divider"></li>
                                              <li class="dropdown-header">Links</li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                            </ul>
                                          </div>
                                        </td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                   
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                            <tr data-toggle="collapse" data-target="#inactive-greenhouses" class="accordion-toggle">
                              <td colspan="10">
                                <h2> Inactive Greenhouse <span class="badge badge-default">{{GREENH|selectattr('status','equalto','Inactive')|list|length}}</span></h2>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="11" class="hidden-table-row">
                                <div id="inactive-greenhouses" class="accordian-body collapse in">
                                  <table class="table accounts-records">
                                    <tbody>
                                      {% for grn in GREENH %}
                                      {% if grn.status != "Active" %}
                                      <tr>
                                        <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                        <td>
                                          <span class="square">G</span>
                                          <span class="dark-grey-text f-14-bold">{{grn.greenhouse_ref}}</span>
                                        </td>
                                        <td>
                                          <span class="question-icon"><i class="fa fa-question green-text"></i></span> {{grn.greenhouse_type_id.name}}
                                        </td>
                                        <td>{{grn.size}}</td>
                                        <td>
                                          <span class="d-block">D-10002</span>
                                          <span>D-10003</span>
                                        </td>
                                        <td>S-1002</td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            {{grn.created_by.first_name}} {{grn.created_by.last_name}}
                                            <span class="date">{{grn.created}}</span>
                                          </span>
                                        </td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            John Handon
                                            <span class="date">12 May 2020</span>
                                          </span>
                                        </td>
                                        <td>24316175</td>
                                        <td><span class="badge badge-success Inactive">{{grn.status}}</span></td>
                                        <td>
                                          <div class="table-dropdown dropdown">
                                            <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                              <!-- Dropdown trigger -->
                                              <i class="fa fa-ellipsis-v"></i>
                                            </a>

                                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                              <li><a href="#">Edit information</a></li>
                                              <li><a href="#">View customer ID</a></li>
                                              <li><a href="#" >Activate greenhouse</a></li>
                                              <li role="separator" class="divider"></li>
                                              <li class="dropdown-header">Links</li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                            </ul>
                                          </div>
                                        </td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                      
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Devices-->

                <div id="devices" class="tab-pane">
                  <div class="row">
                    <div class="col-sm-4 col-md-7">
                      <h3 class="mt-2 f-22-medium">Devices <span class="badge badge-default">{{DEVICES|list|length}}</span></h3>
                    </div>

                    <div class="col-sm-8 col-md-5">
                      <div class="float-sm-right">
                        <a href="./device-types" class="btn btn-lg btn-lg-custom btn-success btn-success-outline btn-flat mb-3 mb-sm-0 mr-3 ml-xl-4">Types of devices</a>
                        <div class="btn-group">
                          <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat" data-toggle="dropdown"><i class="fa fa-plus pr-2"></i> Add device</button>
                          <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>

                          <ul class="dropdown-menu btn-list-sm-text" role="menu">
                            <li>
                              <a href="./devices/add"> <i class="fa fa-plus pr-2"></i> Add a device</a>
                            </li>
                            <li>
                              <a href="./devices/bulk"><i class="fa fa-plus pr-2"></i> Add devices in bulk </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by Device ID/assigned by/created date" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4 col-md-2">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          {{DEVICETYPE|list|length}}<br />
                          <span class="inverse">Type of devices</span>
                        </p>
                      </div>
                    </div>

                    <!-- <div class="col-sm-4 col-md-2 pl-sm-0">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          1<br />
                          <span class="inverse">Farmshield pro</span>
                        </p>
                      </div>
                    </div> -->

                    <!-- <div class="col-sm-4 col-md-2 pl-sm-0">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          1<br />
                          <span class="inverse">Farmshield premium</span>
                        </p>
                      </div>
                    </div> -->

                    <!-- <div class="col-sm-4 col-md-2 pl-sm-0">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          1<br />
                          <span class="inverse">Farmshield lite</span>
                        </p>
                      </div>
                    </div> -->
                    <!-- <div class="col-sm-4 col-md-2 pl-sm-0">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          1<br />
                          <span class="inverse">Farmshield basic</span>
                        </p>
                      </div>
                    </div> -->
                  </div>

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table section-table section-table-header inventory-device">
                          <thead>
                            <tr>
                              <th>&nbsp;</th>
                              <th>DEVICE ID</th>
                              <th>GREENHOUSE ID</th>
                              <th>TYPE</th>
                              <th>SPEAR ID</th>
                              <th>CREATED BY & DATE</th>
                              <th>ASSIGNED BY & DATE</th>
                              <th>CUSTOMER ID</th>
                              <th>STATUS</th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr data-toggle="collapse" data-target="#active-devices" class="accordion-toggle">
                              <td colspan="10" class="no-border">
                                <h2> Active Devices <span class="badge badge-default">{{DEVICES|selectattr('status','equalto','Active')|list|length}}</span></h2>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="10" class="hidden-table-row">
                                <div class="accordian-body collapse in" id="active-devices">
                                  <table class="table accounts-records">
                                    <tbody>
                                      {% for device in DEVICES %}
                                      {% if device.status == "Active" %}
                                      <tr>
                                        <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                        <td>
                                          <span class="d-block">{{device.name}}</span>
                                        </td>
                                        <td>
                                          <span class="dark-grey-text f-14-bold">G-120001</span>
                                        </td>
                                        <td>
                                          <span class="question-icon"><i class="fa fa-question green-text"></i></span> {{device.type}}
                                        </td>

                                        <td>S-1002</td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            John Handon
                                            <span class="date">12 May 2020</span>
                                          </span>
                                        </td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            John Handon
                                            <span class="date">12 May 2020</span>
                                          </span>
                                        </td>
                                        <td>24316175</td>
                                        <td><span class="badge badge-success active">Active</span></td>
                                        <td>
                                          <div class="table-dropdown dropdown">
                                            <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                              <!-- Dropdown trigger -->
                                              <i class="fa fa-ellipsis-v"></i>
                                            </a>

                                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                              <li><a href="#">Edit information</a></li>
                                              <li><a href="#">View customer ID</a></li>
                                              <li><a href="#" class="red-link">Deactivate device</a></li>
                                              <li role="separator" class="divider"></li>
                                              <li class="dropdown-header">Links</li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                            </ul>
                                          </div>
                                        </td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                      
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                            <tr data-toggle="collapse" data-target="#inactive-devices" class="accordion-toggle">
                              <td colspan="10">
                                <h2>Inactive Devices<span class="badge badge-default">{{DEVICES|selectattr('status','equalto','Inactive')|list|length}}</span></h2>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="10" class="hidden-table-row">
                                <div id="inactive-devices" class="accordian-body collapse in">
                                  <table class="table accounts-records">
                                    <tbody>
                                      {% for device in DEVICES %}
                                      {% if device.status != "Active" %}
                                      <tr>
                                        <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                        <td>
                                          <span class="d-block">D-10002</span>
                                        </td>
                                        <td>
                                          <span class="dark-grey-text f-14-bold">G-120001</span>
                                        </td>
                                        <td>
                                          <span class="question-icon"><i class="fa fa-question green-text"></i></span> Farmshield premium
                                        </td>

                                        <td>S-1002</td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            John Handon
                                            <span class="date">12 May 2020</span>
                                          </span>
                                        </td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            John Handon
                                            <span class="date">12 May 2020</span>
                                          </span>
                                        </td>
                                        <td>24316175</td>
                                        <td><span class="badge badge-success active">Active</span></td>
                                        <td>
                                          <div class="table-dropdown dropdown">
                                            <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                              <!-- Dropdown trigger -->
                                              <i class="fa fa-ellipsis-v"></i>
                                            </a>

                                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                              <li><a href="#">Edit information</a></li>
                                              <li><a href="#">View customer ID</a></li>
                                              <li><a href="#" >Activate device</a></li>
                                              <li role="separator" class="divider"></li>
                                              <li class="dropdown-header">Links</li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                            </ul>
                                          </div>
                                        </td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                      
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Screenhouses-->
                <div id="screenhouses" class="tab-pane">
                  <div class="row">
                    <div class="col-sm-7 col-md-7">
                      <h3 class="mt-2 f-22-medium">Screenhouses <span class="badge badge-default">{{SCREENH|list|length}}</span></h3>
                    </div>

                    <div class="col-sm-5 col-md-5">
                      <div class="float-sm-right">
                        <div class="btn-group">
                          <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat" data-toggle="dropdown"><i class="fa fa-plus pr-2"></i> Add screenhouses</button>
                          <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>

                          <ul class="dropdown-menu btn-list-sm-text" role="menu">
                            <li>
                              <a href="./screenhouses/add"> <i class="fa fa-plus pr-2"></i> Add a screenhouse</a>
                            </li>
                            <li>
                              <a href="./screenhouses/bulk"><i class="fa fa-plus pr-2"></i> Add screenhouses in bulk </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by Device ID/assigned by/created date" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table section-table section-table-header inventory-screenhouse accounts-records">
                          <thead>
                            <tr>
                              <th>&nbsp;</th>
                              <th>SCREENHOUSE ID</th>
                              <th>SIZE</th>
                              <th>CREATED BY & DATE</th>
                              <th>ASSIGNED BY & DATE</th>
                              <th>CUSTOMER ID</th>
                              <th>GREENHOUSE ID</th>
                              <th>FARM ID</th>

                              <th>STATUS</th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr data-toggle="collapse" data-target="#active-screenhouses" class="accordion-toggle">
                              <td colspan="10" class="no-border">
                                <h2> Active Screenhouses <span class="badge badge-default">{{SCREENH|selectattr('status','equalto','Active')|list|length}}</span></h2>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="10" class="hidden-table-row">
                                <div class="accordian-body collapse in" id="active-screenhouses">
                                  <table class="table accounts-records">
                                    <tbody>

                                      {% for scrn in SCREENH %}
                                      {% if scrn.status == "Active" %}
                                      <tr>
                                        <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                        <td>
                                          <span class="dark-grey-text f-14-bold">{{scrn.screenhouse_ref}}</span>
                                        </td>
                                        <td> {{scrn.size}}</td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            {{scrn.created_by.first_name}} {{scrn.created_by.last_name}}
                                            <span class="date">{{scrn.created}}</span>
                                          </span>
                                        </td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            John Handon
                                            <span class="date">12 May 2020</span>
                                          </span>
                                        </td>
                                        <td>24316175</td>
                                        <td>G-120001</td>
                                        <td>1243161</td>
                                        <td><span class="badge badge-success active">{{scrn.status}}</span></td>
                                        <td>
                                          <div class="table-dropdown dropdown">
                                            <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                              <!-- Dropdown trigger -->
                                              <i class="fa fa-ellipsis-v"></i>
                                            </a>

                                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                              <li><a href="#">Edit information</a></li>
                                              <li><a href="#">View customer ID</a></li>
                                              <li><a href="#" class="red-link">Deactivate screenhouse</a></li>
                                              <li role="separator" class="divider"></li>
                                              <li class="dropdown-header">Links</li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                            </ul>
                                          </div>
                                        </td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                        
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                            <tr data-toggle="collapse" data-target="#inactive-screenhouses" class="accordion-toggle">
                              <td colspan="10">
                                <h2> Inactive Screenhouse <span class="badge badge-default">{{GREENH|selectattr('status','equalto','Inactive')|list|length}}</span></h2>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="10" class="hidden-table-row">
                                <div id="inactive-screenhouses" class="accordian-body collapse in">
                                  <table class="table accounts-records">
                                    <tbody>
                                      {% for scrn in SCREENH %}
                                      {% if scrn.status != "Active" %}
                                      <tr>
                                        <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                        <td>
                                          <span class="dark-grey-text f-14-bold">{{scrn.screenhouse_ref}}</span>
                                        </td>
                                        <td>{{scrn.size}}</td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            {{scrn.created_by.first_name}} {{scrn.created_by.last_name}}
                                            <span class="date">{{scrn.created}}</span>
                                          </span>
                                        </td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            John Handon
                                            <span class="date">12 May 2020</span>
                                          </span>
                                        </td>
                                        <td>24316175</td>
                                        <td>G-120001</td>
                                        <td>1243161</td>
                                        <td><span class="badge badge-success Inactive">{{scrn.status}}</span></td>
                                        <td>
                                          <div class="table-dropdown dropdown">
                                            <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                              <!-- Dropdown trigger -->
                                              <i class="fa fa-ellipsis-v"></i>
                                            </a>

                                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                              <li><a href="#">Edit information</a></li>
                                              <li><a href="#">View customer ID</a></li>
                                              <li><a href="/admin/inventory/" name="acct_name">Activate screenhouse</a></li>
                                              <li role="separator" class="divider"></li>
                                              <li class="dropdown-header">Links</li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                            </ul>
                                          </div>
                                        </td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                      
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Shadenets-->
                <div id="shadenets" class="tab-pane">
                  <div class="row">
                    <div class="col-sm-4 col-md-7">
                      <h3 class="mt-2 f-22-medium">Shadenets <span class="badge badge-default">{{SHADEN|list|length}}</span></h3>
                    </div>

                    <div class="col-sm-8 col-md-5">
                      <div class="float-sm-right">
                        <div class="btn-group">
                          <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat" data-toggle="dropdown"><i class="fa fa-plus pr-2"></i> Add shadenets</button>
                          <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>

                          <ul class="dropdown-menu btn-list-sm-text" role="menu">
                            <li>
                              <a href="./shadenets/add"> <i class="fa fa-plus pr-2"></i> Add a shadenets</a>
                            </li>
                            <li>
                              <a href="./shadenets/bulk"><i class="fa fa-plus pr-2"></i> Add shadenets in bulk </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by Device ID/assigned by/created date" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table section-table section-table-header inventory-screenhouse accounts-records">
                          <thead>
                            <tr>
                              <th>&nbsp;</th>
                              <th>SCREENHOUSE ID</th>
                              <th>SIZE</th>
                              <th>CREATED BY & DATE</th>
                              <th>ASSIGNED BY & DATE</th>
                              <th>CUSTOMER ID</th>
                              <th>GREENHOUSE ID</th>
                              <th>FARM ID</th>
                              <th>STATUS</th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr data-toggle="collapse" data-target="#active-shadenets" class="accordion-toggle">
                              <td colspan="10" class="no-border">
                                <h2> Active Shadenets <span class="badge badge-default">{{SHADEN|selectattr('status','equalto','Active')|list|length}}</span></h2>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="10" class="hidden-table-row">
                                <div class="accordian-body collapse in" id="active-shadenets">
                                  <table class="table accounts-records">
                                    <tbody>
                                      {% for shdn in SHADEN %}
                                      {% if shdn.status == "Active" %}
                                      <tr>
                                        <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                        <td>
                                          <span class="dark-grey-text f-14-bold">{{shdn.shadenet_ref}}</span>
                                        </td>
                                        <td>{{shdn.size}}</td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            {{shdn.created_by.first_name}} {{shdn.created_by.last_name}}
                                            <span class="date">{{shdn.created}}</span>
                                          </span>
                                        </td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            John Handon
                                            <span class="date">12 May 2020</span>
                                          </span>
                                        </td>
                                        <td>24316175</td>
                                        <td>G-120001</td>
                                        <td>1243161</td>
                                        <td><span class="badge badge-success active">{{shdn.status}}</span></td>
                                        <td>
                                          <div class="table-dropdown dropdown shadenet-box shadenet-box-active"  aria-shadenet-id="{{shdn.id}}">
                                            <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                              <!-- Dropdown trigger -->
                                              <i class="fa fa-ellipsis-v"></i>
                                            </a>

                                            <ul class="dropdown-menu shadenet-box shadenet-box-inactive" aria-shadenet-id="{{shdn.id}}" aria-labelledby="dLabel">
                                              <li><a href="#">Edit information</a></li>
                                              <li><a href="#">View customer ID</a></li>
                                              <li><a href="/admin/inventory/" name="shadenet_status" class="red-link">Deactivate shadenet</a></li>
                                              <li role="separator" class="divider"></li>
                                              <li class="dropdown-header">Links</li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                            </ul>
                                          </div>
                                        </td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                      <tr>
                                     
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                            <tr data-toggle="collapse" data-target="#inactive-shadenets" class="accordion-toggle">
                              <td colspan="10">
                                <h2> Inactive Shadenets <span class="badge badge-default">{{SHADEN|selectattr('status','equalto','Inactive')|list|length}}</span></h2>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="10" class="hidden-table-row">
                                <div id="inactive-shadenets" class="accordian-body collapse in">
                                  <table class="table accounts-records">
                                    <tbody>
                                      {% for shdn in SHADEN %}
                                      {% if shdn.status != "Active" %}
                                      <tr>
                                        <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                        <td>
                                          <span class="dark-grey-text f-14-bold">{{shdn.shadenet_ref}}</span>
                                        </td>
                                        <td>{{shdn.size}}</td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            {{shdn.created_by.first_name}} {{shdn.created_by.last_name}}
                                            <span class="date">{{shdn.created}}</span>
                                          </span>
                                        </td>
                                        <td>
                                          <span class="avatar" style="background-image: url(/admin/static/img/avatar.png);">
                                            &nbsp;
                                          </span>
                                          <span class="names">
                                            John Handon
                                            <span class="date">12 May 2020</span>
                                          </span>
                                        </td>
                                        <td>24316175</td>
                                        <td>G-120001</td>
                                        <td>1243161</td>
                                        <td><span class="badge badge-success Inactive">{{shdn.status}}</span></td>
                                        <td>
                                          <div class="table-dropdown dropdown shadenet-box shadenet-box-inactive" aria-shadenet-id="{{shdn.id}}">
                                            <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                              <!-- Dropdown trigger -->
                                              <i class="fa fa-ellipsis-v"></i>
                                            </a>

                                            <ul class="dropdown-menu shadenet-box shadenet-box-inactive" aria-shadenet-id="{{shdn.id}}" aria-labelledby="dLabel">
                                              <li><a href="#">Edit information</a></li>
                                              <li><a href="#">View customer ID</a></li>
                                              <li><a href="/admin/inventory/" name="shadenet_status">Activate shadenet</a></li>
                                              <li role="separator" class="divider"></li>
                                              <li class="dropdown-header">Links</li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                              <li><a href="#" class="green-link underline">1234567</a></li>
                                            </ul>
                                          </div>
                                        </td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                 
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  ./row -->
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script>
       var shades = {{SHADEN|tojson}};
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });

  
        $('input[name="shadenet_status"]').on("change", function(){
          var sh = $(this).closest(".shadenet-box");
          if (sh.hasClass("shadenet-box-inactive")) {
            deactivate_shadenet(sh.attr("aria-shadenet-id"))
           
          }
          if (sh.hasClass("shadenet-box-inactive")) {
            activate_shadenet(sh.attr("aria-shadenet-id"))
            
          }
        });

      });


      function activate_greenhouse(greenhouse_id) {
        if (greenhouse_id != undefined) {
          $.post(
            "./",
            {
              "action": "activate_greenhouse",
              "greenhouse_id": greenhouse_id
            },
            function(resp){
              document.location.href = document.location.href
            }
          );
        }
      }

      function activate_screenhouse(screenhouse_id) {
        if (screenhouse_id != undefined) {
          $.post(
            "./",
            {
              "action": "activate_screenhouse",
              "screenhouse_id": screenhouse_id
            },
            function(resp){
              document.location.href = document.location.href
            }
          );
        }
      }

      function activate_shadenet(shadenet_id) {
        if (shadenet_id != undefined) {
          $.post(
            "./",
            {
              "action": "activate_shadenet",
              "shadenet_id": shadenet_id
            },
            function(resp){
              document.location.href = document.location.href
            }
          );
        }
      }

      function deactivate_greenhouse(rgreenhouse_id) {
        if (greenhouse_id != undefined) {
          $.post(
            "./",
            {
              "action": "deactivate_greenhouse",
              "greenhouse_id": greenhouse_id
            },
            function(resp){
              document.location.href = document.location.href
            }
          );
        }
      }

      function deactivate_screenhouse(screenhouse_id) {
        if (screenhouse_id != undefined) {
          $.post(
            "./",
            {
              "action": "deactivate_screenhouse",
              "screenhouse_id": screenhouse_id
            },
            function(resp){
              document.location.href = document.location.href
            }
          );
        }
      }

      function deactivate_shadenet(shadenet_id) {
        if (shadenet_id != undefined) {
          $.post(
            "./",
            {
              "action": "deactivate_shadenet",
              "shadenet_id": shadenet_id
            },
            function(resp){
              document.location.href = document.location.href
            }
          );
        }
      }
    </script>

  </body>
</html>
