@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@font-face {
    font-family: 'mark_black-italicblack';
    src: url('../fonts/markblack-italic-webfont.woff2') format('woff2'),
         url('../fonts/markblack-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark_blackblack';
    src: url('../fonts/markblack-webfont.woff2') format('woff2'),
         url('../fonts/markblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-bold-italicbold';
    src: url('../fonts/markbold-italic-webfont.woff2') format('woff2'),
         url('../fonts/markbold-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-boldbold';
    src: url('../fonts/markbold-webfont.woff2') format('woff2'),
         url('../fonts/markbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-book-italicbook';
    src: url('../fonts/markbook-italic-webfont.woff2') format('woff2'),
         url('../fonts/markbook-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-bookbook';
    src: url('../fonts/markbook-webfont.woff2') format('woff2'),
         url('../fonts/markbook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-extralight-italicXLt';
    src: url('../fonts/markextralight-italic-webfont.woff2') format('woff2'),
         url('../fonts/markextralight-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-extralightextralight';
    src: url('../fonts/markextralight-webfont.woff2') format('woff2'),
         url('../fonts/markextralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-hairline-italichairline';
    src: url('../fonts/markhairline-italic-webfont.woff2') format('woff2'),
         url('../fonts/markhairline-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-hairlinehairline';
    src: url('../fonts/markhairline-webfont.woff2') format('woff2'),
         url('../fonts/markhairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-heavy-italicheavy';
    src: url('../fonts/markheavy-italic-webfont.woff2') format('woff2'),
         url('../fonts/markheavy-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-heavyheavy';
    src: url('../fonts/markheavy-webfont.woff2') format('woff2'),
         url('../fonts/markheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-light-italiclight';
    src: url('../fonts/marklight-italic-webfont.woff2') format('woff2'),
         url('../fonts/marklight-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-lightlight';
    src: url('../fonts/marklight-webfont.woff2') format('woff2'),
         url('../fonts/marklight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-medium-italicmedium';
    src: url('../fonts/markmedium-italic-webfont.woff2') format('woff2'),
         url('../fonts/markmedium-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-mediummedium';
    src: url('../fonts/markmedium-webfont.woff2') format('woff2'),
         url('../fonts/markmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-regularregular';
    src: url('../fonts/markregular-webfont.woff2') format('woff2'),
         url('../fonts/markregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-regular-italicregular';
    src: url('../fonts/markregularitalic-webfont.woff2') format('woff2'),
         url('../fonts/markregularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-smallcaps-blacksmallcaps';
    src: url('../fonts/marksmallcaps-black-webfont.woff2') format('woff2'),
         url('../fonts/marksmallcaps-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-smallcaps-regulsmallcaps';
    src: url('../fonts/marksmallcaps-regular-webfont.woff2') format('woff2'),
         url('../fonts/marksmallcaps-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-thin-italicthin';
    src: url('../fonts/markthin-italic-webfont.woff2') format('woff2'),
         url('../fonts/markthin-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mark-thinthin';
    src: url('../fonts/markthin-webfont.woff2') format('woff2'),
         url('../fonts/markthin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$theme-color: #33cc33;

html {
  height: 100%;

  body {
    min-height: 100% !important;
    height: 100%;
    min-width: 1280px;
    font-family: 'mark-mediummedium' !important;

    .clearing {
      clear: both;
      height: 0px;
    }

    &.skin-igh {

    	.main-header {
        position: fixed;

    		.navbar {
    			background-color: #ffffff;
    			.nav {
    				>li {

    					>a {
    						color: #828282;
    						&:hover {
    							background: rgba(0, 0, 0, 0.5);
    							color: #f6f6f6;
    						}
    						&:active {
    							background: rgba(0, 0, 0, 0.5);
    							color: #f6f6f6;
    						}
    						&:focus {
    							background: rgba(0, 0, 0, 0.5);
    							color: #f6f6f6;
    						}
    					}
    				}
    				.open {
    					>a {
    						background: rgba(0, 0, 0, 0.5);
    						color: #f6f6f6;
    						&:hover {
    							background: rgba(0, 0, 0, 0.5);
    							color: #f6f6f6;
    						}
    						&:focus {
    							background: rgba(0, 0, 0, 0.5);
    							color: #f6f6f6;
    						}
    					}
    				}
    				>.active {
    					>a {
    						background: rgba(0, 0, 0, 0.5);
    						color: #f6f6f6;
    					}
    				}
    			}
    			.sidebar-toggle {
    				color: rgba(255, 255, 255, 0.8);
    				color: #828282;
    				&:hover {
    					color: #f6f6f6;
    					background: rgba(0, 0, 0, 0.1);
    					background-color: rgba(0, 0, 0, 0.5);
    				}
    			}
    		}
    		.logo {
    			background-color: #33cc33;
    			color: #ffffff;
    			border-bottom: 0 solid transparent;
    			&:hover {
    				background-color: #33cc33;
    			}
    		}
    		.nav {
    			li {
    				color: #a4a4a4;
    			}
    		}
    		li.user-header {
    			background-color: #33cc33;
    		}
    	}
    	.content-header {
    		background: transparent;
        height: 100% !important;
        max-height: 100% !important;
        overflow-y: auto !important;
    	}
    	.wrapper {
        background-color: #ecf0f5;
    	}
    	.main-sidebar {
    		background-color: #342516;
        position: fixed;
    	}
    	.left-side {
    		background-color: #3d3d3e;
    	}
    	.user-panel {
    		>.info {
    			color: #fff;
    			>a {
    				color: #fff;
    			}
    		}
    	}
    	.sidebar-menu {

    		>li.header {
    			color: #707071;
    			background: #333334;
    		}
    		>li {
    			>a {
    				border-left: 3px solid transparent;
    			}
    			&:hover {
    				>a {
    					color: #ffffff;
    					background: #5d5145;
    					border-left-color: #5d5145;
    				}
    			}
    			>.treeview-menu {
    				margin: 0 1px;
    				background: #4a4a4b;
    			}
    		}
    		>li.active {
    			>a {
    				color: #ffffff;
            background: #5d5145;
            border-left-color: #5d5145;
    			}
    		}
        li.no-hover {
          &:hover {
            background-color: #333334;
          }
        }
    	}
    	.sidebar {
    		a {
    			color: #d6d6d7;
    			&:hover {
    				text-decoration: none;
    			}
    		}
    	}
    	.treeview-menu {
    		>li {
    			>a {
    				color: #b0b0b1;
    				&:hover {
    					color: #ffffff;
    				}
    			}
          &.no-hover {
            &:hover {
              background-color: #4a4a4b;
            }
          }

    		}
    		>li.active {
    			>a {
    				color: #ffffff;
    			}
    		}
        >li.no-hover {

          &:hover {
            background-color: #fff;
            background: transparent;
          }
        }
    	}
    	.sidebar-form {
    		border-radius: 3px;
    		border: 1px solid #565658;
    		margin: 10px 10px;
    		input[type="text"] {
    			box-shadow: none;
    			background-color: #565658;
    			border: 1px solid transparent;
    			height: 35px;
    			color: #666;
    			border-top-left-radius: 2px;
    			border-top-right-radius: 0;
    			border-bottom-right-radius: 0;
    			border-bottom-left-radius: 2px;
    			&:focus {
    				background-color: #fff;
    				color: #666;
    				+ {
    					.input-group-btn {
    						.btn {
    							background-color: #fff;
    							color: #666;
    							border-left-color: #fff;
    						}
    					}
    				}
    			}
    		}
    		.btn {
    			box-shadow: none;
    			background-color: #565658;
    			border: 1px solid transparent;
    			height: 35px;
    			color: #999;
    			border-top-left-radius: 0;
    			border-top-right-radius: 2px;
    			border-bottom-right-radius: 2px;
    			border-bottom-left-radius: 0;
    		}
    	}

      .shadow-outline {
        box-shadow: 3px 3px 6px #ddd;
      }

      .white-block {
        background-color: #fff;
        padding: 10px;
      }

      .new-section {
        margin-bottom: 30px;
      }

      .select2 {
        display: inline-block;
        min-width: 120px;

        &.select2-container--default {

          .select2-selection--single {
            border-color: $theme-color !important;
            background: none;

            .select2-selection__rendered {
              color: $theme-color !important;
            }

            .select2-selection__arrow {

              b {
                border: none;
                top: 25%;
                &::before {
                  font-family:fontAwesome;
                  content: "\f107";
                  color: $theme-color !important;
                }
              }
            }
          }

          .select2-search--dropdown {

            .select2-search__field {
              border: 1px solid $theme-color;
            }
          }

          .select2-results__option[aria-selected="true"], .select2-results__option[aria-selected="true"]:hover {
            background-color: #fff;
          }
        }
      }

      .btn-group {

        .btn {

          &.active {
            background-color: $theme-color !important;
            border-color: $theme-color !important;
            color: #fff;
          }
        }
      }

      .month-select {
        display: inline-block;
        width: 110px;
        text-align: left;
      }

      .year-select {
        display: inline-block;
        width: 70px;
      }

      .chart-meta {
        margin-top: 20px;
        margin-bottom: 20px;

        h6 {
          margin: 10px auto 5px;
          font-size: 14px;
          font-family: 'mark-mediummedium' !important;
        }

        p {
          font-family: '≈' !important;
          font-size: 13px;
          color: #555;
          margin: 5px auto;
        }
      }

      .chart-periods {
        margin-bottom: 20px;
      }

      .chart-area {

        .chart-container {
          overflow-x: auto;
          overflow-y: hidden;
          background-color: #fff;

          .chart {
            height: 400px;
            background-color: #fff;
            position: relative;
            font-family: 'mark-mediummedium' !important;
            font-size: 12px;
            color: #999;
            padding-top: 10px;

            .ct-label {
              font-family: 'mark-mediummedium' !important;
              font-size: 10px;
            }

            .ct-bar {
              stroke: $theme-color;
              stroke-width: 20px;
            }

            .ct-grid {
              border-style: solid;
              stroke: rgba(0,0,0,.1);
              stroke-dasharray: 0px;
            }

            .y-axis {
              position: absolute;
              height: 90%;
              width: 40px;
              top: 15px;
              left: 0px;

              .axis-label {
                position: relative;
                height: 90%;
                width: 3px;
                border-right: 1px solid #eee;

                span {
                  position: absolute;
                  display: inline-block;
                  background-color: #fff;
                  white-space: nowrap;
                  top: 140px;
                  left: -24px;
                  padding: 0 5px;
                  font-size: 10px;
                  text-align: center;
                  transform: rotate(270deg);
                }
              }

            }

            .x-axis {
              position: absolute;
              top: 15px;
              left: 0px;
              width: 100%;
              height: 100%;

              .chart-data {
                position: relative;
                width: 100%;
                height: calc(85% - 5px);
                background-color: transparent;
              }

              .axis-label {
                margin-top: 10px;
                height: calc(10% + 10px);
                position: relative;
                bottom: 0px;
                left: 60px;
                width: calc(100% - 75px);
                text-align: center;
                border-top: 1px solid #eee;

                span {
                  position: relative;
                  display: inline-block;
                  background-color: #fff;
                  white-space: nowrap;
                  top: -10px;
                  left: 0px;
                  padding: 0 30px;
                  font-size: 10px;
                }
              }
            }
          }
        }
      }

      .actions {

        .btn-group {

          .dropdown-menu {

            a {
              color: #777;
              text-decoration: none;
            }
          }
        }
      }

      h4 {
        font-size: 20px;
        font-family: 'mark-mediummedium' !important;
      }

      &.login-page {
        background-color: #efefef;
        height: 100%;

        .wrapper {
          width: 100%;
          height: 100%;
          margin: 0px auto;
          background-color: #fff;

          .col {
            width: 50%;
            height: 100%;
            float: left;

            &.farm-image {
              background-image: url(../../img/farm.jpg);
              background-position: center center;
              background-size: cover;
            }

            .login-form {
              padding-top: 150px;

              .login-box {
                text-align: center;
                margin: auto;

                h2 {
                  font-weight: 700;
                  font-family: 'mark-mediummedium' !important;
                }

                .login-box-msg {
                  font-size: 12px;
                  padding: 5px;
                }

                .login-box-body {

                  form {

                    .form-group {

                      .form-control {
                        padding: 13px;
                        height: auto;
                      }

                      button.btn-login {
                        padding: 13px;
                        height: auto;
                        margin-top: 30px;
                        background-color: $theme-color;
                        border: none;
                      }
                    }

                    .resp-text {
                      text-align: left;
                    }

                    .forgot-password {
                      color: $theme-color;
                      font-size: 14px;
                      display: inline-block;
                      margin-bottom: 30px;
                    }

                    .btn-request-invite {
                      background-color: #fff;
                      border: 1px solid $theme-color;
                      color: $theme-color;
                      padding: 10px 15px;
                      height: auto;
                    }
                  }

                }
              }
            }
          }
        }
      }

      &.request-invite-page {
        background-color: #f7f8fa;
        height: 100%;
        background-image: url(../../img/register_left_bg.jpg);
        background-repeat: no-repeat;
        background-position: left bottom;

        .wrapper {
          width: 100%;
          height: 100%;
          padding: 30px;
          background: none;
          background-image: url(../../img/register_right_bg.jpg);
          background-repeat: no-repeat;
          background-position: right bottom;

          .login-box {

            .login-box-body {
              background: none;

              h2 {
                font-weight: 700;
                font-family: 'mark-mediummedium' !important;
                color: #000;
              }

              .login-box-msg {
                font-size: 12px;
                padding: 5px;
                color: #333;
              }


              form {
                margin-top: 30px;

                .form-group {

                  .form-control {
                    padding: 13px;
                    height: auto;
                  }

                  .select2 {

                    &.select2-container--default {

                      .select2-selection--single {
                        height:45px;

                        .select2-selection__rendered {
                          margin-top: 0px;
                        }

                        .select2-selection__arrow {

                          b {
                            border: none;
                            top: 35%;
                            &::before {
                              font-family:fontAwesome;
                              content: "\f107";
                              color: $theme-color !important;
                            }
                          }
                        }
                      }

                      .select2-search--dropdown {

                        .select2-search__field {
                          border: 1px solid $theme-color;
                        }
                      }

                      .select2-results__option[aria-selected="true"], .select2-results__option[aria-selected="true"]:hover {
                        background-color: #fff;
                      }
                    }
                  }


                  button.btn-request-invite {
                    padding: 13px;
                    height: auto;
                    margin-top: 30px;
                    margin-bottom: 50px;
                    background-color: $theme-color;
                    border: none;
                  }
                }

                .resp-text {
                  text-align: left;
                }

                .forgot-password {
                  color: $theme-color;
                  font-size: 14px;
                  display: inline-block;
                  margin-bottom: 30px;
                }

                .btn-login {
                  background-color: #fff;
                  border: 1px solid $theme-color;
                  color: $theme-color;
                  padding: 10px 50px;
                  height: auto;
                }
              }
            }
          }

        }
      }


      &.register-page {
        background-color: #f7f8fa;
        height: 100%;
        background-image: url(../../img/register_left_bg.jpg);
        background-repeat: no-repeat;
        background-position: left bottom;

        .wrapper {
          width: 100%;
          height: 100%;
          padding: 30px;
          background: none;
          background-image: url(../../img/register_right_bg.jpg);
          background-repeat: no-repeat;
          background-position: right bottom;

          .login-box {

            .login-box-body {
              background: none;

              h2 {
                font-weight: 700;
                font-family: 'mark-mediummedium' !important;
                color: #000;
              }

              .login-box-msg {
                font-size: 12px;
                padding: 5px;
                color: #333;
              }

              form {
                margin-top: 30px;

                .form-group {

                  .form-control {
                    padding: 13px;
                    height: auto;
                  }

                  button.btn-request-invite {
                    padding: 13px;
                    height: auto;
                    margin-top: 30px;
                    margin-bottom: 50px;
                    background-color: $theme-color;
                    border: none;
                  }
                }

                .resp-text {
                  text-align: left;
                }

                .forgot-password {
                  color: $theme-color;
                  font-size: 14px;
                  display: inline-block;
                  margin-bottom: 30px;
                }

                .btn-login {
                  background-color: #fff;
                  border: 1px solid $theme-color;
                  color: $theme-color;
                  padding: 10px 50px;
                  height: auto;
                }
              }
            }
          }

        }
      }

      &.reset-request-page {
        background-color: #f7f8fa;
        height: 100%;
        background-image: url(../../img/register_left_bg.jpg);
        background-repeat: no-repeat;
        background-position: left bottom;

        .wrapper {
          width: 100%;
          height: 100%;
          padding: 30px;
          background: none;
          background-image: url(../../img/register_right_bg.jpg);
          background-repeat: no-repeat;
          background-position: right bottom;

          .login-box {

            .login-box-body {
              background: none;

              h2 {
                font-weight: 700;
                font-family: 'mark-mediummedium' !important;
                color: #000;
              }

              .login-box-msg {
                font-size: 12px;
                padding: 5px;
                color: #333;
              }

              form {
                margin-top: 30px;

                .form-group {

                  .form-control {
                    padding: 13px;
                    height: auto;
                  }

                  button.btn-request-invite {
                    padding: 13px;
                    height: auto;
                    margin-top: 30px;
                    margin-bottom: 20px;
                    background-color: $theme-color;
                    border: none;
                  }
                }

                .resp-text {
                  text-align: left;
                }

              }
            }
          }

        }
      }

      &.reset-page {
        background-color: #f7f8fa;
        height: 100%;
        background-image: url(../../img/register_left_bg.jpg);
        background-repeat: no-repeat;
        background-position: left bottom;

        .wrapper {
          width: 100%;
          height: 100%;
          padding: 30px;
          background: none;
          background-image: url(../../img/register_right_bg.jpg);
          background-repeat: no-repeat;
          background-position: right bottom;

          .login-box {

            .login-box-body {
              background: none;

              h2 {
                font-weight: 700;
                font-family: 'mark-mediummedium' !important;
                color: #000;
              }

              .login-box-msg {
                font-size: 12px;
                padding: 5px;
                color: #333;
              }

              form {
                margin-top: 30px;

                .form-group {

                  .form-control {
                    padding: 13px;
                    height: auto;
                  }

                  button.btn-request-invite {
                    padding: 13px;
                    height: auto;
                    margin-top: 30px;
                    margin-bottom: 20px;
                    background-color: $theme-color;
                    border: none;
                  }
                }

                .resp-text {
                  text-align: left;
                }

              }
            }
          }

        }
      }

      &.activate-page {
        background-color: #f7f8fa;
        height: 100%;
        background-image: url(../../img/register_left_bg.jpg);
        background-repeat: no-repeat;
        background-position: left bottom;

        .wrapper {
          width: 100%;
          height: 100%;
          padding: 30px;
          background: none;
          background-image: url(../../img/register_right_bg.jpg);
          background-repeat: no-repeat;
          background-position: right bottom;

          .login-box {

            .login-box-body {
              background: none;

              h2 {
                font-weight: 700;
                font-family: 'mark-mediummedium' !important;
                color: #000;
              }

              .login-box-msg {
                font-size: 12px;
                padding: 5px;
                color: #333;
              }

              form {
                margin-top: 30px;

                .form-group {

                  .form-control {
                    padding: 13px;
                    height: auto;
                  }

                  button.btn-request-invite {
                    padding: 13px;
                    height: auto;
                    margin-top: 30px;
                    margin-bottom: 20px;
                    background-color: $theme-color;
                    border: none;
                  }
                }

                .resp-text {
                  text-align: left;
                }

              }
            }
          }

        }
      }

      &.error-p {
        background-color: #f7f8fa;
        height: 100%;
        width: 100%;
        background-image: url(../../img/register_left_bg.jpg);
        background-repeat: no-repeat;
        background-position: left bottom;
        padding: 0px;

        .wrapper {
          width: 100%;
          height: 100%;
          padding: 30px;
          background: none;
          background-image: url(../../img/register_right_bg.jpg);
          background-repeat: no-repeat;
          background-position: right bottom;

          .login-box {
            width: 500px;

            .login-box-body {
              background: none;

              h2 {
                font-weight: 700;
                font-family: 'mark-mediummedium' !important;
                color: #000;
              }
            }
          }
        }
      }

      .main-header {
        background: none;

        .logo {
          background-color: #342516;

          a {
            line-height: 25px;
            color: #fff;

            &.logo-lg {
              text-align: left;
              padding: 10px 0;
              width: 100%;

              img {
                float: left;
              }
            }

            &.logo-mini {
              text-align: right;

              img {
                float: right;
              }
            }

            &::before {
              content: "" !important;
            }

            &::after {
              content: "\f0c9";
              display: block;
              float: right;
            }

          }

          &:hover {
            background-color: #5d5145;
            background-color: #342516;
          }
        }

      }

      .main-sidebar {
        font-family: 'mark-regularregular' !important;
        font-size: 13px;

        .sidebar {

          hr {
            border: 0;
            height: 1px;
            background-color: #5d5145;
            margin: 0px;
          }

          .user-panel {
            margin-top: 20px;
            margin-bottom: 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid #5d5145;

            .farm-icon {
              width: 30px;
              height: 30px;
              @include border-radius(10%);
              border: 1px solid #fff;
              background-image: url(../../img/farm-icon.jpg);
            }

            .info {
              left: 35px;
              width: calc(100% - 45px);

              .farm-name {
                padding-top: 5px;
              }

              .farm-actions {
                text-align: right;

                .btn-swith-farm {
                  background-color: #5d5145;
                  color: #fff;
                  border-color: #5d5145;
                }
              }
            }
          }

          .treeview {

            a {

              .igh-icon {
                display: inline-block;
                width: 15px;
                height: 15px;
                filter: grayscale(100%);
                margin-right: 5px;
              }
            }

            ul.treeview-menu {
              padding: 0px !important;
              background-color: #342516;

              li {
                background-color: #342516;
                // padding-left: 26px;

                a {
                  font-size: 12px;
                  color: #fff;
                }

                &:hover {
                  background-color: #5d5145;
                }

                &.user-config {
                  padding-left: 15px;
                }

                &.no-hover {

                  &:hover {
                    background-color: #342516;
                  }
                }

              }
            }
          }
        }
      }

      #switch_farm.modal {
        background: none;

        .modal-dialog {
          margin-top: 15%;

          .modal-content {
            padding: 20px;

            .modal-header {
              border: none;
              color: #000;
              font-weight: bold;

              h3 {
                margin: 0px;
                padding: 0px;
                font-size: 15px;
                font-family: 'mark-boldbold' !important;
              }

              p {
                font-weight: normal;
                font-size: 13px;
                font-family: 'mark-regularregular' !important;

                &.inverted {
                  color: #777;
                }
              }
            }

            .modal-body {
              padding: 0px;
              margin-top: 0px;

              .farms {
                padding: 0px;
                margin: 0px;
                position: relative;
                vertical-align: top;

                li {
                  position: relative;
                  list-style: none;
                  display: block;
                  float: left;
                  top: 0px;
                  padding: 0 15px;
                  height: 160px;
                  margin-bottom: 20px;

                  &.farm {
                    position: relative;

                    a {
                      cursor: pointer;

                      .photo {
                        position: relative;
                        display: block;
                        width: 95px;
                        height: 95px;
                        background-color: #efefef;
                        background-position: center center;
                        background-size: cover;
                        text-align: center;
                        border: 4px solid $theme-color;

                        .label {
                          position: relative;
                          display: inline-block;
                          top: 35%;

                          &.is-active {
                            color: #fff;
                            background-color: rgba(51,204,51,.9);
                            display: inline-block;
                            font-family: 'mark-regularregular' !important;
                            padding: 5px;
                          }

                          &.inactive {
                            color: #fff;
                            background-color: rgba(72,72,72,.9);
                            display: inline-block;
                            font-family: 'mark-regularregular' !important;
                            padding: 5px;
                          }
                        }
                      }

                    }

                    .meta {
                      display: block;
                      margin: 5px auto;

                      .name {
                        display: block;
                        text-align: center;
                        font-size: 13px;

                        a {
                          color: #333;
                        }
                      }

                      .location {
                        display: block;
                        font-family: 'mark-regularregular' !important;
                        font-size: 12px;
                        text-align: center;
                        font-weight: 300;
                        padding: 5px 0;
                        color: #aaa;
                      }

                      .edit-farm {
                        display: block;
                        text-align: center;

                        a {
                          color: $theme-color;
                        }

                      }
                    }

                    &.inactive-farm {

                      .photo {
                        border-color: #ccc;
                      }
                    }

                    &.active-farm {
                      .photo {
                        border-color: #555;
                      }
                    }

                    &.farm-add {

                      a {
                        color: $theme-color;

                        .photo {
                          border-width: 2px;
                          display: table-cell;
                          vertical-align: middle;

                          .fa-plus {
                            margin-bottom: 10px;

                          }

                          .name {

                          }
                        }

                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.summary-page {
        font-family: 'mark-mediummedium' !important;
        overflow-x: auto !important;
        min-height: 100%;
        min-width: 1200px !important;

        .content-wrapper {
          min-height: 100% !important;
          background-color: #ecf0f5;
          min-width: 1200px !important;

          .content {
            padding: 0px;
            min-height: 100%;
            min-width: 1200px !important;

            >.row {
              padding: 0px;
              margin: 0px;
              min-height: 100%;

              .main-view {

                h3 {
                  font-weight: 500;
                  font-size: 28px;
                  font-family: 'mark-mediummedium' !important;
                  color: #000;
                }

                nav {
                  padding: 15px;

                  .nav {

                    li {

                      .weather {
                        background-color: #fff;
                        padding: 10px 15px;
                        font-size: 12px;
                        display: table-cell;
                        height: 55px;
                        margin-right: 15px;

                        .city {
                          font-weight: 500;
                          font-family: 'mark-heavyheavy' !important;
                          vertical-align: middle;
                        }

                        .narration {
                          color: #777;
                          vertical-align: middle;
                        }

                        .temp {
                          font-weight: 600;
                          font-size: 18px;
                          margin-left: 20px;
                          vertical-align: middle;
                        }

                        .icon {
                          font-weight: 600;
                          font-size: 24px;
                          vertical-align: middle;
                          margin-left: 10px;

                        }
                      }

                      &.sys-alerts {
                        background-color: #fff;
                        margin-left: 15px;
                        height: 55px;

                        a.dropdown-toggle {
                          height: 55px;
                          padding: 20px 15px;
                          overflow: hidden;
                          background-color: #fff;
                          text-align: center;

                          .badge {
                            font-family: 'mark-lightlight' !important;
                            font-size: 9px;
                            font-weight: 100;
                            padding: 5px;

                          }
                        }

                        .dropdown-menu {
                          margin-top: 3px;

                          li {

                            &.header {
                              font-weight: 600;

                              .badge {
                                font-family: 'mark-lightlight' !important;
                                font-size: 10px;
                                font-weight: 100;
                                padding: 5px;
                              }

                              .date {
                                font-weight: 200;
                                color: #777;
                                font-size: 12px;
                              }
                            }

                            &.alert-item {
                              padding: 10px;
                              font-size: 13px;
                              border-bottom: 1px solid #efefef;

                              .header {
                                font-weight: 600;
                                display: block;
                                margin-bottom: 3px;
                              }

                              .copy {
                                display: block;
                                margin-bottom: 8px;
                                color: #666;
                              }

                              .timestamp {
                                display: block;
                                margin-bottom: 8px;
                                color: #777;
                                font-weight: 200;
                              }

                              .btn-action {
                                background-color: #fff;
                                border: 1px solid $theme-color;
                                color: $theme-color;
                                padding: 5px 10px;
                                height: auto;
                              }
                            }

                            &.footer {

                              a {
                                font-weight: 600;
                                color: $theme-color !important;
                                background-color: #e1f4e4;
                              }
                            }

                          }
                        }
                      }

                      &.user-menu {
                        background-color: #fff;
                        margin-left: 15px;
                        height: 55px;

                        a.dropdown-toggle {
                          height: 55px;
                          padding: 20px 15px;
                          overflow: hidden;
                          background-color: #fff;
                          color: #333;

                          .fa-chevron-down {
                            color: $theme-color;
                          }
                        }

                        .dropdown-menu {
                          width: 189px;
                          margin-top: 3px;

                          li {

                            a {
                              padding: 10px;
                              font-weight: 400;
                            }
                          }
                        }
                      }
                    }
                  }
                }

                .customer {

                  .white-block {
                    height: 150px;
                    padding: 20px;
                    position: relative;

                    h3 {
                      margin: 0px;
                    }

                    p {
                      font-family: 'mark-regularregular' !important;

                      &.caption {
                        color: #999;
                        margin: 5px auto;
                      }

                      &.bottom {
                        position: absolute;
                        bottom: 10px;
                        font-size: 12px;
                        color: $theme-color;

                        a {
                          color: $theme-color;
                          display: inline-block;
                          margin-right: 15px;
                          text-decoration: underline;
                        }

                      }
                    }
                  }

                }

                .products {

                  h4 {
                    margin-bottom: 20px;
                  }

                  .white-block.product {
                    height: 220px;
                    position: relative;

                    .photo {
                      height: 75px;
                      background-color: #efefef;
                      background-size: cover;
                      background-position: center center;
                    }

                    h5 {
                      margin: 10px auto 5px;
                      font-size: 18px;
                      font-family: 'mark-mediummedium' !important;

                      small {
                        color: #333;
                      }
                    }

                    p {
                      font-family: 'mark-regularregular' !important;
                      font-size: 13px;

                      &.caption {
                        color: #555;
                        margin: 5px auto;
                      }

                      &.inverse {
                        position: absolute;
                        bottom: 5px;
                        font-size: 12px;
                        color: #aaa;

                        &.positive {
                          color: $theme-color;
                        }

                        a {
                          color: $theme-color;
                          text-decoration: underline;
                        }
                      }
                    }

                    &.greenhouses {

                      .photo {
                        background-image: url(../../img/greenhouse.jpg);
                      }
                    }

                    &.external-shields {

                      .photo {
                        background-image: url(../../img/external-shield.jpg);
                      }
                    }

                    &.screenhouses {

                      .photo {
                        background-image: url(../../img/screenhouse.jpg);
                      }
                    }

                    &.shadenets {

                      .photo {
                        background-image: url(../../img/shadenet.jpg);
                      }
                    }
                  }

                }

                .overview {

                  h4 {
                    margin-bottom: 10px;
                  }

                  h5 {
                    margin: 10px auto 10px;
                    font-size: 16px;
                    font-family: 'mark-mediummedium' !important;
                  }

                  .nav-tabs-custom {
                    background: none;

                    .tab-content {
                      background: none !important;

                      .tab-pane {

                        .white-block {
                          padding: 20px;
                          margin-bottom: 20px;
                        }

                        .farm-details {

                          .photo {
                            position: relative;
                            width: 140px;
                            height: 140px;
                            background-color: #efefef;
                            background-position: center center;
                            background-size: cover;
                            text-align: center;

                            .is-active {
                              color: #fff;
                              background-color: rgba(51,204,51,.9);
                              display: inline-block;
                              font-family: 'mark-regularregular' !important;
                              padding: 9px;
                              margin: 40% auto;

                            }

                            .inactive {
                              color: #fff;
                              background-color: rgba(72,72,72,.9);
                              display: inline-block;
                              font-family: 'mark-regularregular' !important;
                              padding: 9px;
                              margin: 40% auto;
                            }
                          }

                          .meta {
                            margin: 20px auto;

                            .name {
                              margin-bottom: 5px;

                              a {
                                display: inline-block;
                                // float: right;
                                color: $theme-color;
                              }
                            }

                            .location {
                              font-family: 'mark-regularregular' !important;
                              font-size: 12px;
                              color: #aaa;
                            }
                          }

                          .meta-data {

                            .data {
                              background-color: #ecf0f5;
                              padding: 10px;
                              margin-bottom: 15px;

                              p {
                                margin: 0px;
                                font-family: 'mark-mediummedium' !important;
                                font-size: 12px;
                                color: #aaa;

                                &.key {
                                  font-size: 11px;

                                }

                                &.val {
                                  color: #333;
                                }
                              }
                            }
                          }
                        }

                        .products {

                          h5 {
                            margin-bottom: 15px;
                          }

                          .white-block {
                            padding: 10px;
                          }
                        }

                        &#current-farm-greenhouses {

                          .greenhouse {

                            .selection {
                              margin-bottom: 20px;

                              label {
                                font-family: 'mark-mediummedium' !important;
                                font-size: 12px;
                                color: #888;
                                font-weight: 300;
                                margin-bottom: 5px;
                              }

                              .select2 {
                                width: 100%;
                              }
                            }

                            .products {

                              .select2 {
                                display: block;
                                width: 70%;
                              }

                              .data {
                                display: block;
                                color: $theme-color;
                                padding-top: 6px;
                                padding-bottom: 6px;
                              }

                              .caption {
                                font-family: 'mark-mediummedium' !important;
                                font-size: 12px;
                                color: #888;
                                font-weight: 300;
                                margin-bottom: 5px;
                              }

                            }

                            .average-readings {

                              .readings {

                                .reading {
                                  font-family: 'mark-boldbold' !important;
                                  display: block;

                                  .shift {
                                    font-family: 'mark-lightlight' !important;
                                    display: inline-block;
                                    margin-left: 5px;
                                    font-size: 0.8em;

                                    &::after {
                                      font-family:fontAwesome;
                                      padding-left: 5px;
                                      font-size: 0.8em;
                                    }

                                    &.down {

                                      &::after {
                                        content: '\f175';
                                      }
                                    }

                                    &.up {

                                      &::after {
                                        content: '\f176';
                                      }
                                    }

                                    &.danger {
                                      color: #f00;

                                    }

                                    &.normal {
                                      color: $theme-color;
                                    }

                                  }

                                }

                                .caption {
                                  font-family: 'mark-regularregular' !important;
                                  font-size: 12px;
                                  color: #888;
                                  font-weight: 300;
                                  margin-bottom: 5px;

                                }
                              }

                              .plant-journey {

                                .select2 {
                                  display: block;
                                  width: 100% !important;
                                  margin-bottom: 20px;
                                }
                              }
                            }

                            .detailed-readings {

                              .chart-periods {
                                margin-top: 20px;
                                margin-bottom: 20px;
                              }

                              .irrigation-report {


                              }
                            }
                          }
                        }
                      }
                    }
                  }

                }

              }

              .support-view {
                padding: 0px;
                padding-left: 20px;
                font-family: 'mark-bookbook' !important;
                min-height: 100%;
                position: fixed;
                right: 0px;

                h3 {
                  padding: 20px 15px;
                  margin: 0px;
                  color: #888;
                  font-size: 18px;
                  font-weight: 600;
                  font-family: 'mark-regularregular' !important;

                  .count {
                    font-weight: 200;
                    padding: 8px;
                    color: #999;
                  }
                }

                .btn-request-support {
                  border-color: $theme-color;
                  color: $theme-color;
                  font-weight: 500;
                }

                .no-maintenance {
                  font-family: 'mark-regularregular' !important;
                  font-size: 16px;
                  font-weight: bold;
                  margin-top: 20px;
                  color: #ccc;

                }

                .nav-tabs-custom {
                  display: none;

                  .nav-tabs {

                    li {
                      font-size: 12px;
                      border: none !important;
                      border-bottom: 3px solid transparent !important;
                      font-weight: 300;

                      a {
                        color: #888;
                      }

                      &.active {
                        border: none !important;
                        border-bottom: 3px solid $theme-color !important;
                        font-weight: 600;

                        a {
                          border-color: transparent;
                          color: $theme-color;
                        }

                      }

                    }
                  }

                  .tab-content {
                    padding: 0px;

                    .tab-pane {

                      .citation {
                        padding: 10px;
                        text-align: center;
                        font-weight: 600;
                        color: $theme-color !important;
                        background-color: #e1f4e4;

                      }

                      .concerns, .schedules {
                        padding: 0px;

                        li {
                          list-style: none;
                          border-bottom: 1px solid #efefef;
                          padding: 15px;
                          font-size: 12px;

                          .header {
                            font-weight: 600;
                            display: block;
                            margin-bottom: 3px;
                          }

                          .copy {
                            display: block;
                            margin-bottom: 8px;
                            color: #666;

                            a {
                              color: $theme-color;
                              font-weight: 600;
                              text-decoration: underline;
                            }
                          }

                          .timestamp {
                            display: block;
                            margin-bottom: 8px;
                            color: #777;
                            font-weight: 200;

                            .dt {
                              color: #f30;
                            }
                          }
                        }

                      }
                    }
                  }
                }

              }
            }

            .nav-tabs-custom.data {
              background: none;
              border: none;
              box-shadow: none;

              .nav-tabs {
                border-bottom: 1px solid #ccc !important;
                margin-bottom: 20px;

                li {
                  font-size: 12px;
                  border: none !important;
                  // border-bottom: 1px solid #ccc !important;
                  font-weight: 300;
                  margin-right: 30px;

                  a {
                    color: #888;
                    padding-left: 0px;
                    padding-right: 0px;
                  }

                  &.active {
                    border: none !important;
                    border-bottom: 3px solid $theme-color !important;
                    font-weight: 600;

                    a {
                      border-color: transparent;
                      color: $theme-color;
                      background: none;
                    }

                  }

                }
              }

              .tab-content {
                padding: 0px;

                .tab-pane {

                  .citation {
                    padding: 10px;
                    text-align: center;
                    font-weight: 600;
                    color: $theme-color !important;
                    background-color: #e1f4e4;

                  }

                  .concerns, .schedules {
                    padding: 0px;

                    li {
                      list-style: none;
                      border-bottom: 1px solid #efefef;
                      padding: 15px;
                      font-size: 12px;

                      .header {
                        font-weight: 600;
                        display: block;
                        margin-bottom: 3px;
                      }

                      .copy {
                        display: block;
                        margin-bottom: 8px;
                        color: #666;

                        a {
                          color: $theme-color;
                          font-weight: 600;
                          text-decoration: underline;
                        }
                      }

                      .timestamp {
                        display: block;
                        margin-bottom: 8px;
                        color: #777;
                        font-weight: 200;

                        .dt {
                          color: #f30;
                        }
                      }
                    }

                  }
                }
              }
            }

            .nav-tabs-custom.inner {
              background: none;
              border: none;
              box-shadow: none;

              .nav-tabs {
                border-bottom: 1px solid transparent !important;
                margin-bottom: 20px;

                li {
                  font-size: 12px;
                  border: none !important;
                  border-bottom: 1px solid #ccc !important;
                  font-weight: 300;
                  margin-right: 0px;
                  margin-left: 0px;
                  padding-right: 0px;

                  a {
                    color: #888;
                    padding-left: 10px;
                    padding-right: 10px;
                  }

                  &.active {
                    border: none !important;
                    border-bottom: 3px solid $theme-color !important;
                    font-weight: 600;

                    a {
                      border-color: transparent;
                      color: $theme-color;
                      background: none;
                    }

                  }

                }
              }

              .tab-content {
                padding: 0px;

                .tab-pane {

                  .citation {
                    padding: 10px;
                    text-align: center;
                    font-weight: 600;
                    color: $theme-color !important;
                    background-color: #e1f4e4;

                  }

                  .concerns, .schedules {
                    padding: 0px;

                    li {
                      list-style: none;
                      border-bottom: 1px solid #efefef;
                      padding: 15px;
                      font-size: 12px;

                      .header {
                        font-weight: 600;
                        display: block;
                        margin-bottom: 3px;
                      }

                      .copy {
                        display: block;
                        margin-bottom: 8px;
                        color: #666;

                        a {
                          color: $theme-color;
                          font-weight: 600;
                          text-decoration: underline;
                        }
                      }

                      .timestamp {
                        display: block;
                        margin-bottom: 8px;
                        color: #777;
                        font-weight: 200;

                        .dt {
                          color: #f30;
                        }
                      }
                    }

                  }
                }
              }
            }

          }
        }
      }

      &.farm {

        .wrapper {

          .content-wrapper {

            section {

              &.content-header {
                background-color: #fff;
                padding: 0px;

                h1 {
                  padding: 20px 20px 10px;
                  font-weight: 500;
                  font-size: 16px;
                  font-family: 'mark-mediummedium' !important;
                  color: #000;
                }

                .actions {

                  button {
                    padding: 15px 40px;

                    &.btn-cancel {
                      background: none;
                      color: #555;
                    }
                  }
                }
              }

              &.content {

                .farm-form {
                  width: 850px;
                  margin: 100px auto;
                  padding: 30px;
                  background-color: #fff;

                  h3 {
                    margin: 0 0 20px;
                    font-weight: 500;
                    font-size: 16px;
                    font-family: 'mark-mediummedium' !important;
                    color: #000;
                  }

                  .create-timestamp {
                    background-color: #ecf0f5;
                    padding: 15px;
                    display: inline-block;
                    width: 200px;

                    p {
                      font-family: 'mark-lightlight' !important;
                      font-size: 12px;
                      margin: 0px;
                      padding: 0px;
                      color: #222;

                      .date-today {
                        font-family: 'mark-mediummedium' !important;
                        font-weight: 500;
                      }
                    }
                  }

                  hr.separator {
                    border-style: dashed;
                    margin: 20px 0;
                  }

                  form {

                    *.form-group {
                      padding: 0px;
                      margin: 0 0 20px;

                      label {
                        font-family: 'mark-mediummedium' !important;
                        font-weight: 500;
                        font-size: 10px;
                        margin: 0 0 5px;
                        padding: 0px;
                        color: #777;
                      }

                      .form-control {
                        font-weight: 500;
                        font-size: 12px;
                        color: #000;

                      }
                    }

                    .select2 {

                      &.select2-container--default {

                        .select2-selection--single {
                          border-color: #d2d6de !important;
                          background: none;

                          .select2-selection__rendered {
                            color: #000 !important;
                            font-weight: 500;
                            font-size: 12px;

                          }

                          .select2-selection__arrow {

                            b {

                              &::before {
                                color: #d2d6de !important;
                              }
                            }
                          }
                        }

                        .select2-search--dropdown {

                          .select2-search__field {
                            border: 1px solid #d2d6de;
                          }
                        }

                        .select2-results__option[aria-selected="true"], .select2-results__option[aria-selected="true"]:hover {
                          background-color: #fff;
                        }
                      }
                    }

                    .farm-ref {
                      position: relative;

                      .ref-prefix {
                        background-color: #d7f0db;
                        position: relative;
                        display: inline-block;
                        width: 60px;
                        height: 60px;
                        padding: 0px;
                        margin-bottom: 10px;

                        i.fa {
                          position: absolute;
                          display: inline-block;
                          background-color: #39b54a;
                          right: 0px;
                          top: 0px;
                          color: #fff;
                          width: 20px;
                          height: 20px;
                          padding: 3px 0 0;
                          text-align: center;
                        }

                        p.prefix {
                          position: absolute;
                          display: inline-block;
                          bottom: 0px;
                          left: 0px;
                          color: #39b54a;
                          font-size: 20px;
                          padding: 10px;
                          height: 35px;
                          font-family: 'mark-boldbold' !important;
                        }
                      }

                      .ref-input {
                        position: absolute;
                        display: inline-block;
                        padding: 0px;
                        left: 80px;
                        top: 0px;
                      }
                    }
                  }
                }
              }
            }

          }
        }
      }

      &.profile {

        .wrapper {

          .content-wrapper {

            section {
              padding: 30px;

              &.content-header {

                h1 {
                  padding: 5px 10px;
                  font-weight: 500;
                  font-size: 24px;
                  font-family: 'mark-mediummedium' !important;
                  color: #000;
                }

                .actions {
                  padding: 5px 10px;

                  button {

                    &.btn-deactivate {
                      background: none;
                      border-color: $theme-color;
                      color: $theme-color;

                      &:hover {
                        background-color: $theme-color;
                        color: #fff;
                      }
                    }
                  }
                }
              }

              &.content {

                .data {
                  background-color: #ecf0f5;
                  padding: 10px;
                  margin-bottom: 15px;

                  p {
                    margin: 0px;
                    font-family: 'mark-mediummedium' !important;
                    font-size: 12px;
                    color: #aaa;

                    &.key {
                      font-size: 11px;
                    }

                    &.val {
                      color: #333;
                    }
                  }
                }

                .btn-edit {
                  background: none;
                  border-color: $theme-color;
                  color: $theme-color;

                  &:hover {
                    background-color: $theme-color;
                    color: #fff;
                  }
                }

                #edit_org.modal {
                  background: none;

                  .modal-dialog {
                    margin-top: 15%;
                    width: 800px;

                    .modal-content {
                      padding: 20px;

                      .modal-header {
                        border: none;
                        color: #000;
                        font-weight: bold;

                        h3 {
                          margin: 0px;
                          padding: 0px;
                          font-size: 15px;
                          font-family: 'mark-boldbold' !important;
                        }

                        p {
                          font-weight: normal;
                          font-size: 13px;
                          font-family: 'mark-regularregular' !important;

                          &.inverted {
                            color: #777;
                          }
                        }
                      }

                      .modal-body {
                        font-family: 'mark-regularregular' !important;
                        font-size: 12px;
                        font-weight: 300;

                        .data {
                          background: none;
                          padding: 0px;

                          .val {
                            background-color: #ecf0f5;
                            padding: 6px;
                          }
                        }

                        label {
                          margin: 0px;
                          font-family: 'mark-regularregular' !important;
                          font-size: 12px;
                          font-weight: 300 !important;
                        }

                        .form-control {
                          font-weight: 500;
                          font-size: 12px;
                          color: #000;

                        }
                      }

                      .modal-footer {
                        border: none;
                        padding-top: 0px;
                        padding-bottom: 0px;
                      }
                    }
                  }
                }

                .row {

                  &.user {
                    position: relative;
                    margin-bottom: 30px;

                    .avatar {
                      position: relative;
                      background-size: cover;
                      width: 85px;
                      height: 85px;
                      @include border-radius(50%);
                      margin: 20px auto 10px;
                    }

                    .edit {
                      position: absolute;
                      background-color: $theme-color;
                      width: 30px;
                      height: 30px;
                      @include border-radius(50%);
                      font-size: 14px;
                      text-align: center;
                      padding: 5px;
                      top: 85px;
                      left: calc(50% + 15px);

                      a {
                        color: #fff;
                      }
                    }

                    .name {
                      font-weight: 500;
                      font-size: 16px;
                      font-family: 'mark-mediummedium' !important;
                      color: #000;
                      text-align: center;
                    }

                    .role {
                      font-weight: 500;
                      font-size: 12px;
                      font-family: 'mark-mediummedium' !important;
                      color: #000;
                      text-align: center;
                    }

                    .status {
                      margin: 15px auto;
                      text-align: center;
                    }

                    .detail {
                      padding: 20px;
                    }
                  }

                  &.org {
                    position: relative;

                    .details {
                      padding: 20px;


                      h5 {
                        font-weight: 500;
                        font-size: 15px;
                        font-family: 'mark-mediummedium' !important;
                        color: #000;

                      }
                    }

                  }
                }
              }
            }

          }
        }

      }

      &.users {

        .wrapper {

          .content-wrapper {

            section {
              padding: 30px;

              .badge-default {
                background-color: #dedede;
                font-family: 'mark-thinthin' !important;
                color: #000;
                padding: 7px 10px;
                @include border-radius(50%);

              }

              &.content-header {

                h1 {
                  padding: 0px;
                  font-weight: 500;
                  font-size: 24px;
                  font-family: 'mark-mediummedium' !important;
                  color: #000;
                }

                .actions {
                  padding: 0px;
                }

                .search-users {
                  margin-top: 20px;

                  .form-group {
                    border: none;

                    .input-group {
                      border: none;

                      .input-group-addon {
                        border: none;

                        .btn.btn-link {
                          margin: 0px;
                          padding: 0px;
                          font-size: 12px;
                          color: $theme-color;
                          text-decoration: underline;
                        }
                      }

                      .form-control {
                        border: none;
                        font-size: 12px;
                        font-weight: 300;

                        &::placeholder {
                          font-weight: 300;
                          font-size: 12px;
                          color: #aaa;
                        }
                      }
                    }
                  }
                }
              }

              &.content {
                padding-top: 0px;

                .tallies {
                  margin-bottom: 30px;

                  .tally {
                    display: inline-block;
                    width: 130px;
                    height: 80px;
                    border: 1px solid #ccc;
                    padding: 15px;
                    top: 0px;
                    margin-right: 10px;

                    p {
                      font-weight: 700;
                      font-size: 20px;
                      font-family: 'mark-mediummedium' !important;
                      padding: 0px;
                      line-height: 100%;

                      .inverse {
                        font-weight: 300;
                        font-size: 13px;
                        font-family: 'mark-regularregular' !important;
                      }
                    }
                  }
                }

                .accounts {
                  padding-left: 15px;
                  padding-right: 15px;

                  .accounts-header {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background-color: #D3D3D3;
                    font-size: 10px;
                    white-space: nowrap;
                    color: #777;
                  }

                  .accounts-records {

                    h2 {
                      padding: 0px;
                      font-weight: 500;
                      font-size: 20px;
                      font-family: 'mark-mediummedium' !important;
                      color: #777;
                    }

                    .account-records {
                      margin-bottom: 30px;

                      .account-record {
                        margin-bottom: 3px;

                        >* {
                          padding: 10px 5px;
                          display: table-cell;
                          vertical-align: middle;
                          font-family: 'mark-mediummedium' !important;
                          font-size: 12px;
                        }

                        .avatar {
                          display: inline-block;
                          width: 25px;
                          height: 25px;
                          background-color: #ccc;
                          background-size: cover;
                          background-position: center center;
                          @include border-radius(50%);
                          text-align: center;
                          display: table-cell;
                          vertical-align: middle;
                          font-weight: 500;
                          font-size: 13px;
                        }

                        .names {
                          display: table-cell;
                          vertical-align: middle;
                          height: 25px;
                          padding-left: 10px;

                          .date {
                            display: block;
                            color: #777;
                            font-size: 10px;
                          }
                        }

                        .badge {
                          font-family: 'mark-regularregular' !important;

                          &.active {
                            background: $theme-color;
                            color: #fff;
                          }

                          &.inactive {
                            background: #999;
                            color: #fff;
                          }
                        }

                        .action-btn {
                          padding-top: 5px;
                          padding-bottom: 5px;
                          font-family: 'mark-mediummedium' !important;

                          .btn-success-outline {
                            background: none;
                            color: $theme-color;
                            border: 1px solid $theme-color;

                            &:hover {
                              background: $theme-color;
                              color: #fff;

                            }
                          }
                        }
                      }
                    }
                  }
                }

                .accounts-tallies {
                  font-family: 'mark-mediummedium' !important;
                  font-weight: 500;
                  font-size: 12px;
                  color: #777;
                }

                .user-form {
                  width: 850px;
                  margin: 100px auto;
                  padding: 30px;
                  background-color: #fff;

                  h3 {
                    margin: 0 0 20px;
                    font-weight: 500;
                    font-size: 16px;
                    font-family: 'mark-mediummedium' !important;
                    color: #000;
                  }

                  .create-timestamp {
                    background-color: #ecf0f5;
                    padding: 15px;
                    display: inline-block;
                    width: 200px;

                    p {
                      font-family: 'mark-lightlight' !important;
                      font-size: 12px;
                      margin: 0px;
                      padding: 0px;
                      color: #222;

                      .date-today {
                        font-family: 'mark-mediummedium' !important;
                        font-weight: 500;
                      }
                    }
                  }

                  hr.separator {
                    border-style: dashed;
                    margin: 20px 0;
                  }

                  form {

                    *.form-group {
                      padding: 0px;
                      margin: 0 0 20px;

                      label {
                        font-family: 'mark-mediummedium' !important;
                        font-weight: 500;
                        font-size: 10px;
                        margin: 0 0 5px;
                        padding: 0px;
                        color: #777;
                      }

                      .form-control {
                        font-weight: 500;
                        font-size: 12px;
                        color: #000;

                      }
                    }

                    .select2 {

                      &.select2-container--default {

                        .select2-selection--single {
                          border-color: #d2d6de !important;
                          background: none;

                          .select2-selection__rendered {
                            color: #000 !important;
                            font-weight: 500;
                            font-size: 12px;

                          }

                          .select2-selection__arrow {

                            b {

                              &::before {
                                color: #d2d6de !important;
                              }
                            }
                          }
                        }

                        .select2-search--dropdown {

                          .select2-search__field {
                            border: 1px solid #d2d6de;
                          }
                        }

                        .select2-results__option[aria-selected="true"], .select2-results__option[aria-selected="true"]:hover {
                          background-color: #fff;
                        }
                      }
                    }

                    .farm-ref {
                      position: relative;

                      .ref-prefix {
                        background-color: #d7f0db;
                        position: relative;
                        display: inline-block;
                        width: 60px;
                        height: 60px;
                        padding: 0px;
                        margin-bottom: 10px;

                        i.fa {
                          position: absolute;
                          display: inline-block;
                          background-color: #39b54a;
                          right: 0px;
                          top: 0px;
                          color: #fff;
                          width: 20px;
                          height: 20px;
                          padding: 3px 0 0;
                          text-align: center;
                        }

                        p.prefix {
                          position: absolute;
                          display: inline-block;
                          bottom: 0px;
                          left: 0px;
                          color: #39b54a;
                          font-size: 20px;
                          padding: 10px;
                          height: 35px;
                          font-family: 'mark-boldbold' !important;
                        }
                      }

                      .ref-input {
                        position: absolute;
                        display: inline-block;
                        padding: 0px;
                        left: 80px;
                        top: 0px;
                      }
                    }
                  }
                }

              }
            }

          }
        }
      }

      &.user-add {

        .wrapper {

          .content-wrapper {

            section {

              &.content-header {
                background-color: #fff;
                padding: 0px;

                h1 {
                  padding: 20px 20px 10px;
                  font-weight: 500;
                  font-size: 16px;
                  font-family: 'mark-mediummedium' !important;
                  color: #000;
                }

                .actions {

                  button {
                    padding: 15px 40px;

                    &.btn-cancel {
                      background: none;
                      color: #555;
                    }
                  }
                }
              }

              &.content {

                .user-form {
                  width: 1050px;
                  margin: 100px auto;
                  padding: 30px;
                  background-color: #fff;

                  h3 {
                    margin: 0 0 20px;
                    font-weight: 500;
                    font-size: 16px;
                    font-family: 'mark-mediummedium' !important;
                    color: #000;
                  }

                  .meta-data {
                    background-color: #ecf0f5;
                    padding: 15px;
                    display: inline-block;
                    width: 180px;
                    margin-right: 10px;

                    p {
                      font-family: 'mark-lightlight' !important;
                      font-size: 12px;
                      margin: 0px;
                      padding: 0px;
                      color: #222;

                      .date-today {
                        font-family: 'mark-mediummedium' !important;
                        font-weight: 500;
                      }
                    }
                  }

                  hr.separator {
                    border-style: dashed;
                    margin: 20px 0;
                  }

                  form {

                    .headers {
                      font-family: 'mark-mediummedium' !important;
                      font-weight: 500;
                      font-size: 12px;
                      margin: 0 0 5px;
                      padding: 0px;
                      color: #777;
                    }

                    *.form-group {
                      padding: 0px;
                      margin: 0 0 20px;

                      .form-control {
                        font-weight: 500;
                        font-size: 12px;
                        color: #000;

                      }
                    }

                    .select2 {

                      &.select2-container--default {

                        .select2-selection--single {
                          border-color: #d2d6de !important;
                          background: none;

                          .select2-selection__rendered {
                            color: #000 !important;
                            font-weight: 500;
                            font-size: 12px;

                          }

                          .select2-selection__arrow {

                            b {

                              &::before {
                                color: #d2d6de !important;
                              }
                            }
                          }
                        }

                        .select2-search--dropdown {

                          .select2-search__field {
                            border: 1px solid #d2d6de;
                          }
                        }

                        .select2-results__option[aria-selected="true"], .select2-results__option[aria-selected="true"]:hover {
                          background-color: #fff;
                        }
                      }
                    }

                  }
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 767px) {
    	.skin-igh {
    		.main-header {
    			.navbar {
    				.dropdown-menu {
    					li.divider {
    						background-color: rgba(255, 255, 255, 0.1);
    					}
    					li {
    						a {
    							color: #a4a4a4;
    							&:hover {
    								background: #fdcf18;
    							}
    						}
    					}
    				}
    			}
    		}
    	}
    }
  }
}
