<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Customers</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static',filename='css/chartist.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }

    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse summary-page">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <div class="col-xs-9 main-view">
              <div class="row">
                <div class="col-xs-3">
                  <h3><small>Hello, </small> <div>{{PROFILE.user.first_name}} {{PROFILE.user.last_name}}</div></h3>
                </div>
                <div class="col-xs-9" style="vertical-align: bottom;">
                  <nav class="navbar navbar-static-top">
                    <div class="navbar-custom-menu">
                      <ul class="nav navbar-nav">
                        <li>
                          <div class="weather shadow-outline">
                            <div class="block">
                              <!-- <span class="city">Nairobi</span> -
                              <span class="narration">13<sup>th</sup> Mon, sunny</span>
                              <span class="temp">26<sup>&deg;</sup></span>
                              <span class="icon" style="color: #FFA500;"><i class="fa fa-sun-o"></i></span> -->
                              <span class="city">Nairobi</span> -
                              <span class="narration">{{data.utc_date.strftime('%d %b')}} - {{data.utc_date.strftime('%a')}}, --</span>
                              <span class="temp">--<sup>&deg;</sup></span>
                              <span class="icon" style="color: #FFA500;">--</span>
                            </div>
                          </div>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu sys-alerts shadow-outline">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning badge">0</span>
                          </a>
                          <ul class="dropdown-menu">
                            <li class="header">
                              Alerts <span class="label label-warning badge">0</span>
                              <p class="date">{{data.utc_date.strftime('%d %B %Y')}}</p>
                            </li>
                            <!-- <li class="alert-item">
                              <span class="header">Request to action on item</span>
                              <span class="copy">Action <a href="#">M-09</a> on item requested by customer 23234343434.</span>
                              <span class="timestamp">12 May 2020, 17:31</span>
                              <button class="btn btn-flat btn-action">Accept request</button>
                            </li>
                            <li class="alert-item">
                              <span class="header">Plants: Cauliflower & Onion</span>
                              <span class="copy">Current reading for humidity sensor on shield D-2003 is <span class="label label-danger badge">26.78<sup>&deg;</sup>c</span></span>
                              <span class="timestamp">12 May 2020, 17:31</span>
                              <button class="btn btn-flat btn-action">View</button>
                            </li>
                            <li class="footer"><a href="#">See all</a></li> -->
                          </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu shadow-outline">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/customer/static/img/farm-icon.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{PROFILE.user.first_name}} {{PROFILE.user.last_name}}</span>
                            <i class="fa fa-chevron-down"></i>
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <a href="/customer/settings/profile">My profile</a>
                            </li>
                            <li>
                              <a href="/logout">Logout</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>
              <div class="row new-section customer">
                <div class="col-sm-3">
                  <div class="white-block shadow-outline">
                    <h3>{{PROFILE.staff_info.customer.name}}</h3>
                    <p class="caption">Customer Name</p>
                    <p class="bottom">
                      <a href="/customer/settings/profile">View Details</a>
                    </p>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="white-block shadow-outline">
                    <h3>{{FARMS|length}}</h3>
                    <p class="caption">Total farms</p>
                    <p class="bottom">
                      {% if FARMS|length > 1 %}
                      <a href="" data-toggle="modal" data-target="#switch_farm">Switch</a>
                      {% endif %}
                      <a href="/customer/farms/add">Add a farm</a>
                    </p>
                  </div>
                </div>
                <div class="col-sm-3 hidden">
                  <div class="white-block shadow-outline">
                    <h3>0 <small>KES</small></h3>
                    <p class="caption">Total income from harvests</p>
                    <p class="bottom">
                      +1,000 KES <i class="fa fa-long-arrow-up"></i>
                    </p>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="white-block shadow-outline">
                    <h3>{% if FARM_GREENHOUSES %}{{FARM_GREENHOUSES[0].water.yearly.yearly_water | numberFormat}}{% else %}0{% endif %}<small>L</small></h3>
                    <p class="caption">Total irrigation across all farms</p>
                    <p class="bottom">
                      {% if FARM_GREENHOUSES %}{{FARM_GREENHOUSES[0].water.yearly.difference}}L <i class="fa fa-long-arrow-up"></i>{% endif %}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row new-section products">
                <div class="col-sm-12">
                  <h4>Activated products</h4>
                </div>
                <div class="col-sm-2">
                  <div class="white-block shadow-outline product greenhouses">
                    <div class="photo">&nbsp;</div>
                    <h5>{{FARM_GREENHOUSES|length}}</h5>
                    <p class="caption">Greenhouses activated</p>
                    <p class="inverse">
                      0 available
                    </p>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="white-block shadow-outline product external-shields">
                    <div class="photo">&nbsp;</div>
                    <h5>0</h5>
                    <p class="caption">External shields activated</p>
                    <p class="inverse">
                      0 available
                    </p>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="white-block shadow-outline product screenhouses">
                    <div class="photo">&nbsp;</div>
                    <h5>0</h5>
                    <p class="caption">Screenhouses activated</p>
                    <p class="inverse">
                      0 available
                    </p>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="white-block shadow-outline product shadenets">
                    <div class="photo">&nbsp;</div>
                    <h5>0</h5>
                    <p class="caption">Shadenets activated</p>
                    <p class="inverse">
                      0 available
                    </p>
                  </div>
                </div>
              </div>

              <div class="row new-section overview">
                <div class="col-sm-12">
                  <h4>Overview</h4>
                </div>
                <div class="col-sm-12">
                  <div class="nav-tabs-custom data">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#total-farms" data-toggle="tab" aria-expanded="false">Total farms overview</a></li>
                      <li class=""><a href="#current-farm" data-toggle="tab" aria-expanded="true">Current farm overview</a></li>
                      <li class=""><a href="#current-farm-greenhouses" data-toggle="tab" aria-expanded="true">Current farm greenhouses</a></li>
                      <li class="hidden"><a href="#current-farm-ext-shields" data-toggle="tab" aria-expanded="true">Current farm ext shields</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="total-farms">
                        <div class="white-block shadow-outline income-report hidden">
                          <div class="row">
                            <div class="col-sm-8">
                              <h5>Income report</h5>
                            </div>
                            <div class="col-sm-4 text-right">
                              <select name="farm" class="select2">
                                <option>All Farms</option>
                              </select>
                              <select name="month" class="select2 month-select">
                                <option>January</option>
                              </select>
                              <select name="year" class="select2 year-select">
                                <option>2020</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="chart-area">
                                <div class="chart">&nbsp;</div>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="white-block shadow-outline irrigation-report">
                          <div class="row">
                            <div class="col-sm-7">
                              <h5>Irrigation report</h5>
                            </div>
                            <div class="col-sm-5 text-right">
                              <select id="select_farm" name="farm" class="form-control select2">
                                {% for farm in FARMS %}
                                <option value="{{farm.uid}}" {% if farm.uid|string == session.farm|string %}selected="selected"{% endif %}>{{farm.name}} Farm</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <div class="row chart-meta">
                            <div class="col-sm-3">
                              <h6>{% if FARM_GREENHOUSES %}{{FARM_GREENHOUSES[0].water.yearly.yearly_water | numberFormat}}{% else %}0{% endif %}L</h6>
                              <p>Total water irrigated across all farms</p>
                            </div>
                          </div>
                          <div class="row chart-periods">
                            <div class="col-sm-6">
                              <div class="btn-group">
                                <a class="btn btn-flat btn-default btn-period active" rel="monthly">Monthly</a>
                                <a class="btn btn-flat btn-default btn-period" rel="yearly">Yearly</a>
                              </div>
                            </div>
                            <div class="col-sm-6 text-right">
                              <select name="month" class="select2 month-select">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                              </select>
                              <select name="year" class="select2 year-select">
                                <option>2020</option>
                                <option>2019</option>
                                <option>2018</option>
                              </select>
                              <a class="btn btn-flat btn-success btn-irrigation-report-filter">Go</a>
                            </div>
                          </div>
                          <div class="row chart-area">
                            <div class="col-sm-12">
                              <div class="chart-container">
                                <div class="chart ct-chart ct-perfect-fourth" id="all_farms_water">
                                  <div class="y-axis">
                                    <div class="axis-label">
                                      <span>&nbsp;</span>
                                    </div>
                                  </div>
                                  <div class="x-axis">
                                    <div class="chart-data">
                                    </div>
                                    <div class="axis-label">
                                      <span>&nbsp;</span>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="white-block shadow-outline harvests hidden">

                        </div>

                        <div class="white-block shadow-outline crops hidden">

                        </div>

                        <div class="white-block shadow-outline soils hidden">

                        </div>

                      </div>
                      <div class="tab-pane" id="current-farm">
                        <div class="white-block shadow-outline farm-details">
                          <div class="row">
                            <div class="col-sm-12">
                              <h5>Current farm details</h5>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <div class="photo" style="background-image: url(/customer/static/img/farm.jpg)">
                                {% if FARM.status == 1 %}
                                <p class="is-active label badge">Active</p>
                                {% endif %}
                                {% if FARM.status == 0 %}
                                <p class="inactive label badge">Inactive</p>
                                {% endif %}
                              </div>
                              <div class="meta">
                                <p class="name">{{FARM.name}} <a href="#"><i class="fa fa-pencil"></i></a></p>
                                <p class="location"><i class="fa fa-map-marker"></i> {{FARM.city}}</p>
                              </div>
                            </div>
                            <div class="col-sm-9 meta-data">
                              <div class="col-sm-3">
                                <div class="data">
                                  <p class="key">Farm ID</p>
                                  <p class="val">F-{{FARM.name}}</p>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="data">
                                  <p class="key">Created Date</p>
                                  <p class="val">{% if FARM %}{{FARM.created_at.strftime('%d %B %Y')}}{% endif %}</p>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="data">
                                  <p class="key">State</p>
                                  <p class="val">{{FARM.state}}</p>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="data">
                                  <p class="key">City</p>
                                  <p class="val">{{FARM.city}}</p>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="data">
                                  <p class="key">Pincode</p>
                                  <p class="val">{{FARM.pincode}}</p>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="data">
                                  <p class="key">Latitude</p>
                                  <p class="val">{{FARM.latitude}}</p>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="data">
                                  <p class="key">Longitude</p>
                                  <p class="val">{{FARM.longitude}}</p>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="data">
                                  <p class="key">Total farm area</p>
                                  <p class="val">{{FARM.area}} sq.m</p>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="data">
                                  <p class="key">Farm address</p>
                                  <p class="val">{{FARM.address}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="products">
                          <div class="row">
                            <div class="col-sm-12">
                              <h5>Current farm's activated products</h5>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-2">
                              <div class="white-block shadow-outline product greenhouses">
                                <div class="photo">&nbsp;</div>
                                <h5>{{FARM_GREENHOUSES|length}} <small>of {{GREENHOUSES}}</small></h5>
                                <p class="caption">Greenhouses activated</p>
                                <p class="inverse positive">
                                  <a href="#">View inventory</a>
                                </p>
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <div class="white-block shadow-outline product external-shields">
                                <div class="photo">&nbsp;</div>
                                <h5>0</h5>
                                <p class="caption">External shields activated</p>
                                <p class="inverse">
                                  0 available
                                </p>
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <div class="white-block shadow-outline product screenhouses">
                                <div class="photo">&nbsp;</div>
                                <h5>0</h5>
                                <p class="caption">Screenhouses activated</p>
                                <p class="inverse">
                                  0 available
                                </p>
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <div class="white-block shadow-outline product shadenets">
                                <div class="photo">&nbsp;</div>
                                <h5>0</h5>
                                <p class="caption">Shadenets activated</p>
                                <p class="inverse">
                                  0 available
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="income-report">&nbsp;</div>
                        <div class="harvests">&nbsp;</div>
                        <div class="others">
                          <div class="row">
                            <div class="col-sm-6 crops">&nbsp;</div>
                            <div class="col-sm-6 soils">&nbsp;</div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="current-farm-greenhouses">
                        <div class="greenhouse">
                          <div class="row selection">
                            <div class="col-sm-3">
                              <label>Greenhouse ID</label><br />
                              <select name="greenhouses" class="select2" id="select_greenhouse">
                                {% for gh in FARM_GREENHOUSES %}
                                <option value="{{gh.id}}" {% if gh.id|string == GREENHOUSE.uid|string %}selected="selected"{% endif %}>{{gh.name}}</option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="col-sm-8">&nbsp;</div>
                          </div>
                          <div class="row products">
                            <div class="col-sm-5 shields">
                              <div class="white-block shadow-outline">
                                <div class="row ">
                                  <div class="col-sm-6">
                                    <select name="shields" class="select2">
                                      {% for device in GREENHOUSE_DEVICES %}
                                      {% if device[3].type == config.DEVICE_SHIELD %}
                                      <option value="{{device[0].uid}}">{{device[3].name}}</option>
                                      {% endif %}
                                      {% endfor %}
                                    </select>
                                    <span class="caption">Shield Ref</span>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="row">
                                      <div class="col-sm-6">
                                        <span class="data">
                                          <i class="fa fa-battery-full"></i> 100%
                                        </span>
                                        <span class="caption">Battery</span>
                                      </div>
                                      <div class="col-sm-6">
                                        <span class="data">
                                          <i class="fa fa-signal"></i> 100
                                        </span>
                                        <span class="caption">Signal</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-5 spears">
                              <div class="white-block shadow-outline">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <select name="spears" class="select2">
                                      {% for device in GREENHOUSE_DEVICES %}
                                      {% if device[3].type == config.DEVICE_SPEAR %}
                                      <option value="{{device[0].uid}}">{{device[3].name}}</option>
                                      {% endif %}
                                      {% endfor %}
                                    </select>
                                    <span class="caption">Spear Ref</span>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="row">
                                      <div class="col-sm-6">
                                        <span class="data">
                                          <i class="fa fa-battery-full"></i> 100%
                                        </span>
                                        <span class="caption">Battery</span>
                                      </div>
                                      <div class="col-sm-6">
                                        <span class="data">
                                          <i class="fa fa-signal"></i> 100
                                        </span>
                                        <span class="caption">Signal</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row average-readings">
                            <div class="col-sm-8">
                              <h5>Sensor average readings</h5>
                              <div class="row readings">
                                <div class="col-sm-6">
                                  <div class="white-block shadow-outline">
                                    <div class="row">
                                      <div class="col-xs-7">
                                        <span class="reading">
                                          {% for farm_greenhouse in FARM_GREENHOUSES %}
                                          {% if farm_greenhouse.id|string == GREENHOUSE.uid|string %}
                                          {{farm_greenhouse.summaries.data.water}}L
                                          {% endif %}
                                          {% endfor %}
                                          <span class="shift up danger">+10</span></span>
                                        <span class="caption">Total Irrigation</span>
                                      </div>
                                      <div class="col-xs-5 text-right"><img src="/customer/static/img/drop.png" style="opacity: 0.3; height: 20px; "></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="white-block shadow-outline">
                                    <div class="row">
                                      <div class="col-xs-7">
                                        <span class="reading">
                                          {% for farm_greenhouse in FARM_GREENHOUSES %}
                                          {% if farm_greenhouse.id|string == GREENHOUSE.uid|string %}
                                          {{farm_greenhouse.summaries.data.carbon_dioxide}}
                                          {% endif %}
                                          {% endfor %}
                                          <span class="shift down normal">-10</span></span>
                                        <span class="caption">Avg Co2 read</span>
                                      </div>
                                      <div class="col-xs-5 text-right"><img src="/customer/static/img/wind.png" style="opacity: 0.3; height: 20px; "></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="white-block shadow-outline">
                                    <div class="row">
                                      <div class="col-xs-7">
                                        <span class="reading">
                                          {% for farm_greenhouse in FARM_GREENHOUSES %}
                                          {% if farm_greenhouse.id|string == GREENHOUSE.uid|string %}
                                          {{farm_greenhouse.summaries.data.temperature.air}}
                                          {% endif %}
                                          {% endfor %}
                                          <sup>&deg;</sup>c <span class="shift down normal">-10</span></span>
                                        <span class="caption">Avg air temp</span>
                                      </div>
                                      <div class="col-xs-5 text-right"><img src="/customer/static/img/wind.png" style="opacity: 0.3; height: 20px; "></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="white-block shadow-outline">
                                    <div class="row">
                                      <div class="col-xs-7">
                                        <span class="reading">
                                          {% for farm_greenhouse in FARM_GREENHOUSES %}
                                          {% if farm_greenhouse.id|string == GREENHOUSE.uid|string %}
                                          {{farm_greenhouse.summaries.data.humidity.air}}
                                          {% endif %}
                                          {% endfor %}
                                          % <span class="shift down danger">+10</span></span>
                                        <span class="caption">Avg air humidity</span>
                                      </div>
                                      <div class="col-xs-5 text-right"><img src="/customer/static/img/wind.png" style="opacity: 0.3; height: 20px; "></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="white-block shadow-outline">
                                    <div class="row">
                                      <div class="col-xs-7">
                                        <span class="reading">
                                          {% for farm_greenhouse in FARM_GREENHOUSES %}
                                          {% if farm_greenhouse.id|string == GREENHOUSE.uid|string %}
                                          {{farm_greenhouse.summaries.data.light_intensity}}
                                          {% endif %}
                                          {% endfor %}
                                          lx <span class="shift up normal">+10</span></span>
                                        <span class="caption">Avg light record</span>
                                      </div>
                                      <div class="col-xs-5 text-right"><img src="/customer/static/img/sun.png" style="opacity: 0.3; height: 20px; "></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="white-block shadow-outline">
                                    <div class="row">
                                      <div class="col-xs-7">
                                        <span class="reading">
                                          {% for farm_greenhouse in FARM_GREENHOUSES %}
                                          {% if farm_greenhouse.id|string == GREENHOUSE.uid|string %}
                                          {{farm_greenhouse.summaries.data.temperature.soil}}
                                          {% endif %}
                                          {% endfor %}
                                          <sup>&deg;</sup>c <span class="shift up danger">+10</span></span>
                                        <span class="caption">Avg soil temp</span>
                                      </div>
                                      <div class="col-xs-5 text-right"><img src="/customer/static/img/soil.png" style="opacity: 0.3; height: 25px; "></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="white-block shadow-outline">
                                    <div class="row">
                                      <div class="col-xs-7">
                                        <span class="reading">
                                          {% for farm_greenhouse in FARM_GREENHOUSES %}
                                          {% if farm_greenhouse.id|string == GREENHOUSE.uid|string %}
                                          {{farm_greenhouse.summaries.data.humidity.soil}}
                                          {% endif %}
                                          {% endfor %}
                                          % <span class="shift up normal">0</span></span>
                                        <span class="caption">Avg soil moisture</span>
                                      </div>
                                      <div class="col-xs-5 text-right"><img src="/customer/static/img/soil.png" style="opacity: 0.3; height: 25px; "></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="white-block shadow-outline">
                                    <div class="row">
                                      <div class="col-xs-7">
                                        <span class="reading">
                                          {% for farm_greenhouse in FARM_GREENHOUSES %}
                                          {% if farm_greenhouse.id|string == GREENHOUSE.uid|string %}
                                          {{farm_greenhouse.summaries.data.npk.n}}
                                          {% endif %}
                                          {% endfor %}
                                          <span class="shift up danger">+10</span></span>
                                        <span class="caption">Avg nitrogen read</span>
                                      </div>
                                      <div class="col-xs-5 text-right"><img src="/customer/static/img/soil.png" style="opacity: 0.3; height: 25px; "></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="white-block shadow-outline">
                                    <div class="row">
                                      <div class="col-xs-7">
                                        <span class="reading">
                                          {% for farm_greenhouse in FARM_GREENHOUSES %}
                                          {% if farm_greenhouse.id|string == GREENHOUSE.uid|string %}
                                          {{farm_greenhouse.summaries.data.npk.p}}
                                          {% endif %}
                                          {% endfor %}
                                          <span class="shift up danger">+10</span></span>
                                        <span class="caption">Avg phosphurus read</span>
                                      </div>
                                      <div class="col-xs-5 text-right"><img src="/customer/static/img/soil.png" style="opacity: 0.3; height: 25px; "></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="white-block shadow-outline">
                                    <div class="row">
                                      <div class="col-xs-7">
                                        <span class="reading">
                                          {% for farm_greenhouse in FARM_GREENHOUSES %}
                                          {% if farm_greenhouse.id|string == GREENHOUSE.uid|string %}
                                          {{farm_greenhouse.summaries.data.npk.k}}
                                          {% endif %}
                                          {% endfor %}
                                          <span class="shift down normal">+10</span></span>
                                        <span class="caption">Avg potassium read</span>
                                      </div>
                                      <div class="col-xs-5 text-right"><img src="/customer/static/img/soil.png" style="opacity: 0.3; height: 25px; "></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <h5>Plant journeys</h5>
                              <div class="plant-journey white-block shadow-outline">
                                <select name="plant-journey" class="select2" disabled="disabled">
                                  <option>No plant journeys</option>
                                </select>
                                <div class="plants">
                                  <p class="inverse">None at the moment.</p>
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="row detailed-readings">
                            <div class="col-sm-12">
                              <h5>Sensor detailed readings</h5>
                            </div>
                            <div class="col-sm-12">
                              <div class="irrigation-report white-block shadow-outline">
                                <div class="row">
                                  <div class="col-sm-5">
                                    <h5>Irrigation report</h5>
                                  </div>
                                  <div class="col-sm-7 text-right">
                                    <select name="month" class="select2 month-select">
                                      <option value="1">January</option>
                                      <option value="2">February</option>
                                      <option value="3">March</option>
                                      <option value="4">April</option>
                                      <option value="5">May</option>
                                      <option value="6">June</option>
                                      <option value="7">July</option>
                                      <option value="8">August</option>
                                      <option value="9">September</option>
                                      <option value="10">October</option>
                                      <option value="11">November</option>
                                      <option value="12">December</option>
                                    </select>
                                    <select name="year" class="select2 year-select">
                                      <option>2020</option>
                                      <option>2019</option>
                                      <option>2018</option>
                                    </select>
                                    <a class="btn btn-flat btn-success btn-farm-irrigation-report-filter">Go</a>
                                  </div>
                                </div>
                                <div class="row chart-periods">
                                  <div class="col-sm-8">
                                    <div class="btn-group">
                                      <a class="btn btn-flat btn-default btn-period active" rel="daily">Daily</a>
                                      <a class="btn btn-flat btn-default btn-period" rel="weekly">Weekly</a>
                                      <a class="btn btn-flat btn-default btn-period" rel="monthly">Monthly</a>
                                      <a class="btn btn-flat btn-default btn-period" rel="yearly">Yearly</a>
                                    </div>
                                  </div>
                                  <div class="col-sm-4 text-right">
                                    <label class="label label-difference">+10 <i class="fa fa-long-arrow-up"></i></label>
                                  </div>
                                </div>
                                <div class="row chart-area">
                                  <div class="col-sm-12">
                                    <div class="chart-container">
                                      <div class="chart ct-chart ct-perfect-fourth" id="detailed_farm_water">
                                        <div class="y-axis">
                                          <div class="axis-label">
                                            <span>&nbsp;</span>
                                          </div>
                                        </div>
                                        <div class="x-axis">
                                          <div class="chart-data">
                                          </div>
                                          <div class="axis-label">
                                            <span>&nbsp;</span>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="co2-read white-block shadow-outline">
                                <div class="row">
                                  <div class="col-sm-5">
                                    <h5>Co2 read</h5>
                                  </div>
                                  <div class="col-sm-7 text-right">
                                    <select name="month" class="select2 month-select">
                                      <option value="1">January</option>
                                      <option value="2">February</option>
                                      <option value="3">March</option>
                                      <option value="4">April</option>
                                      <option value="5">May</option>
                                      <option value="6">June</option>
                                      <option value="7">July</option>
                                      <option value="8">August</option>
                                      <option value="9">September</option>
                                      <option value="10">October</option>
                                      <option value="11">November</option>
                                      <option value="12">December</option>
                                    </select>
                                    <select name="year" class="select2 year-select">
                                      <option>2020</option>
                                      <option>2019</option>
                                      <option>2018</option>
                                    </select>
                                    <a class="btn btn-flat btn-success btn-farm-co2-filter">Go</a>
                                  </div>
                                </div>
                                <div class="row chart-periods">
                                  <div class="col-sm-8">
                                    <div class="btn-group">
                                      <a class="btn btn-flat btn-default btn-period active" rel="daily">Daily</a>
                                      <a class="btn btn-flat btn-default btn-period" rel="weekly">Weekly</a>
                                      <a class="btn btn-flat btn-default btn-period" rel="monthly">Monthly</a>
                                      <a class="btn btn-flat btn-default btn-period" rel="yearly">Yearly</a>
                                    </div>
                                  </div>
                                  <div class="col-sm-4 text-right">
                                    <label class="label label-difference">+10 <i class="fa fa-long-arrow-up"></i></label>
                                  </div>
                                </div>
                                <div class="row chart-area">
                                  <div class="col-sm-12">
                                    <div class="chart-container">
                                      <div class="chart ct-chart ct-perfect-fourth" id="detailed_farm_co2">
                                        <div class="y-axis">
                                          <div class="axis-label">
                                            <span>&nbsp;</span>
                                          </div>
                                        </div>
                                        <div class="x-axis">
                                          <div class="chart-data">
                                          </div>
                                          <div class="axis-label">
                                            <span>&nbsp;</span>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="air-readings white-block shadow-outline">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <h5>Air read</h5>
                                  </div>
                                  <div class="col-sm-6 text-right">
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="nav-tabs-custom inner">
                                      <ul class="nav nav-tabs">
                                        <li class="active"><a href="#air-temp" data-toggle="tab" aria-expanded="false">Air Temperature</a></li>
                                        <li class=""><a href="#air-humidity" data-toggle="tab" aria-expanded="true">Air Humidity</a></li>
                                      </ul>
                                      <div class="tab-content">
                                        <div class="tab-pane active" id="air-temp">
                                          <div class="row">
                                            <div class="col-sm-5">&nbsp;</div>
                                            <div class="col-sm-7 text-right">
                                              <select name="month" class="select2 month-select">
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                              </select>
                                              <select name="year" class="select2 year-select">
                                                <option>2020</option>
                                                <option>2019</option>
                                                <option>2018</option>
                                              </select>
                                              <a class="btn btn-flat btn-success btn-farm-air-readings-temp-filter">Go</a>
                                            </div>
                                          </div>
                                          <div class="row chart-periods">
                                            <div class="col-sm-8">
                                              <div class="btn-group">
                                                <a class="btn btn-flat btn-default btn-period active" rel="daily">Daily</a>
                                                <a class="btn btn-flat btn-default btn-period" rel="weekly">Weekly</a>
                                                <a class="btn btn-flat btn-default btn-period" rel="monthly">Monthly</a>
                                                <a class="btn btn-flat btn-default btn-period" rel="yearly">Yearly</a>
                                              </div>
                                            </div>
                                            <div class="col-sm-4 text-right">
                                              <label class="label label-difference">+10 <i class="fa fa-long-arrow-up"></i></label>
                                            </div>
                                          </div>
                                          <div class="row chart-area">
                                            <div class="col-sm-12">
                                              <div class="chart-container">
                                                <div class="chart ct-chart ct-perfect-fourth" id="detailed_farm_air_readings_temp">
                                                  <div class="y-axis">
                                                    <div class="axis-label">
                                                      <span>&nbsp;</span>
                                                    </div>
                                                  </div>
                                                  <div class="x-axis">
                                                    <div class="chart-data">
                                                    </div>
                                                    <div class="axis-label">
                                                      <span>&nbsp;</span>
                                                    </div>

                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="tab-pane" id="air-humidity">
                                          <div class="row">
                                            <div class="col-sm-5">&nbsp;</div>
                                            <div class="col-sm-7 text-right">
                                              <select name="month" class="select2 month-select">
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                              </select>
                                              <select name="year" class="select2 year-select">
                                                <option>2020</option>
                                                <option>2019</option>
                                                <option>2018</option>
                                              </select>
                                              <a class="btn btn-flat btn-success btn-farm-air-readings-humidity-filter">Go</a>
                                            </div>
                                          </div>
                                          <div class="row chart-periods">
                                            <div class="col-sm-8">
                                              <div class="btn-group">
                                                <a class="btn btn-flat btn-default btn-period active" rel="daily">Daily</a>
                                                <a class="btn btn-flat btn-default btn-period" rel="weekly">Weekly</a>
                                                <a class="btn btn-flat btn-default btn-period" rel="monthly">Monthly</a>
                                                <a class="btn btn-flat btn-default btn-period" rel="yearly">Yearly</a>
                                              </div>
                                            </div>
                                            <div class="col-sm-4 text-right">
                                              <label class="label label-difference">+10 <i class="fa fa-long-arrow-up"></i></label>
                                            </div>
                                          </div>
                                          <div class="row chart-area">
                                            <div class="col-sm-12">
                                              <div class="chart-container">
                                                <div class="chart ct-chart ct-perfect-fourth" id="detailed_farm_air_readings_humidity">
                                                  <div class="y-axis">
                                                    <div class="axis-label">
                                                      <span>&nbsp;</span>
                                                    </div>
                                                  </div>
                                                  <div class="x-axis">
                                                    <div class="chart-data">
                                                    </div>
                                                    <div class="axis-label">
                                                      <span>&nbsp;</span>
                                                    </div>

                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="light-read white-block shadow-outline">
                                <div class="row">
                                  <div class="col-sm-5">
                                    <h5>Light read</h5>
                                  </div>
                                  <div class="col-sm-7 text-right">
                                    <select name="month" class="select2 month-select">
                                      <option value="1">January</option>
                                      <option value="2">February</option>
                                      <option value="3">March</option>
                                      <option value="4">April</option>
                                      <option value="5">May</option>
                                      <option value="6">June</option>
                                      <option value="7">July</option>
                                      <option value="8">August</option>
                                      <option value="9">September</option>
                                      <option value="10">October</option>
                                      <option value="11">November</option>
                                      <option value="12">December</option>
                                    </select>
                                    <select name="year" class="select2 year-select">
                                      <option>2020</option>
                                      <option>2019</option>
                                      <option>2018</option>
                                    </select>
                                    <a class="btn btn-flat btn-success btn-farm-light-filter">Go</a>
                                  </div>
                                </div>
                                <div class="row chart-periods">
                                  <div class="col-sm-8">
                                    <div class="btn-group">
                                      <a class="btn btn-flat btn-default btn-period active" rel="daily">Daily</a>
                                      <a class="btn btn-flat btn-default btn-period" rel="weekly">Weekly</a>
                                      <a class="btn btn-flat btn-default btn-period" rel="monthly">Monthly</a>
                                      <a class="btn btn-flat btn-default btn-period" rel="yearly">Yearly</a>
                                    </div>
                                  </div>
                                  <div class="col-sm-4 text-right">
                                    <label class="label label-difference">+10 <i class="fa fa-long-arrow-up"></i></label>
                                  </div>
                                </div>
                                <div class="row chart-area">
                                  <div class="col-sm-12">
                                    <div class="chart-container">
                                      <div class="chart ct-chart ct-perfect-fourth" id="detailed_farm_light">
                                        <div class="y-axis">
                                          <div class="axis-label">
                                            <span>&nbsp;</span>
                                          </div>
                                        </div>
                                        <div class="x-axis">
                                          <div class="chart-data">
                                          </div>
                                          <div class="axis-label">
                                            <span>&nbsp;</span>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="soil-read white-block shadow-outline">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <h5>Soil read</h5>
                                  </div>
                                  <div class="col-sm-6 text-right">
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="nav-tabs-custom inner">
                                      <ul class="nav nav-tabs">
                                        <li class="active"><a href="#soil-temp" data-toggle="tab" aria-expanded="false">Soil Temperature</a></li>
                                        <li class=""><a href="#soil-humidity" data-toggle="tab" aria-expanded="true">Soil Humidity</a></li>
                                      </ul>
                                      <div class="tab-content">
                                        <div class="tab-pane active" id="soil-temp">
                                          <div class="row">
                                            <div class="col-sm-5">&nbsp;</div>
                                            <div class="col-sm-7 text-right">
                                              <select name="month" class="select2 month-select">
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                              </select>
                                              <select name="year" class="select2 year-select">
                                                <option>2020</option>
                                                <option>2019</option>
                                                <option>2018</option>
                                              </select>
                                              <a class="btn btn-flat btn-success btn-farm-soil-readings-temp-filter">Go</a>
                                            </div>
                                          </div>
                                          <div class="row chart-periods">
                                            <div class="col-sm-8">
                                              <div class="btn-group">
                                                <a class="btn btn-flat btn-default btn-period active" rel="daily">Daily</a>
                                                <a class="btn btn-flat btn-default btn-period" rel="weekly">Weekly</a>
                                                <a class="btn btn-flat btn-default btn-period" rel="monthly">Monthly</a>
                                                <a class="btn btn-flat btn-default btn-period" rel="yearly">Yearly</a>
                                              </div>
                                            </div>
                                            <div class="col-sm-4 text-right">
                                              <label class="label label-difference">+10 <i class="fa fa-long-arrow-up"></i></label>
                                            </div>
                                          </div>
                                          <div class="row chart-area">
                                            <div class="col-sm-12">
                                              <div class="chart-container">
                                                <div class="chart ct-chart ct-perfect-fourth" id="detailed_farm_soil_readings_temp">
                                                  <div class="y-axis">
                                                    <div class="axis-label">
                                                      <span>&nbsp;</span>
                                                    </div>
                                                  </div>
                                                  <div class="x-axis">
                                                    <div class="chart-data">
                                                    </div>
                                                    <div class="axis-label">
                                                      <span>&nbsp;</span>
                                                    </div>

                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="tab-pane" id="soil-humidity">
                                          <div class="row">
                                            <div class="col-sm-5">&nbsp;</div>
                                            <div class="col-sm-7 text-right">
                                              <select name="month" class="select2 month-select">
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                              </select>
                                              <select name="year" class="select2 year-select">
                                                <option>2020</option>
                                                <option>2019</option>
                                                <option>2018</option>
                                              </select>
                                              <a class="btn btn-flat btn-success btn-farm-soil-readings-humidity-filter">Go</a>
                                            </div>
                                          </div>
                                          <div class="row chart-periods">
                                            <div class="col-sm-8">
                                              <div class="btn-group">
                                                <a class="btn btn-flat btn-default btn-period active" rel="daily">Daily</a>
                                                <a class="btn btn-flat btn-default btn-period" rel="weekly">Weekly</a>
                                                <a class="btn btn-flat btn-default btn-period" rel="monthly">Monthly</a>
                                                <a class="btn btn-flat btn-default btn-period" rel="yearly">Yearly</a>
                                              </div>
                                            </div>
                                            <div class="col-sm-4 text-right">
                                              <label class="label label-difference">+10 <i class="fa fa-long-arrow-up"></i></label>
                                            </div>
                                          </div>
                                          <div class="row chart-area">
                                            <div class="col-sm-12">
                                              <div class="chart-container">
                                                <div class="chart ct-chart ct-perfect-fourth" id="detailed_farm_soil_readings_humidity">
                                                  <div class="y-axis">
                                                    <div class="axis-label">
                                                      <span>&nbsp;</span>
                                                    </div>
                                                  </div>
                                                  <div class="x-axis">
                                                    <div class="chart-data">
                                                    </div>
                                                    <div class="axis-label">
                                                      <span>&nbsp;</span>
                                                    </div>

                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                              <div class="npk-read white-block shadow-outline">
                                <div class="row">
                                  <div class="col-sm-5">
                                    <h5>NPK read</h5>
                                  </div>
                                  <div class="col-sm-7 text-right">
                                    <select name="month" class="select2 month-select">
                                      <option value="1">January</option>
                                      <option value="2">February</option>
                                      <option value="3">March</option>
                                      <option value="4">April</option>
                                      <option value="5">May</option>
                                      <option value="6">June</option>
                                      <option value="7">July</option>
                                      <option value="8">August</option>
                                      <option value="9">September</option>
                                      <option value="10">October</option>
                                      <option value="11">November</option>
                                      <option value="12">December</option>
                                    </select>
                                    <select name="year" class="select2 year-select">
                                      <option>2020</option>
                                      <option>2019</option>
                                      <option>2018</option>
                                    </select>
                                    <a class="btn btn-flat btn-success btn-farm-npk-filter">Go</a>
                                  </div>
                                </div>
                                <div class="row chart-periods">
                                  <div class="col-sm-8">
                                    <div class="btn-group">
                                      <a class="btn btn-flat btn-default btn-period active" rel="daily">Daily</a>
                                      <a class="btn btn-flat btn-default btn-period" rel="weekly">Weekly</a>
                                      <a class="btn btn-flat btn-default btn-period" rel="monthly">Monthly</a>
                                      <a class="btn btn-flat btn-default btn-period" rel="yearly">Yearly</a>
                                    </div>
                                  </div>
                                  <div class="col-sm-4 text-right">
                                    <label class="label label-difference-n">+10 <i class="fa fa-long-arrow-up"></i></label>
                                    <label class="label label-difference-p">+10 <i class="fa fa-long-arrow-up"></i></label>
                                    <label class="label label-difference-k">+10 <i class="fa fa-long-arrow-up"></i></label>
                                  </div>
                                </div>
                                <div class="row chart-area">
                                  <div class="col-sm-12">
                                    <div class="chart-container">
                                      <div class="chart ct-chart ct-perfect-fourth" id="detailed_farm_npk">
                                        <div class="y-axis">
                                          <div class="axis-label">
                                            <span>&nbsp;</span>
                                          </div>
                                        </div>
                                        <div class="x-axis">
                                          <div class="chart-data">
                                          </div>
                                          <div class="axis-label">
                                            <span>&nbsp;</span>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="current-farm-ext-shields">
                        Current Farm Ext Shields
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-3 support-view">
              <div class="white-block shadow-outline">
                <h3>Support & maintenance <span class="label label-default badge count">0</span></h3>
                <div class="row">
                  <div class="col-sm-12">
                    <a class="btn btn-default btn-flat btn-block text-center disabled btn-request-support">Request support or maintenance</a>
                  </div>
                  <div class="col-sm-12">
                    <p class="no-maintenance">Maintenance requests come in when either a farmer raises one or you do!</p>
                  </div>
                </div>

                <div class="nav-tabs-custom">
                  <ul class="nav nav-tabs">
                    <li class=""><a href="#outgoing" data-toggle="tab" aria-expanded="false">Outgoing (12)</a></li>
                    <li class="active"><a href="#scheduled" data-toggle="tab" aria-expanded="true">Scheduled (10)</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane" id="outgoing">
                      <p class="citation">Request support or maintenance</p>
                      <ul class="concerns">
                        <li>
                          <span class="header">Device</span>
                          <span class="copy">Repair device concern by customer 23234343434. See request <a href="#">M-09</a></span>
                          <span class="timestamp">12 May 2020, 17:31</span>
                        </li>
                        <li>
                          <span class="header">Greenhouse</span>
                          <span class="copy">Repair greenhouse concern by customer 23234343434. See request <a href="#">M-09</a></span>
                          <span class="timestamp">12 May 2020, 17:31</span>
                        </li>
                        <li>
                          <span class="header">Device</span>
                          <span class="copy">Repair device concern by customer 23234343434. See request <a href="#">M-09</a></span>
                          <span class="timestamp">12 May 2020, 17:31</span>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-pane active" id="scheduled">
                      <p class="citation">Request support or maintenance</p>
                      <ul class="schedules">
                        <li>
                          <span class="header">Device</span>
                          <span class="copy">Repair device concern by customer 23234343434. See request <a href="#">M-09</a></span>
                          <span class="timestamp">Visit on: <span class="dt">Today, 09:31</span></span>
                        </li>
                        <li>
                          <span class="header">Greenhouse</span>
                          <span class="copy">Repair greenhouse concern by customer 23234343434. See request <a href="#">M-09</a></span>
                          <span class="timestamp">Visit on: <span class="dt">Today, 09:31</span></span>
                        </li>
                        <li>
                          <span class="header">Device</span>
                          <span class="copy">Repair device concern by customer 23234343434. See request <a href="#">M-09</a></span>
                          <span class="timestamp">Visit on: <span class="dt">Today, 09:31</span></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>
    <script src="{{url_for('.static',filename='js/chartist.min.js')}}"></script>
    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script src="{{url_for('.static',filename='plugins/datepicker/bootstrap-datepicker.js')}}"></script>
    <script type="text/javascript">
      $(function () {

        $(".select2").select2();

        $("#select_greenhouse").on("change", function(){
          $.post("/customer/", {greenhouse_id: $("#select_greenhouse").val()}, function(){
            document.location.href = document.location.href;
          });
        });

        $(".btn-irrigation-report-filter").on("click", function(){
          plot_total_irrigation();
        });
        plot_total_irrigation();

        $(".btn-farm-irrigation-report-filter").on("click", function(){
          plot_farm_irrigation();
        });
        plot_farm_irrigation();

        $(".btn-farm-co2-filter").on("click", function(){
          plot_farm_co2();
        });
        plot_farm_co2();

        $(".btn-farm-air-readings-temp-filter").on("click", function(){
          plot_farm_air_readings_temp();
        });
        plot_farm_air_readings_temp();

        $(".btn-farm-air-readings-humidity-filter").on("click", function(){
          plot_farm_air_readings_humidity();
        });
        plot_farm_air_readings_humidity();

        $(".btn-farm-light-filter").on("click", function(){
          plot_farm_light();
        });
        plot_farm_light();

        $(".btn-farm-soil-readings-temp-filter").on("click", function(){
          plot_farm_soil_readings_temp();
        });
        plot_farm_soil_readings_temp();

        $(".btn-farm-soil-readings-humidity-filter").on("click", function(){
          plot_farm_soil_readings_humidity();
        });
        plot_farm_soil_readings_humidity();

        $(".btn-farm-npk-filter").on("click", function(){
          plot_farm_npk();
        });
        plot_farm_npk();

      });

    </script>
  </body>
</html>
