<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Sensor Data
          </h1>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <div class="row">
                    <div class="col-md-12">
                      <form action="" method="post">
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label for="data_source">Source</label>
                              <select class="form-control select2 select2-hidden-accessible" name="data_source" id="data_source" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                {% for options in FILTER_OPTIONS %}
                                <option value="{{options.value}}">{{options.label}}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Dates:</label>
                              <div class="input-group">
                                <div class="input-group-addon">
                                  <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" name="data_date" id="data_date" value="{{DATE_RANGE}}">
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-group">
                              <label>&nbsp</label>
                              <button type="submit" class="btn btn-block btn-success btn-flat">Filter</button>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-group">
                              <label>&nbsp</label>
                              <div id="action-buttons"></div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="box-body">
                  <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#result_graphs" data-toggle="tab">Graphs</a></li>
                      <li><a href="#result_list" data-toggle="tab">List</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="active tab-pane" id="result_graphs">
                        <div class="row">
                          <div class="col-sm-6">
                            <h5>
                              Temperature
                            </h5>
                            <div class="nav-tabs-custom">
                              <ul class="nav nav-tabs">
                                <li class="active"><a href="#temp_air" data-toggle="tab">Air</a></li>
                                <li><a href="#temp_soil" data-toggle="tab">Soil</a></li>
                              </ul>
                              <div class="tab-content">
                                <div class="active tab-pane loading-data" id="temp_air">
                                  <div class="chart plot-chart" chart-type="line" chart-data="" chart-canvas="temp_air_lineChart">
                                    <canvas id="temp_air_lineChart" width="100%" height="300" style="height: 300px; width: 100%;"></canvas>
                                  </div>
                                </div>
                                <div class="tab-pane loading-data" id="temp_soil">
                                  <div class="chart plot-chart" chart-type="line" chart-data="" chart-canvas="temp_soil_lineChart" >
                                    <canvas id="temp_soil_lineChart" width="100%" height="300" style="height: 300px; width: 100%;"></canvas>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <h5>
                              Humidity
                            </h5>
                            <div class="nav-tabs-custom">
                              <ul class="nav nav-tabs">
                                <li class="active"><a href="#humidity_air" data-toggle="tab">Air</a></li>
                                <li><a href="#humidity_soil" data-toggle="tab">Soil</a></li>
                              </ul>
                              <div class="tab-content">
                                <div class="active tab-pane loading-data" id="humidity_air">
                                  <div class="chart plot-chart" chart-type="line" chart-data="" chart-canvas="humidity_air_lineChart">
                                    <canvas id="humidity_air_lineChart" width="100%" height="300" style="height: 300px; width: 100%;"></canvas>
                                  </div>
                                </div>
                                <div class="tab-pane loading-data" id="humidity_soil">
                                  <div class="chart plot-chart" chart-type="line" chart-data="" chart-canvas="humidity_soil_lineChart" >
                                    <canvas id="humidity_soil_lineChart" width="100%" height="300" style="height: 300px; width: 100%;"></canvas>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <h5>
                              Water
                            </h5>
                            <div class="active tab-pane loading-data" id="water">
                              <div class="chart plot-chart" chart-type="line" chart-data="" chart-canvas="water_lineChart">
                                <canvas id="water_lineChart" width="100%" height="300" style="height: 300px; width: 100%;"></canvas>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <h5>
                              NPK
                            </h5>
                            <div class="active tab-pane loading-data" id="npk">
                              <div class="chart plot-chart-multiple" chart-type="line" chart-data="" chart-canvas="npk_lineChart">
                                <canvas id="npk_lineChart" width="100%" height="300" style="height: 300px; width: 100%;"></canvas>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <h5>
                              CO<sub>2</sub>
                            </h5>
                            <div class="active tab-pane loading-data" id="carbon_dioxide">
                              <div class="chart plot-chart" chart-type="line" chart-data="" chart-canvas="carbon_dioxide_lineChart">
                                <canvas id="carbon_dioxide_lineChart" width="100%" height="300" style="height: 300px; width: 100%;"></canvas>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <h5>
                              Light Intensity
                            </h5>
                            <div class="active tab-pane loading-data" id="light_intensity">
                              <div class="chart plot-chart" chart-type="line" chart-data="" chart-canvas="light_intensity_lineChart">
                                <canvas id="light_intensity_lineChart" width="100%" height="300" style="height: 300px; width: 100%;"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="result_list">
                        <table id="_source_data" class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>Greenhouse</th>
                              <th>Date Time</th>
                              <th>CO2</th>
                              <th>Soil Temp</th>
                              <th>Air Temp</th>
                              <th>Light</th>
                              <th>Soil Moisture</th>
                              <th>Air Humidity</th>
                              <th>Water</th>
                              <th>NPK</th>
                              <th>Shield Battery Voltage</th>
                              <th>Spear 1</th>
                              <th>Spear 2</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for _filtrate in FILTRATE %}
                              {% for _d in _filtrate["data"] %}
                                <tr>
                                  <td>{{_filtrate["gh_name"]}}</td>
                                  <td>{{_d["date"]}}</td>
                                  <td>{% if _d["data"]["co2"]: %}{{_d["data"]["co2"]}}{% else %}-{% endif %}</td>
                                  <td>{% if _d["data"]["st"]: %}{{_d["data"]["st"]}}{% else %}-{% endif %}</td>
                                  <td>{% if _d["data"]["at"]: %}{{_d["data"]["at"]}}{% else %}-{% endif %}</td>
                                  <td>{% if _d["data"]["li"]: %}{{_d["data"]["li"]}}{% else %}-{% endif %}</td>
                                  <td>{% if _d["data"]["sm"]: %}{{_d["data"]["sm"]}}{% else %}-{% endif %}</td>
                                  <td>{% if _d["data"]["ah"]: %}{{_d["data"]["ah"]}}{% else %}-{% endif %}</td>
                                  <td>{% if _d["data"]["wd"]: %}{{_d["data"]["wd"]}}{% else %}-{% endif %}</td>
                                  <td>{% if _d["data"]["npk"]: %}{{_d["data"]["npk"][0]}}{%else%}-{% endif %}</td>
                                  <td>{% if _d["data"]["sbv"]: %}{{_d["data"]["sbv"]}}v{% else %}-{% endif %}</td>
                                  <td>{% if _d["data"]["sp1bv"]: %}{{_d["data"]["sp1bv"]}}v{% else %}-{% endif %}</td>
                                  <td>{% if _d["data"]["sp2bv"]: %}{{_d["data"]["sp2bv"]}}v{% else %}-{% endif %}</td>
                                </tr>
                              {% endfor %}
                            {% endfor %}
                          </tbody>
                          <tfoot>
                            <tr>
                              <th>Greenhouse</th>
                              <th>Date Time</th>
                              <th>CO2</th>
                              <th>Soil Temp</th>
                              <th>Air Temp</th>
                              <th>Light</th>
                              <th>Soil Moisture</th>
                              <th>Air Humidity</th>
                              <th>Water</th>
                              <th>NPK</th>
                              <th>Shield Battery</th>
                              <th>Spear 1</th>
                              <th>Spear 2</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script src="{{url_for('.static',filename='plugins/datatables/dataTables.buttons.min.js')}}"></script>
    <script src="{{url_for('.static',filename='plugins/datatables/buttons.html5.min.js')}}"></script>
    <script src="{{url_for('.static',filename='plugins/chartjs/Chart.js')}}"></script>
    <script>
    $(function () {
      $(".select2").select2();

      var at = []
      var st = []
      var ah = []
      var sm = []
      var wd = []
      var npk = []
      var co2 = []
      var li = []

      var resp = {{FILTRATE|tojson}};
      var results = []
      if (resp.length > 0 && resp[0]["data"] != undefined) {
        results = resp[0]["data"]
      }

      for (var u=0; u<results.length; u++) {
        _at = 0.0
        if (results[u]["data"]["at"] != undefined) {
          _at = parseFloat(results[u]["data"]["at"])
        }
        at.push(results[u]['date'] + ": " + _at)

        _st = 0.0
        if (results[u]["data"]["st"] != undefined) {
          _st = parseFloat(results[u]["data"]["st"])
        }
        st.push(results[u]['date'] + ": " + _st)

        _ah = 0.0
        if (results[u]["data"]["ah"] != undefined) {
          _ah = parseFloat(results[u]["data"]["ah"])
        }
        ah.push(results[u]['date'] + ": " + _ah)

        _sm = 0.0
        if (results[u]["data"]["sm"] != undefined) {
          _sm = parseFloat(results[u]["data"]["sm"])
        }
        sm.push(results[u]['date'] + ": " + _sm)

        _wd = 0.0
        if (results[u]["data"]["wd"] != undefined) {
          _wd = parseFloat(results[u]["data"]["wd"])
        }
        wd.push(results[u]['date'] + ": " + _wd)

        _npk = {
          "n":parseFloat(results[u]["data"]["npk"][0]),
          "p":parseFloat(results[u]["data"]["npk"][1]),
          "k":parseFloat(results[u]["data"]["npk"][2])
        }
        npk[results[u]['date']] = _npk

        _co2 = 0.0
        if (results[u]["data"]["co2"] != undefined) {
          _co2 = parseFloat(results[u]["data"]["co2"])
        }
        co2.push(results[u]['date'] + ": " + _co2)

        _li = 0.0
        if (results[u]["data"]["li"] != undefined) {
          _li = parseFloat(results[u]["data"]["li"])
        }
        li.push(results[u]['date'] + ": " + _li)
      }

      plot_chart("line", at, "temp_air_lineChart");
      plot_chart("line", st, "temp_soil_lineChart");
      plot_chart("line", ah, "humidity_air_lineChart");
      plot_chart("line", sm, "humidity_soil_lineChart");
      plot_chart("line", wd, "water_lineChart");
      plot_chart_multiple("line", npk, "npk_lineChart");
      plot_chart("line", co2, "carbon_dioxide_lineChart");
      plot_chart("line", li, "light_intensity_lineChart");


      // console.log(wd)

      var dt = $("#_source_data").DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      new $.fn.dataTable.Buttons(dt, {
        "buttons":  [
                      {
                        "extend":'csvHtml5',
                        "text": 'Export CSV',
                        "className": 'btn btn-default btn-flat action-button',
                        title: "Sensor Data - {{DATE_RANGE}}"
                      },
                    ]
      });
      dt.buttons( 0, null ).container().appendTo( '#action-buttons' );

      //Date picker
      $('#data_date').daterangepicker({
        "minDate": "{{DATE_LOWER_LIMIT}}",
        "maxDate": "{{DATE_UPPER_LIMIT}}",
        "startDate": "{{DATE_UPPER_LIMIT}}",
      });

    });

    function plot_chart(type, data, canvas) {

      if (type == "line") {

        $('#' + canvas).closest('.data-container:not(.active)').css('display', 'block');
        $('#' + canvas).closest('.loading-data:not(.active)').css('display', 'block');

        _data0 = data

        if (canvas.includes('yearly')) {
          _data0.shift()
        }
        var durations = [];
        var chart_data = [];

        for (i=0; i<_data0.length; i++) {
          var vals = _data0[i].split(": ")
          durations.push(vals[0])
          chart_data.push(vals[1])
        }

        var areaChartData = {
              labels  : durations,
              datasets: [
                {
                  label               : 'Metrics',
                  fillColor           : 'rgba(210, 214, 222, 1)',
                  strokeColor         : 'rgba(210, 214, 222, 1)',
                  pointColor          : 'rgba(210, 214, 222, 1)',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(220,220,220,1)',
                  data                : chart_data
                }
              ],
              options: {
                      scales: {
                          yAxes: [{
                              ticks: {
                                  suggestedMin: 50,
                                  suggestedMax: 100
                              }
                          }]
                      }
                  }
            }

        var lineChartCanvas          = $('#' + canvas).get(0).getContext('2d')
        var lineChart                = new Chart(lineChartCanvas)
        var barChartData                     = areaChartData

        var lineChartOptions                  = {
          scaleBeginAtZero        : true,
          scaleShowGridLines      : true,
          scaleGridLineColor      : 'rgba(0,0,0,.05)',
          scaleGridLineWidth      : 1,
          scaleShowHorizontalLines: true,
          scaleShowVerticalLines  : true,

          barShowStroke           : true,
          barStrokeWidth          : 2,
          barValueSpacing         : 5,
          barDatasetSpacing       : 1,
          responsive              : false,
          maintainAspectRatio     : true
        }

        lineChartOptions.datasetFill = false
        lineChart.Line(barChartData, lineChartOptions)

        $('#' + canvas).closest('.data-container:not(.active)').removeAttr('style')
        $('#' + canvas).closest('.loading-data').removeAttr('style').css({"width": "98% !important"});
      }
    }

    function plot_chart_multiple(type, data, canvas) {

      if (type == "line") {

        $('#' + canvas).closest('.data-container:not(.active)').css('display', 'block');
        $('#' + canvas).closest('.loading-data:not(.active)').css('display', 'block');

        _data0 = _dta = data

        if (canvas.includes('yearly')) {
          _dta.shift()
        }

        var durations = [];
        var chart_data_n = [];
        var chart_data_p = [];
        var chart_data_k = [];


        Object.entries(_dta).forEach(([key, value]) => {
          durations.push(key)

          _k = key
          if (_data0[_k] != undefined) {
            chart_data_n.push(_data0[_k]['n'])
            chart_data_p.push(_data0[_k]['p'])
            chart_data_k.push(_data0[_k]['k'])
          } else {
            chart_data_n.push(0)
            chart_data_p.push(0)
            chart_data_k.push(0)
          }

        });

        var areaChartData = {
              labels  : durations,
              datasets: [
                {
                  label               : 'N',
                  fillColor           : 'rgba(210, 214, 222, 1)',
                  strokeColor         : 'rgba(210, 214, 222, 1)',
                  pointColor          : 'rgba(210, 214, 222, 1)',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(220,220,220,1)',
                  data                : chart_data_n
                },
                {
                  label               : 'P',
                  fillColor           : 'rgba(210, 114, 222, 1)',
                  strokeColor         : 'rgba(210, 114, 222, 1)',
                  pointColor          : 'rgba(210, 114, 222, 1)',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(220,220,220,1)',
                  data                : chart_data_p
                },
                {
                  label               : 'K',
                  fillColor           : 'rgba(210, 214, 122, 1)',
                  strokeColor         : 'rgba(210, 214, 122, 1)',
                  pointColor          : 'rgba(210, 214, 122, 1)',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(220,220,220,1)',
                  data                : chart_data_k
                },
              ]
            }

        var lineChartCanvas = $('#' + canvas).get(0).getContext('2d')
        var lineChart = new Chart(lineChartCanvas)
        var barChartData = areaChartData

        var areaChartData = {
              labels  : durations,
              datasets: [
                {
                  label               : 'N',
                  fillColor           : 'rgba(210, 214, 222, 1)',
                  strokeColor         : 'rgba(210, 214, 222, 1)',
                  pointColor          : 'rgba(210, 214, 222, 1)',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(220,220,220,1)',
                  data                : chart_data_n
                },
                {
                  label               : 'P',
                  fillColor           : 'rgba(210, 114, 222, 1)',
                  strokeColor         : 'rgba(210, 114, 222, 1)',
                  pointColor          : 'rgba(210, 114, 222, 1)',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(220,220,220,1)',
                  data                : chart_data_p
                },
                {
                  label               : 'K',
                  fillColor           : 'rgba(210, 214, 122, 1)',
                  strokeColor         : 'rgba(210, 214, 122, 1)',
                  pointColor          : 'rgba(210, 214, 122, 1)',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(220,220,220,1)',
                  data                : chart_data_k
                },
              ]
            }

        var lineChartCanvas = $('#' + canvas).get(0).getContext('2d')
        var lineChart = new Chart(lineChartCanvas)
        var barChartData = areaChartData

        var lineChartOptions = {
          scaleBeginAtZero        : true,
          scaleShowGridLines      : true,
          scaleGridLineColor      : 'rgba(0,0,0,.05)',
          scaleGridLineWidth      : 1,
          scaleShowHorizontalLines: true,
          scaleShowVerticalLines  : true,
          barShowStroke           : true,
          barStrokeWidth          : 2,
          barValueSpacing         : 5,
          barDatasetSpacing       : 1,
          responsive              : false,
          maintainAspectRatio     : true,
          multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"
        }
        lineChartOptions.datasetFill = false
        lineChart.Line(barChartData, lineChartOptions)

        $('#' + canvas).closest('.data-container:not(.active)').removeAttr('style')
        $('#' + canvas).closest('.loading-data').removeAttr('style');
      }
    }

    </script>
  </body>
</html>
