<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=farm-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Farms
          </h1>
          <ol class="breadcrumb">
            <li><a href="/admin/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="active">Farms</li>
          </ol>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-xs-3" style="display: none;">
              <div class="box">
                <form role="form" method="post" action="" onsubmit="return confirm_save('farm');">
                  <div class="box-header">
                    <div class="row">
                      <div class="col-md-12">
                        <h3 class="box-title">{{FORM_ACTION}} Farm</h3>
                      </div>
                    </div>
                  </div>
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-12">
                        {% if FORM_ACTION_RESPONSE %}
                        <div class="callout callout-{{FORM_ACTION_RESPONSE['type']}}">
                          <p>{{FORM_ACTION_RESPONSE['message']}}</p>
                        </div>
                        {% endif %}
                      </div>
                      <div class="col-md-12">
                        {% for elem in FORM %}
                        {% if FORM_ACTION.lower() in elem.views %}
                        <div class="form-group">
                          <label for="{{elem.name}}">{{elem.title}}</label>
                          {% if elem.element[0] == 'text'%}
                          <input type="text" placeholder="{{elem.placeholder}}" value="{{elem.default}}" class="form-control" name="{{elem.name}}" id="{{elem.name}}" required={{elem.required}}>
                          {% endif %}
                          {% if elem.element[0] == 'textarea'%}
                          <textarea name="{{elem.name}}" id="{{elem.name}}" class="form-control" rows="4" placeholder="{{elem.placeholder}}" required={{elem.required}}>{{elem.default}}</textarea>
                          {% endif %}
                          {% if elem.element[0] == 'select'%}
                          <select class="form-control select2 select2-hidden-accessible" name="{{elem.name}}" id="{{elem.name}}" required={{elem.required}} style="width: 100%;" tabindex="-1" aria-hidden="true">
                            {% for option in elem.element[1].options %}
                            <option value="{{option.value}}" {% if elem.default == option.value %}selected="selected"{% endif %}>{{option.label}}</option>
                            {% endfor %}
                          </select>
                          {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="box-footer">
                    <div class="row">
                      <div class="col-md-12">
                        <input type="hidden" value="{{FORM_ACTION}}" name="action" />
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="box-title">All Farms</h3>
                      {% if FORM_ACTION != "Add" %}
                      <a href="/admin/farms" type="submit" class="btn btn-sm btn-primary pull-right">Add New</a>
                      {% endif %}
                    </div>
                  </div>
                </div>

                <div class="box-body">
                  <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#farms_map" data-toggle="tab">Map of Farms</a></li>
                      <li><a href="#farms_list" data-toggle="tab">List of Farms</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="active tab-pane data-container" id="farms_map">
                        <div class="map" id="farms_on_map">Loading map...</div>
                      </div>
                      <div class="tab-pane data-container" id="farms_list">
                        <table id="_farms" class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Customer</th>
                              <th>Contact Person</th>
                              <th>Address</th>
                              <th>Latitude</th>
                              <th>Longitude</th>
                              <th>Greenhouses</th>
                              <th>Devices</th>
                              <th>Status</th>
                              <th>Created</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for farm in FARMS %}
                            <tr>
                              <td>{{farm.name}}</td>
                              <td>{{farm.customer.name}}</td>
                              <td>{{farm.contact_person}}</td>
                              <td>{{farm.address}}</td>
                              <td>{{farm.latitude}}</td>
                              <td>{{farm.longitude}}</td>
                              <td>{{farm.greenhouses|length}}</td>
                              <td>{{farm.devices|length}}</td>
                              <td>{{farm.status}}</td>
                              <td>{{farm.created.strftime('%d %b %Y %H:%M')}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                          <tfoot>
                            <tr>
                              <th>Name</th>
                              <th>Customer</th>
                              <th>Contact Person</th>
                              <th>Address</th>
                              <th>Latitude</th>
                              <th>Longitude</th>
                              <th>Greenhouses</th>
                              <th>Devices</th>
                              <th>Status</th>
                              <th>Created</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{config.GOOGLE_API_KEY}}&callback=initMap"async defer></script>
    <script>

    $(".select2").select2();

    $(function () {
      $("#_farms").DataTable();
    });

    var markers = []
    var farms = []
    {% for farm in FARMS %}
      farms.push({
        "title": "{{farm.customer.name}}, {{farm.name}}, {{farm.address}}",
        "lat": "{{farm.latitude}}",
        "lng": "{{farm.longitude}}"
      });
    {% endfor %}

    function initMap() {

      var myLatLng = {lat: -1.299024, lng: 36.790864};
      var bounds = new google.maps.LatLngBounds();

      var map = new google.maps.Map(document.getElementById('farms_on_map'), {
        center: myLatLng,
        zoom: 8
      });

      for (i=0; i<farms.length; i++) {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(farms[i]['lat'], farms[i]['lng']),
          map: map
        });
        markers.push(marker);

        var infowindow = new google.maps.InfoWindow({
          size: new google.maps.Size(760,150)
        });
        google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
          return function() {
            infowindow.setContent(farms[i]['title']);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
      //
      for (var i = 0; i < farms.length; i++) {
       bounds.extend(new google.maps.LatLng(farms[i]['lat'], farms[i]['lng']));
       map.fitBounds(bounds);
      }
    }

  </script>

  </body>
</html>
