<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Devices
          </h1>
          <ol class="breadcrumb">
            <li><a href="/admin/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="active">Devices</li>
          </ol>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-xs-3">
              <div class="box">
                <form role="form" method="post" action="" onsubmit="return confirm_save('device');">
                  <div class="box-header">
                    <div class="row">
                      <div class="col-md-12">
                        <h3 class="box-title">{{FORM_ACTION}} Device</h3>
                      </div>
                    </div>
                  </div>
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-12">
                        {% if FORM_ACTION_RESPONSE %}
                        <div class="callout callout-{{FORM_ACTION_RESPONSE['type']}}">
                          <p>{{FORM_ACTION_RESPONSE['message']}}</p>
                        </div>
                        {% endif %}
                      </div>
                      <div class="col-md-12">
                        {% for elem in FORM %}
                        {% if FORM_ACTION.lower() in elem.views %}
                        <div class="form-group">
                          <label for="{{elem.name}}">{{elem.title}}</label>
                          {% if elem.element[0] == 'text'%}
                          <input type="text" placeholder="{{elem.placeholder}}" value="{{elem.default}}" class="form-control" name="{{elem.name}}" id="{{elem.name}}" required={{elem.required}}>
                          {% endif %}
                          {% if elem.element[0] == 'textarea'%}
                          <textarea name="{{elem.name}}" id="{{elem.name}}" class="form-control" rows="4" placeholder="{{elem.placeholder}}" required={{elem.required}}>{{elem.default}}</textarea>
                          {% endif %}
                          {% if elem.element[0] == 'select'%}
                          <select class="form-control select2 select2-hidden-accessible" name="{{elem.name}}" id="{{elem.name}}" required={{elem.required}} style="width: 100%;" tabindex="-1" aria-hidden="true">
                            {% for option in elem.element[1].options %}
                            <option value="{{option.value}}" {% if elem.default == option.value %}selected="selected"{% endif %}>{{option.label}}</option>
                            {% endfor %}
                          </select>
                          {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="box-footer">
                    <div class="row">
                      <div class="col-md-12">
                        <input type="hidden" value="{{FORM_ACTION}}" name="action" />
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-xs-9">
              <div class="box">
                <div class="box-header">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="box-title">All Devices</h3>
                      {% if FORM_ACTION != "Add" %}
                      <a href="/admin/devices" type="submit" class="btn btn-sm btn-primary pull-right">Add New</a>
                      {% endif %}
                    </div>
                  </div>
                </div>

                <div class="box-body">
                  <table id="_devices" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Serial</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for device in DEVICES %}
                      <tr>
                        <td>{{device.name}}</td>
                        <td>{{device.type}}</td>
                        <td>{{device.serial}}</td>
                        <td>{{device.description}}</td>
                        <td>{{device.status}}</td>
                        <td>{{device.created.strftime('%d %b %Y')}}</td>
                        <td>
                          <a class="btn btn-link btn-flat btn-sm" href="/admin/devices/{{device.id}}/edit">Edit</a>
                          <a class="btn btn-danger btn-flat btn-sm" onclick="confirm_delete('/admin/devices/{{device.id}}/delete', 'device');">Delete</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Serial</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>&nbsp;</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>

    $(".select2").select2();

    $(function () {
      $("#_devices").DataTable();
    });
  </script>

  </body>
</html>
