<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1>Alerts <span class="badge badge-default">4</span></h1>
        </section>
        <section class="content">
          <div class="row search-users">
            <div class="col-xs-3 col-sm-2 col-md-1">
              <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
              <div class="shadow-outline">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-search"></i>
                    </div>
                    <input type="text" placeholder="Search by Device ID/assigned by/created date" class="form-control" id="" />
                    <div class="input-group-addon">
                      <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-sm-4 col-md-2 pr-sm-0">
              <div class="summary-grey-outline mt-4">
                <p>
                  3<br />
                  <span class="inverse">Total active</span>
                </p>
              </div>
            </div>

            <div class="col-sm-4 col-md-2 pr-sm-0">
              <div class="summary-grey-outline mt-4">
                <p>
                  1<br />
                  <span class="inverse">Total inactive </span>
                </p>
              </div>
            </div>
          </div>

          <div class="row accounts mt-5">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table class="table section-table section-table-header customer-alert-table-header accounts-records ">
                  <thead>
                    <tr>
                      <th><input type="checkbox" name="" value="" class="minimal" /></th>
                      <th >DETAILS</th>
                      <th>SHIELD ID</th>
                      <th>SENSOR TYPE</th>
                      <th>CURRENT READ</th>
                      <th>IDEAL READ</th>
                      <th>TRIGGERED BY & ID</th>
                      <th>DATE & TIME</th>
                      <th>STATUS</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr data-toggle="collapse" data-target="#active-alerts" class="accordion-toggle">
                      <td colspan="10" class="no-border">
                        <h2> Open alerts <span class="badge badge-default">3</span></h2>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="10" class="hidden-table-row">
                        <div class="accordian-body collapse in" id="active-alerts">
                          <table class="table accounts-records">
                            <tbody>
                              <tr>
                                <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                <td class="w-240"><span class="f-14-bold dark-grey-text">Plants Cauliflower & Onion</span></td>
                                <td ><a href="#" class="green-link underline">D10001</a></td>
                                <td >Humidity</th>
                                <td><span class="badge warning">26.1&deg; C</span></td>
                                <td>26.1&deg;C - 26.1&deg;C</td>
                                <td>
                                  <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                    &nbsp;
                                  </span>
                                  <span class="names"> John Handon
                                  <span class="date">ID: 103</span></span>
                                </td>
                                <td>
                                  <span class="names"> 12 Nov 2020
                                  <span class="date">17:31</span></span>
                                </td>

                                <td><span class="badge warning">Open</span></td>
                                <td><a href="../settings/profile" class="btn btn-success btn-success-outline btn-flat w-100">View</a></td>
                              </tr>

                              <tr>
                                  <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                  <td class="w-200">
                                    <span class="f-14-bold dark-grey-text d-block">Change admin role</span>
                                        <span class="f-12">User ID 102</span>

                                 </td>
                                  <td class="w-150">-</td>
                                  <td>-</th>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>
                                    <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                      &nbsp;
                                    </span>
                                    <span class="names"> John Handon
                                    <span class="date">ID: 103</span></span>
                                  </td>
                                  <td>
                                    <span class="names"> 12 Nov 2020
                                    <span class="date">17:31</span></span>
                                  </td>

                                  <td><span class="badge warning">Open</span></td>
                                  <td><a href="" class="btn btn-success btn-success-outline btn-flat w-100">Change</a></td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                    <td class="w-200"><span class="f-14-bold dark-grey-text">Admin role 2 deleted</span></td>
                                    <td><a href="#" class="green-link underline">D10001</a></td>
                                    <td >-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>
                                      <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                        &nbsp;
                                      </span>
                                      <span class="names"> John Handon
                                      <span class="date">ID: 103</span></span>
                                    </td>
                                    <td>
                                      <span class="names"> 12 Nov 2020
                                      <span class="date">17:31</span></span>
                                    </td>

                                    <td><span class="badge warning">Open</span></td>
                                    <td><a href="" class="btn btn-success btn-success-outline btn-flat w-100">Accept</a></td>
                                  </tr>

                                  <tr>
                                      <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                      <td class="w-200"><span class="f-14-bold dark-grey-text">User invite</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                      <td>
                                        <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                          &nbsp;
                                        </span>
                                        <span class="names"> John Handon
                                        <span class="date">ID: 103</span></span>
                                      </td>
                                      <td>
                                        <span class="names"> 12 Nov 2020
                                        <span class="date">17:31</span></span>
                                      </td>

                                      <td><span class="badge warning">Open</span></td>
                                      <td><a href="../settings/profile" class="btn btn-success btn-success-outline btn-flat w-100">View</a></td>
                                    </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>

                    <tr data-toggle="collapse" data-target="#inactive-alerts" class="accordion-toggle">
                      <td colspan="10">
                        <h2> Closed alerts <span class="badge badge-default">1</span></h2>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="10" class="hidden-table-row">
                        <div id="inactive-alerts" class="accordian-body collapse in">
                            <table class="table accounts-records">
                            <tbody>
                              <tr>
                                  <tr>
                                      <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                      <td class="w-200"><span class="f-14-bold dark-grey-text">Plants Mushroom</span></td>
                                      <td><a href="#" class="green-link underline">D10001</a></td>
                                      <td>Humidity</td>
                                      <td><span class="badge warning">26.1&deg; C</span></td>
                                      <td>26.1&deg;C - 26.1&deg;C</td>
                                      <td>
                                        -
                                      </td>
                                      <td>
                                        <span class="names"> 12 Nov 2020
                                        <span class="date">17:31</span></span>
                                      </td>

                                      <td><span class="badge active">closed</span></td>
                                      <td>&nbsp;</td>
                                    </tr>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>
    <!-- Add Fertilizer Modal -->


    <div class="modal fade custom-modal" id="add-fertilizer" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Add fertilizer</h3>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Date of reorder</label>
                          <div class="meta-data-sm">
                            <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Date added</label>
                          <div class="meta-data-sm">
                            <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label>Name of fertilizer</label>
                        <input type="text" class="form-control" id="" placeholder="Aaacccrd" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Supplier name</label>
                        <select name="" class="form-control select2" required="required">
                          <option value="" selected="selected">Jackie Chebet</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Total quantity</label>
                        <input type="text" class="form-control" id="" placeholder="100" />
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>Minimum quantity for low alert</label>
                        <input type="text" class="form-control" id="" placeholder="10 Kg" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Remaining quantity</label>
                        <input type="text" class="form-control" id="" placeholder="10" />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Fertilizer component</label>
                        <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Active ingredients</label>
                        <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-sm btn-success">Add</button>
                </div>
              </div>
            </div>
          </div>

    <!-- Edit Fertilizer Modal -->


    <div class="modal fade custom-modal" id="edit-fertilizer" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Add fertilizer</h3>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Date of reorder</label>
                          <div class="meta-data-sm">
                            <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Date added</label>
                          <div class="meta-data-sm">
                            <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label>Name of fertilizer</label>
                        <input type="text" class="form-control" id="" placeholder="Aaacccrd" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Supplier name</label>
                        <select name="" class="form-control select2" required="required">
                          <option value="" selected="selected">Jackie Chebet</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Total quantity</label>
                        <input type="text" class="form-control" id="" placeholder="100" />
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>Minimum quantity for low alert</label>
                        <input type="text" class="form-control" id="" placeholder="10 Kg" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Remaining quantity</label>
                        <input type="text" class="form-control" id="" placeholder="10" />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Fertilizer component</label>
                        <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Active ingredients</label>
                        <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-sm btn-success">Update</button>
                </div>
              </div>
            </div>
          </div>


<!-- Add agrochemical Modal -->

<div class="modal fade custom-modal" id="add-agrochemical" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row">
                <div class="col-sm-12">
                  <h3>Add agrochemical</h3>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <div class="">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Date of reorder</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Date added</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label>Name of agrochemical</label>
                    <input type="text" class="form-control" id="" placeholder="Aaacccrd" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Supplier name</label>
                    <select name="" class="form-control select2" required="required">
                      <option value="" selected="selected">Jackie Chebet</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Total quantity</label>
                    <input type="text" class="form-control" id="" placeholder="100" />
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <label>Minimum quantity for low alert</label>
                    <input type="text" class="form-control" id="" placeholder="10 Kg" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Remaining quantity</label>
                    <input type="text" class="form-control" id="" placeholder="10" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Agrochemical component</label>
                    <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Active ingredients</label>
                    <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-sm btn-success">Add</button>
            </div>
          </div>
        </div>
      </div>

    <!-- Edit agrochemical Modal -->

    <div class="modal fade custom-modal" id="edit-agrochemical" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-sm-12">
                <h3>Edit agrochemical</h3>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Date of reorder</label>
                    <div class="meta-data-sm">
                      <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Date added</label>
                    <div class="meta-data-sm">
                      <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Name of agrochemical</label>
                  <input type="text" class="form-control" id="" placeholder="Aaacccrd" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Supplier name</label>
                  <select name="" class="form-control select2" required="required">
                    <option value="" selected="selected">Jackie Chebet</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Total quantity</label>
                  <input type="text" class="form-control" id="" placeholder="100" />
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Minimum quantity for low alert</label>
                  <input type="text" class="form-control" id="" placeholder="10 Kg" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Remaining quantity</label>
                  <input type="text" class="form-control" id="" placeholder="10" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Agrochemical component</label>
                  <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Active ingredients</label>
                  <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-sm btn-success">Update</button>
          </div>
        </div>
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

    });
  </script>
    </script>

  </body>
</html>
