<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Activity log
          </h1>

          <div class="clearfix">&nbsp;</div>
          <div class="row search-users">
            <div class="col-sm-12">
              <div class="shadow-outline">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-search"></i>
                    </div>
                    <input type="text" placeholder="Search by Name/Greenhouse ID/ Farm ID/ Device ID ..." class="form-control" id="" />
                    <div class="input-group-addon">
                      <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="content">
          <div class="logs-container">
            <div class="row">
              <div class="col-sm-12">
                <h5>Today - Thursday 5th November 2020</h5>
              </div>
            </div>

            <div class="activity-log-container">
              <div class="activity-log clearfix">
                <div class="pull-left pr-5">13:07</div>
                <div class="pull-left">Accepted new user <a href="#" class="green-link underline">Joey Marshal</a></div>
                <div class="pull-right">Kate</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">14:27</div>
                <div class="pull-left">Added greenhouse <a href="#" class="green-link underline">G-1001</a></div>
                <div class="pull-right">You</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">14:45</div>
                <div class="pull-left">Added Device <a href="#" class="green-link underline">JD-100</a></div>
                <div class="pull-right">Kate</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">15:07</div>
                <div class="pull-left">Onboarded new customer <a href="#" class="green-link underline">J12345</a></div>
                <div class="pull-right">John</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">16:07</div>
                <div class="pull-left">Accepted new user <a href="#" class="green-link underline">Joey Marshal</a></div>
                <div class="pull-right">Alex</div>
              </div>
              <div class="activity-log clearfix">
                <div class="pull-left pr-5">17:07</div>
                <div class="pull-left">Accepted new user <a href="#" class="green-link underline">Jane Kamau</a></div>
                <div class="pull-right">Kate</div>
              </div>
            </div>
          </div>

          <div class="logs-container">
            <div class="row">
              <div class="col-sm-12">
                <h5>Yesterday - Wednesday 4th November 2020</h5>
              </div>
            </div>

            <div class="activity-log-container">
              <div class="activity-log clearfix">
                <div class="pull-left pr-5">13:07</div>
                <div class="pull-left">Accepted new user <a href="#" class="green-link underline">Joey Marshal</a></div>
                <div class="pull-right">Kate</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">14:27</div>
                <div class="pull-left">Added greenhouse <a href="#" class="green-link underline">G-1001</a></div>
                <div class="pull-right">You</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">14:45</div>
                <div class="pull-left">Added Device <a href="#" class="green-link underline">JD-100</a></div>
                <div class="pull-right">Kate</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">15:07</div>
                <div class="pull-left">Onboarded new customer <a href="#" class="green-link underline">J12345</a></div>
                <div class="pull-right">John</div>
              </div>

              <div class="activity-log clearfix">
                <div class="pull-left pr-5">16:07</div>
                <div class="pull-left">Accepted new user <a href="#" class="green-link underline">Joey Marshal</a></div>
                <div class="pull-right">Alex</div>
              </div>
              <div class="activity-log clearfix">
                <div class="pull-left pr-5">17:07</div>
                <div class="pull-left">Accepted new user <a href="#" class="green-link underline">Jane Kamau</a></div>
                <div class="pull-right">Kate</div>
              </div>
            </div>
          </div>
        </section>

        <section class="hidden">
          <h1>Users</h1>
          <ol class="breadcrumb">
            <li>
              <a href="/customer/"><i class="fa fa-home"></i> Dashboard</a>
            </li>
            <li class="active">Settings</li>
            <li class="active">Users</li>
          </ol>
        </section>
        <section class="hidden">
          <div class="row">
            <div class="col-xs-3">
              <div class="box">
                <form role="form" method="post" action="" onsubmit="return confirm_save('user');">
                  <div class="box-header">
                    <div class="row">
                      <div class="col-md-12">
                        <h3 class="box-title">Add User</h3>
                      </div>
                    </div>
                  </div>
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-12"></div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="first_name">First Name</label>

                          <input type="text" placeholder="" value="" class="form-control" name="first_name" id="first_name" required="1" />
                        </div>

                        <div class="form-group">
                          <label for="last_name">Last Name</label>

                          <input type="text" placeholder="" value="" class="form-control" name="last_name" id="last_name" required="1" />
                        </div>

                        <div class="form-group">
                          <label for="id_number">ID Number</label>

                          <input type="text" placeholder="ID Number" value="" class="form-control" name="id_number" id="id_number" required="0" />
                        </div>

                        <div class="form-group">
                          <label for="phone_number">Phone Number</label>

                          <input type="tel" placeholder="" value="" class="form-control" name="phone_number" id="phone_number" required="1" />
                        </div>

                        <div class="form-group">
                          <label for="email_address">Email Address</label>

                          <input type="email" placeholder="" value="" class="form-control" name="email_address" id="email_address" required="1" />
                        </div>

                        <div class="form-group">
                          <label for="user_role">User Role</label>

                          <select class="form-control select2 select2-hidden-accessible" name="user_role" id="user_role" required="1" style="width: 100%;" tabindex="-1" aria-hidden="true">
                            <option value="19073c20-e9e3-427a-aac8-cf51efb51a6b">Customer Admin</option>

                            <option value="6c94b671-9c4d-4a73-90f6-c988c09810b2">Customer User</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box-footer">
                    <div class="row">
                      <div class="col-md-12">
                        <input type="hidden" value="Add" name="action" />
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-xs-9">
              <div class="box">
                <div class="box-header">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="box-title">All Users</h3>
                    </div>
                  </div>
                </div>

                <div class="box-body">
                  <table id="_customers" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Telephone</th>
                        <th>Email Address</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          IGH Demo<br />
                          <small>Customer Admin</small>
                        </td>
                        <td>0782035384</td>
                        <td>demo@Synnefa.com</td>
                        <td>Active</td>
                        <td>14 Apr 2020</td>
                        <td>
                          <a class="btn btn-link btn-flat btn-sm" href="/customer/settings/users/ef042da5-2173-4cff-9912-d87007b734e2/edit">Edit</a>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>Telephone</th>
                        <th>Email Address</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>&nbsp;</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="">
        <div class="modal fade" id="switch_farm" tabindex="-1" role="dialog" aria-labelledby="switch_farm_label">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="row">
                  <div class="col-sm-12">
                    <h3>Switch farm</h3>
                    <p class="inverted">Customer Number: 4</p>
                  </div>
                </div>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-12">
                    <ul class="farms">
                      <li class="farm farm-add">
                        <a href="/customer/farms/add">
                          <span class="photo">
                            <i class="fa fa-plus fa-2x"></i><br />
                            <span class="name">Add Farm</span>
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include '/shared/footer.html' %}
    </div>
    <div class="modal fade custom-modal" id="add-user-role" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-sm-12">
                <h3>Add a role</h3>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-3">
                <div class="circle-md faded-blue-bg text-center mt-n2">
                  <p class="circle-avatar-text faded-blue-inner-text">A</p>
                </div>
              </div>
              <div class="col-xs-9">
                <div class="form-group mt-n3">
                  <label >Role</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Admin">
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-sm btn-success">Add</button>
            </div>
        </div>
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

      $("#add_users").on("change", function () {
        var val = $(this).val();
        if (val != "") {
          document.location.href = "/customer/settings/users/add?" + val;
        }
      });
    });
  </script>
    </script>

  </body>
</html>
