<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse profile">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            My Profile
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-success btn-deactivate btn-flat" onclick="deactivate_account();">Deactivate Account</button>
          </span>
          <div class="clearing">&nbsp;</div>
        </section>
        <section class="content">
          <div class="row user">
            <div class="col-sm-2">
              <div class="white-block shadow-outline">
                <div class="avatar" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</div>
                <div class="edit">
                  <a href="">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>
                <div class="name">{{session.profile.user.first_name}} {{session.profile.user.last_name}}</div>
                <div class="role">{{session.profile.role.role.name}}</div>
                <div class="status">
                  <span class="badge bg-green disabled">Active</span>
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="detail white-block shadow-outline">
                <div class="row">
                  <div class="col-sm-6">
                    <h4>Details</h4>
                  </div>
                  <div class="col-sm-6 text-right">
                    <button class="btn btn-flat btn-edit" data-toggle="modal" data-target="#edit_org">Edit</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Full name</p>
                      <p class="val">{{session.profile.user.first_name}} {{session.profile.user.last_name}}</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Employee ID</p>
                      <p class="val">-</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Role</p>
                      <p class="val">{{session.profile.role.role.name}}</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Password <a class="reset-password">Reset</a></p>
                      <p class="val">*****</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Email Address</p>
                      <p class="val">{{session.profile.email_address}}</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="data">
                      <p class="key">Phone number</p>
                      <p class="val">{{session.profile.phone_number}}</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="data">
                      <p class="key">Additional alert subscription</p>
                      <p class="val">Email & SMS</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row org">
            <div class="col-sm-12">
              <div class="details white-block shadow-outline">
                <div class="row">
                  <div class="col-sm-6">
                    <h4>Customer ID - {{session.profile.org_number}} details</h4>
                  </div>
                  <div class="col-sm-6 text-right">
                    <button class="btn btn-flat btn-edit" data-toggle="modal" data-target="#edit_org">Edit</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <h5>Basic details</h5>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="data">
                          <p class="key">Full name/Company</p>
                          <p class="val">{{session.profile.org}}</p>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="data">
                          <p class="key">Relationship manager</p>
                          <p class="val">{{session.profile.org_igh_contact}}</p>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="data">
                          <p class="key">Registration date</p>
                          <p class="val">{{session.profile.user.created}}</p>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="data">
                          <p class="key">Phone number</p>
                          <p class="val">{{session.profile.phone_number}}</p>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="data">
                          <p class="key">Email address</p>
                          <p class="val">{{session.profile.email_address}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <h5>Billing details</h5>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="data">
                          <p class="key">Type of sale</p>
                          <p class="val">Subscription</p>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="data">
                          <p class="key">Billing amount</p>
                          <p class="val">Kes 10,000.00</p>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="data">
                          <p class="key">Billing cycle date</p>
                          <p class="val">{{session.profile.user.created}}</p>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="data">
                          <p class="key">Billing address</p>
                          <p class="val">{{session.profile.org_billing_address}}</p>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="data">
                          <p class="key">Shipping address</p>
                          <p class="val">{{session.profile.org_shipping_address}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row billing">
            &nbsp;
          </div>
          <div class="modal fade" id="edit_org" tabindex="-1" role="dialog" aria-labelledby="edit_org_label">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Edit customer ID - {{session.profile.org_number}} details</h3>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="data">
                        <p class="key">Registration date</p>
                        <p class="val">{{session.profile.user.created}}</p>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="data">
                        <p class="key">Relationship manager</p>
                        <p class="val">{{session.profile.org_igh_contact}}</p>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="data">
                        <p class="key">Billing cycle date</p>
                        <p class="val">{{session.profile.user.created}}</p>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="data">
                        <p class="key">Type of sale</p>
                        <p class="val">Subscription</p>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="data">
                        <p class="key">Cost of sale</p>
                        <p class="val">Kes 10,000.00</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="org_name">Full name/Company</label>
                        <input type="text" placeholder="Enter name" class="form-control" name="org_name" id="org_name" required="required" value="{{session.profile.org}}">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="phone_number">Phone number</label>
                        <input type="text" placeholder="Enter phone number" class="form-control" name="phone_number" id="phone_number" required="required" value="{{session.profile.phone_number}}">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="email_address">Email address</label>
                        <input type="email" placeholder="Enter email address" class="form-control" name="email_address" id="email_address" required="required" value="{{session.profile.email_address}}">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="billing_address">Billing address</label>
                        <input type="text" placeholder="Enter billing address" class="form-control" name="billing_address" id="billing_address" required="required" value="{{session.profile.org_billing_address}}">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="shipping_address">Shipping address</label>
                        <input type="text" placeholder="Enter shipping address" class="form-control" name="shipping_address" id="shipping_address" required="required" value="{{session.profile.org_shipping_address}}">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <span class="actions text-right pull-right">
                    <button class="btn btn-cancel btn-flat" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success btn-flat" onclick="update_org();">Save</button>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>

      $(".select2").select2();

      $(function () {
        $("#_customers").DataTable();
      });

      function update_org() {
        var org_name = $('#org_name').val();
        var phone_number = $('#phone_number').val();
        var email_address = $('#email_address').val();
        var billing_address = $('#billing_address').val();
        var shipping_address = $('#shipping_address').val();
        var org_id = "{{session.profile.org_id}}";

        $.post(
          "/customer/settings/profile",
          {
            org_name: org_name,
            phone_number:phone_number,
            email_address: email_address,
            billing_address: billing_address,
            shipping_address: shipping_address,
            org_id: org_id
          },
          function(resp){
            if (resp.type == 'success') {
              $('#edit_org').modal('toggle');
            }
          }
        );
      }
    </script>

  </body>
</html>
