<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            User roles
          </h1>

          <span class="actions text-right pull-right">
                <button type="button" class="btn btn-success btn-success-outline btn-sm btn-flat " data-toggle="modal" data-target="#add-user-role"><i class="fa fa-plus pr-2"></i> Add user role</button>
          </span>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-sm-12">
              <div class="nav-tabs-custom data mt-4">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#active-roles" data-toggle="tab" aria-expanded="false">Active</a></li>
                  <li class=""><a href="#inactive-roles" data-toggle="tab" aria-expanded="true">Inactive</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <!-- Active Roles -->
                <div id="active-roles" class="tab-pane active">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by role" class="form-control" id="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-sm-12">
                      <h4 class="pull-left">Roles <span class="badge badge-default">5</span></h4>

                      <span class="actions text-right pull-right">
                        <button class="btn btn-success btn-sm btn-grey-outline btn-flat">Cancel</button>
                        <button class="btn btn-success btn-sm btn-success-outline btn-flat">Update</button>
                      </span>
                    </div>
                  </div>

                  <div class="row user mt-3">
                    <div class="col-lg-2">
                      <div class="white-block shadow-outline text-center user-role-card-edit mb-4">
                        <div class="circle-md faded-blue-bg">
                          <p class="circle-avatar-text faded-blue-inner-text">SA</p>
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control width-80 float-center" id="exampleInputEmail1" placeholder="Super Admin">
                        </div>
                        <div class="small-text">24 access points</div>

                        <ul class="stacked-avatar list-none">
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                        </ul>

                        <span class="small-text-xs"> +2 more</span>
                      </div>
                    </div>

                    <div class=" col-lg-2">
                      <div class="white-block shadow-outline text-center user-role-card-edit mb-4">
                        <div class="circle-md faded-green-bg">
                          <p class="circle-avatar-text faded-green-inner-text">A</p>
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control width-80 float-center" id="exampleInputEmail1" placeholder="Agronomist">
                        </div>
                        <div class="small-text">24 access points</div>

                        <ul class="stacked-avatar list-none">
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                        </ul>

                        <span class="small-text-xs"> +2 more</span>
                        <div class="form-group">
                          <div class="checkbox checbox-switch switch-success">
                            <label>
                              <input type="checkbox" name="" checked="" />
                              <span></span>
                              Active
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-2">
                      <div class="white-block shadow-outline text-center user-role-card-edit mb-4">
                        <div class="circle-md faded-orange-bg">
                          <p class="circle-avatar-text faded-orange-inner-text">S</p>
                        </div>
                        <div class="form-group">
                           <input type="email" class="form-control width-80 float-center" id="exampleInputEmail1" placeholder="Sales">
                        </div>
                        <div class="small-text">24 access points</div>

                        <ul class="stacked-avatar list-none">
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                        </ul>

                        <span class="small-text-xs"> +2 more</span>
                        <div class="form-group">
                          <div class="checkbox checbox-switch switch-success">
                            <label>
                              <input type="checkbox" name="" checked="" />
                              <span></span>
                              Active
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-lg-2">
                      <div class="white-block shadow-outline text-center user-role-card-edit mb-4">
                        <div class="circle-md faded-green-bg">
                          <p class="circle-avatar-text faded-green-inner-text">A</p>
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control width-80 float-center" id="exampleInputEmail1" placeholder="Admin">
                        </div>
                        <div class="small-text">24 access points</div>

                        <ul class="stacked-avatar list-none">
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                        </ul>

                        <span class="small-text-xs"> +2 more</span>
                        <div class="form-group">
                          <div class="checkbox checbox-switch switch-success">
                            <label>
                              <input type="checkbox" name="" checked="" />
                              <span></span>
                              Active
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-2">
                      <div class="white-block shadow-outline text-center user-role-card-edit mb-4">
                        <div class="circle-md faded-yellow-bg">
                          <p class="circle-avatar-text faded-yellow-inner-text">CT</p>
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control width-80 float-center" id="exampleInputEmail1" placeholder="Concerns Team">
                        </div>

                        <div class="small-text">24 access points</div>

                        <ul class="stacked-avatar list-none">
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                          <li class="avatar-xs" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</li>
                        </ul>

                        <span class="small-text-xs"> +2 more</span>
                        <div class="form-group">
                          <div class="checkbox checbox-switch switch-success">
                            <label>
                              <input type="checkbox" name="" checked="" />
                              <span></span>
                              Active
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end Roles -->

                  <div class="row mt-4">
                        <div class="col-sm-12">
                          <h4 class="pull-left">All user access <span class="badge badge-default">25</span></h4>

                          <span class="actions text-right pull-right">
                            <button class="btn btn-success btn-sm btn-grey-outline btn-flat">Cancel</button>
                            <button class="btn btn-success btn-sm btn-success-outline btn-flat">Update</button>
                          </span>
                        </div>
                      </div>

                      <div class="row">
                          <div class="col-sm-12">
                            <div class="table-responsive">
                              <table class="table user-role-table mt-4">
                                <thead>
                                  <tr>
                                    <th>DESCRIPTION</th>
                                    <th>SUPER ADMIN</th>
                                    <th>AGRONOMIST</th>
                                    <th>SALES</th>
                                    <th>ADMIN</th>
                                    <th>CONCERNS TEAM</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td><h6><img src="/customer/static/img/icons/user-summary.svg" alt=""> Summary actions</h6></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked/></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked/></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked/></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked/></td>
                                  </tr>
                                  <tr>
                                    <td><span>Greenhouse details</span></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked /></td>
                                  </tr>
                                  <tr class="bottom-section">
                                    <td><span>Device details</span></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked /></td>
                                  </tr>
                                </tbody>

                                <tbody>
                                  <tr>
                                    <td><h6><img src="/customer/static/img/icons/user-maintenance.svg" alt=""> Maintenance section</h6></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                  <tr>
                                    <td><span>Adding actions</span></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                  <tr class="bottom-section">
                                    <td><span>Deleting actions</span></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                </tbody>

                                <tbody>
                                  <tr>
                                    <td><h6><img src="/customer/static/img/icons/user-alert.svg" alt=""> Alert list</h6></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                  <tr>
                                    <td><span>Email subscription</span></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                  <tr class="bottom-section">
                                    <td><span>SMS subscription</span></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                </tbody>

                                <tbody>
                                  <tr>
                                    <td><h6><img src="/customer/static/img/icons/user-report.svg" alt=""> Reports section</h6></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                  <tr>
                                    <td><span>Daily work report</span></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                  <tr>
                                    <td><span>Scoring reports</span></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                  <tr class="bottom-section">
                                    <td><span>Deleting reports</span></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                </tbody>

                                <tbody>
                                    <tr>
                                      <td><h6><img src="/customer/static/img/icons/user-customer-product.svg" alt=""> Product Inventory section</h6></td>
                                      <td><i class="fa fa-check green-text"></i></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    </tr>
                                    <tr>
                                      <td><span>Activating products</span></td>
                                      <td><i class="fa fa-check green-text"></i></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    </tr>
                                    <tr class="bottom-section">
                                      <td><span>Deactivating products</span></td>
                                      <td><i class="fa fa-check green-text"></i></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    </tr>
                                  </tbody>

                                  <tbody>
                                    <tr>
                                      <td><h6><img src="/customer/static/img/icons/user-customer-product.svg" alt=""> Activated products</h6></td>
                                      <td><i class="fa fa-check green-text"></i></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    </tr>
                                    <tr>
                                      <td><span>Deactivating products</span></td>
                                      <td><i class="fa fa-check green-text"></i></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    </tr>
                                    <tr class="bottom-section">
                                      <td><span>Editing products</span></td>
                                      <td><i class="fa fa-check green-text"></i></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    </tr>
                                  </tbody>

                                  <tbody>
                                      <tr>
                                        <td><h6><img src="/customer/static/img/icons/user-customer-product.svg" alt=""> Fertilizers & agrochemicals</h6></td>
                                        <td><i class="fa fa-check green-text"></i></td>
                                        <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                        <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                        <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                        <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      </tr>
                                      <tr>
                                        <td><span>Reordering products</span></td>
                                        <td><i class="fa fa-check green-text"></i></td>
                                        <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                        <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                        <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                        <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      </tr>
                                      <tr class="bottom-section">
                                        <td><span>Editing products</span></td>
                                        <td><i class="fa fa-check green-text"></i></td>
                                        <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                        <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                        <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                        <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                      </tr>
                                    </tbody>
                                <tbody>

                                <tbody>
                                  <tr>
                                    <td><h6><img src="/customer/static/img/icons/user-account.svg" alt=""> User accounts section</h6></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                  <tr>
                                    <td><span>Adding users</span></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                  <tr>
                                    <td><span>Accepting invites</span></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                  <tr class="bottom-section">
                                    <td><span>Deactivating users</span></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled /></td>
                                  </tr>
                                </tbody>

                                <tbody>
                                  <tr>
                                    <td><h6><img src="/customer/static/img/icons/user-role.svg" alt=""> User role section</h6></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled/></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled/></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled/></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled/></td>
                                  </tr>
                                  <tr class="bottom-section">
                                    <td><span>Editing roles</span></td>
                                    <td><i class="fa fa-check green-text"></i></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" /></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled/></td>
                                    <td><input type="checkbox" name="" value="" class="minimal" checked disabled/></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                </div>
                <!-- end Active Roles -->

                <!-- Inactive Roles -->
                <div id="inactive-roles" class="tab-pane">
                  <div class="col-lg-2">
                    <div class="white-block shadow-outline text-center user-role-card">
                      <div class="circle-md faded-green-bg">
                        <p class="circle-avatar-text faded-green-inner-text">A</p>
                      </div>
                      <div class="role">Admin</div>
                      <div class="small-text">24 access points</div>



                      <span class="small-text-xs"> (No Users)</span>
                      <div class="form-group">
                        <div class="checkbox checbox-switch switch-success">
                          <label>
                            <input type="checkbox" name="" />
                            <span></span>
                            Inactive
                          </label>
                        </div>
                        <a href="../roles/view" class="btn btn-success btn-sm btn-success-outline btn-flat mt-3">View</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>
    <div class="modal fade custom-modal" id="add-user-role" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-sm-12">
                <h3>Add a role</h3>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-3">
                <div class="circle-md faded-blue-bg text-center mt-n2">
                  <p class="circle-avatar-text faded-blue-inner-text">A</p>
                </div>
              </div>
              <div class="col-xs-9">
                <div class="form-group mt-n3">
                  <label >Role</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Admin">
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-sm btn-success">Add</button>
            </div>
        </div>
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

      $("#add_users").on("change", function () {
        var val = $(this).val();
        if (val != "") {
          document.location.href = "/customer/settings/users/add?" + val;
        }
      });
    });
  </script>
    </script>

  </body>
</html>
