<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <div class="mb-4">
            <a href="../roles" class="btn btn-light-green btn-flat"> <i class="fa fa-chevron-left pr-2"></i>Users roles</a>
          </div>
          <h1>Admin</h1>
        </section>

        <section class="content">
          <div class="row mb-3">
            <div class="col-sm-12">
              <h4>Users <span class="badge badge-default">2</span></h4>
            </div>
          </div>

          <div class="row user">
            <div class="col-sm-4 col-md-3 col-lg-2">
              <div class="white-block shadow-outline text-center user-role-card mb-4">
                <div class="delete">
                  <a href="">
                    <i class="fa fa-times-circle"></i>
                  </a>
                </div>
                <div class="avatar" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</div>

                <div class="role f-14-bold-medium">John Handon</div>
                <div class="small-text mb-2">Agronomist</div>

                <span class="badge badge-success active">Active</span>
              </div>
            </div>

            <div class="col-sm-4 col-md-3 col-lg-2">
              <div class="white-block shadow-outline text-center user-role-card mb-4">
                <div class="delete">
                  <a href="">
                    <i class="fa fa-times-circle"></i>
                  </a>
                </div>
                <div class="avatar" style="background-image: url(/customer/static/img/avatar.png);">&nbsp;</div>

                <div class="role f-14-bold-medium">John Handon</div>
                <div class="small-text mb-2">Agronomist</div>

                <span class="badge badge-success active">Active</span>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>
    <div class="modal fade custom-modal" id="add-user-role" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-sm-12">
                <h3>Add a role</h3>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-3">
                <div class="circle-md faded-blue-bg text-center mt-n2">
                  <p class="circle-avatar-text faded-blue-inner-text">A</p>
                </div>
              </div>
              <div class="col-xs-9">
                <div class="form-group mt-n3">
                  <label >Role</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Admin">
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-sm btn-success">Add</button>
            </div>
        </div>
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

      $("#add_users").on("change", function () {
        var val = $(this).val();
        if (val != "") {
          document.location.href = "/customer/settings/users/add?" + val;
        }
      });
    });
  </script>
    </script>

  </body>
</html>
