<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Activate Screenhouse
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='../inventory/product-inventory';">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="document.location.href='../inventory/product-inventory';">Activate</button>
          </span>
        </section>
        <div class="content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="user-form white-block shadow-outline">
                <div class="row">
                  <div class="col-sm-12">
                    <h3>Screenhouse details</h3>
                  </div>
                </div>

                <form action="" class="custom-form" action="" method="post" enctype="application/x-www-form-urlencoded">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Farm ID</label>
                        <select name="" class="form-control select2" required="required">
                          <option value="" selected="selected">F-100</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Assign sreenhouses</label>
                        <select name="" class="form-control select2" required="required">
                          <option value="" selected="selected">G-10002</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <hr class="separator" />
                  <div class="row mb-4">
                    <div class="col-sm-3">
                      <label>Screenhouse ID</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium">G-120000</span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3 mb-4">
                      <label>Screenhouse size</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium">10 ft x 10ft</span>
                      </div>
                    </div>
                    <div class="col-sm-3 mb-4">
                      <label>Assigned by</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium">John Handon</span>
                      </div>
                    </div>
                    <div class="col-sm-3 mb-4">
                      <label>Assigned date</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium">12 May 2020</span>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <label>Screenhouse status</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium">Active</span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

    });
  </script>
    </script>

  </body>
</html>
