<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1>Activated Products</h1>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-sm-12">
              <div class="nav-tabs-custom data mb-5">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#greenhouses" data-toggle="tab" aria-expanded="false">Greenhouses</a></li>
                  <li class=""><a href="#sheilds" data-toggle="tab" aria-expanded="true">External sheilds</a></li>
                  <li class=""><a href="#screenhouses" data-toggle="tab" aria-expanded="true">Screenhouses</a></li>
                  <li class=""><a href="#shadnets" data-toggle="tab" aria-expanded="true">Shadnets</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <!-- Greenhouses -->
                <div id="greenhouses" class="tab-pane active">
                  <div class="row">
                    <div class="col-xs-12">
                      <h3 class="mt-2 f-22-medium">Greenhouses <span class="badge badge-default">8</span></h3>
                    </div>
                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by greenhouse ID/assigned by/created date" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-5">
                    <div class="col-sm-4 col-md-2 pr-md-0">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          2<br />
                          <span class="inverse">Total greenhouse inventory</span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table custom-normal-table accounts-records">
                          <thead>
                            <tr>
                              <th><input type="checkbox" name="" value="" class="minimal" /></th>
                              <th>
                                GREENHOUSE ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                TYPE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                SIZE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                DEVICE ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                SHEILD ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                ASSIGNED BY & DATE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                ALERTS
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th colspan="3">
                                STATUS
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td><input type="checkbox" name="" value="" class="minimal" checked /></td>
                              <td>
                                <span class="dark-grey-text f-14-bold">G-120001</span>
                              </td>
                              <td>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="This is...." class="tooltip-link">
                                  <span class="question-icon">
                                    <i class="fa fa-question green-text"></i>
                                  </span>
                                  Mzoefu
                                </a>
                              </td>

                              <td>30ftx30ft</td>
                              <td>D-10003</td>
                              <td>S-1002</td>
                              <td>
                                <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                  &nbsp;
                                </span>
                                <span class="names">
                                  John Handon
                                  <span class="date">12 May 2020</span>
                                </span>
                              </td>
                              <td><span class="badge badge-success inactive">0</span></td>
                              <td><span class="badge badge-success active">Active</span></td>
                              <td><a href="" class="btn btn-success btn-success-outline btn-flat">View</a></td>
                              <td>
                                <div class="dropdown table-dropdown">
                                  <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="#">Edit greenhouse details</a></li>
                                    <li><a href="#">Edit shield details</a></li>
                                    <li><a href="#" class="red-link">Deactivate greenhouse</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td><input type="checkbox" name="" value="" class="minimal" checked /></td>
                              <td>
                                <span class="dark-grey-text f-14-bold">G-120001</span>
                              </td>
                              <td>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="This is...." class="tooltip-link">
                                  <span class="question-icon">
                                    <i class="fa fa-question green-text"></i>
                                  </span>
                                  Mzoefu
                                </a>
                              </td>

                              <td>30ftx30ft</td>
                              <td>D-10003</td>
                              <td>S-1002</td>
                              <td>
                                <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                  &nbsp;
                                </span>
                                <span class="names">
                                  John Handon
                                  <span class="date">12 May 2020</span>
                                </span>
                              </td>
                              <td><span class="badge badge-success inactive">0</span></td>
                              <td><span class="badge badge-success active">Active</span></td>
                              <td><a href="" class="btn btn-success btn-success-outline btn-flat">View</a></td>
                              <td>
                                <div class="dropdown table-dropdown">
                                  <a id="dLabel" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="#">Edit greenhouse details</a></li>
                                    <li><a href="#">Edit shield details</a></li>
                                    <li><a href="#" class="red-link">Deactivate greenhouse</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- External sheilds-->

                <div id="sheilds" class="tab-pane">
                  <div class="row">
                    <div class="col-xs-12">
                      <h3 class="mt-2 f-22-medium">External sheilds <span class="badge badge-default">2</span></h3>
                    </div>
                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by greenhouse ID/assigned by/created date" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-5">
                    <div class="col-sm-4 col-md-2 pr-md-0">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          2<br />
                          <span class="inverse">Total ext sheilds inventory</span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table custom-normal-table accounts-records">
                          <thead>
                            <tr>
                              <th>
                                PRODUCT ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                TYPE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                Spear ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                ASSIGNED BY & DATE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                PLANTS
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                ALERTS
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th colspan="3">
                                STATUS
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td>
                                <span class="dark-grey-text f-14-bold">D-100</span>
                              </td>
                              <td>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="This is...." class="tooltip-link">
                                  <span class="question-icon">
                                    <i class="fa fa-question green-text"></i>
                                  </span>
                                  Farmshield Pro
                                </a>
                              </td>

                              <td>S-1002</td>
                              <td>
                                <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                  &nbsp;
                                </span>
                                <span class="names">
                                  John Handon
                                  <span class="date">12 May 2020</span>
                                </span>
                              </td>
                              <td>Basil, Cailflower, Tomato</td>
                              <td><span class="badge warning">1</span></td>
                              <td><span class="badge badge-success active">Active</span></td>
                              <td><a href="" class="btn btn-success btn-success-outline btn-flat">View</a></td>
                              <td>
                                <div class="dropdown table-dropdown">
                                  <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="#">Edit external device</a></li>
                                    <li><a href="#">View daily work</a></li>
                                    <li><a href="#">Request maintaenance</a></li>
                                    <li><a href="#">Request traceability report</a></li>
                                    <li><a href="#">View sensor data</a></li>
                                    <li><a href="#">Download soil testing report</a></li>
                                    <li><a href="#">Download agronomic report</a></li>
                                    <li><a href="#" class="red-link">Deactivate external device</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Screenhouses-->
                <div id="screenhouses" class="tab-pane">
                  <div class="row">
                    <div class="col-xs-12">
                      <h3 class="mt-2 f-22-medium">Screenhouses <span class="badge badge-default">1</span></h3>
                    </div>
                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by greenhouse ID/assigned by/created date" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-5">
                    <div class="col-sm-4 col-md-2 pr-md-0">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          2<br />
                          <span class="inverse">Total screenhouses inventory</span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table custom-normal-table accounts-records">
                          <thead>
                            <tr>
                              <th>
                                SCREENHOUSE ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                SIZE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>

                              <th>
                                GREENHOUSE ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>

                              <th>
                                ASSIGNED BY & DATE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                STATUS
                              </th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td>
                                <span class="dark-grey-text f-14-bold">SH-11</span>
                              </td>
                              <td>20M X 20M</td>
                              <td>G-1001</td>
                              <td>
                                <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                  &nbsp;
                                </span>
                                <span class="names">
                                  John Handon
                                  <span class="date">12 May 2020</span>
                                </span>
                              </td>
                              <td><span class="badge badge-success active">Active</span></td>
                              <td>
                                <div class="dropdown table-dropdown">
                                  <a id="dLabel" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="#">Edit sreenhouse details</a></li>
                                    <li><a href="#">Request maintenance</a></li>
                                    <li><a href="#" class="red-link">Deactivate sreenhouse</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Shadnets-->
                <div id="shadnets" class="tab-pane">
                  <div class="row">
                    <div class="col-xs-12">
                      <h3 class="mt-2 f-22-medium">Shadnets <span class="badge badge-default">1</span></h3>
                    </div>
                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by greenhouse ID/assigned by/created date" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-5">
                    <div class="col-sm-4 col-md-2 pr-md-0">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          2<br />
                          <span class="inverse">Total shadnets inventory</span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table custom-normal-table accounts-records">
                          <thead>
                            <tr>
                              <th>
                                SHADNET ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                SIZE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                GREENHOUSE ID
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>

                              <th>
                                ASSIGNED BY & DATE
                                <i class="fa fa-long-arrow-up mr-n1"></i>
                                <i class="fa fa-long-arrow-down"></i>
                              </th>
                              <th>
                                STATUS
                              </th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td>
                                <span class="dark-grey-text f-14-bold">SH-11</span>
                              </td>
                              <td>20M X 20M</td>
                              <td>G-1100</td>
                              <td>
                                <span class="avatar" style="background-image: url(/customer/static/img/avatar.png);">
                                  &nbsp;
                                </span>
                                <span class="names">
                                  John Handon
                                  <span class="date">12 May 2020</span>
                                </span>
                              </td>
                              <td><span class="badge badge-success active">Active</span></td>
                              <td>
                                <div class="dropdown table-dropdown">
                                  <a id="dLabel" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="#">Edit sreenhouse details</a></li>
                                    <li><a href="#">Request maintenance</a></li>
                                    <li><a href="#" class="red-link">Deactivate greenhouse</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  ./row -->
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

    });
  </script>
    </script>

  </body>
</html>
