<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse users">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <div class="row">
            <div class="col-sm-8">
              <h1 class="mt-0">Fertilizers & Agrochemicals</h1>
            </div>

            <div class="col-sm-4">
              <div class="float-sm-right">
                <div class="btn-group dropizo">
                  <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat" data-toggle="dropdown"><i class="fa fa-plus pr-2"></i> Add Product</button>
                  <button type="button" class="btn btn-success-outline btn-lg btn-lg-custom btn-flat dropdown-toggle " data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>

                  <ul class="dropdown-menu btn-list-sm-text " role="menu">
                    <li>
                      <a href="" data-toggle="modal" data-target="#add-fertilizer"> <i class="fa fa-plus pr-2"></i> Add fertilizer</a>
                    </li>
                    <li>
                      <a href="" data-toggle="modal" data-target="#add-agrochemical"><i class="fa fa-plus pr-2"></i> Add agrochemical </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-sm-12">
              <div class="nav-tabs-custom data mb-5">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#fertilizers" data-toggle="tab" aria-expanded="false">Fertilizers</a></li>
                  <li class=""><a href="#agrochemicals" data-toggle="tab" aria-expanded="true">Agrochemicals</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <!-- fertilizers -->
                <div id="fertilizers" class="tab-pane active">
                  <div class="row">
                    <div class="col-xs-12">
                      <h3 class="mt-2 f-22-medium">Fertilizers <span class="badge badge-default">8</span></h3>
                    </div>
                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by Fertilizers/supplier name" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-5">
                    <div class="col-sm-4 col-md-2">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          100 kgs<br />
                          <span class="inverse">Today's total opening stock</span>
                        </p>
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          90 kgs<br />
                          <span class="inverse">Today's total opening stock</span>
                        </p>
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          10<br />
                          <span class="inverse">Total names of agrochemicals</span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table accounts-table custom-collapsable-table mt-4">
                          <thead>
                            <tr>
                              <th><input type="checkbox" name="" value="" class="minimal" /></th>
                              <th>DATE ADDED</th>
                              <th>DATE OF REORDER</th>
                              <th>NAME</th>
                              <th>SUPPLIER NAME</th>
                              <th>TOTAL QTY</th>
                              <th>REMAINING QTY</th>
                              <th colspan="3">STATUS</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr data-toggle="collapse" data-target="#fertilizer-1" class="accordion-toggle">
                              <td><input type="checkbox" name="" value="" class="minimal" /></td>
                              <td>05 May 2020</td>
                              <td>20 Nov 2020</td>
                              <td>Organic fertilzer</td>
                              <td>Synnefa</td>
                              <td>100kgs</td>
                              <td>100kgs</td>
                              <td><span class="badge badge-success active">High</span></td>
                              <td>
                                <span class="square-sm square-sm-green"><i class="fa fa-chevron-down"></i></span>
                              </td>
                              <td>
                                <div class="table-dropdown dropdown">
                                  <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="#" data-toggle="modal" data-target="#edit-fertilizer">Edit details</a></li>
                                    <li><a href="#">Reorder fertilzer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="10" class="collapsed-row">
                                <div class="accordian-body collapse content-container" id="fertilizer-1">
                                  <div class="accordian-body collapse content-container" id="waste-table-1">
                                    <!-- Place content here -->
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr data-toggle="collapse" data-target="#fertilizer-2" class="accordion-toggle">
                              <td><input type="checkbox" name="" value="" class="minimal" /></td>
                              <td>05 May 2020</td>
                              <td>20 Nov 2020</td>
                              <td>Organic fertilzer</td>
                              <td>Synnefa</td>
                              <td>100kgs</td>
                              <td>100kgs</td>
                              <td><span class="badge warning">low</span></td>
                              <td>
                                <span class="square-sm square-sm-green-outline"><i class="fa fa-chevron-up"></i></span>
                              </td>
                              <td>
                                <div class="table-dropdown dropdown">
                                  <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="#" data-toggle="modal" data-target="#edit-fertilizer">Edit details</<a></li>
                                    <li><a href="#">Reorder fertilzer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="10" class="collapsed-row">
                                <div id="fertilizer-2" class="accordian-body collapse in content-container">
                                  <div class="row">
                                    <div class="col-sm-8">
                                      <span class="f-14-bold dark-grey-text">Fertilizer details </span><br />
                                      <span class="f-12">Below are the details </span>
                                    </div>
                                    <div class="col-sm-4">
                                      <div class="float-sm-right">
                                        <a href="" class="btn btn-success btn-success-outline btn-flat">Reorder</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row mt-5">
                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                      <div class="meta-data-box mb-4">
                                        <p>fertilizer component</p>
                                        <span>Nitrogen</span>
                                      </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                      <div class="meta-data-box mb-4">
                                        <p>Reordered by</p>
                                        <span>John Smith</span>
                                      </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                      <div class="meta-data-box mb-4">
                                        <p>Active ingredients</p>
                                        <span>Nitrogen</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr data-toggle="collapse" data-target="#fertilizer-3" class="accordion-toggle">
                              <td><input type="checkbox" name="" value="" class="minimal" /></td>
                              <td>05 May 2020</td>
                              <td>20 Nov 2020</td>
                              <td>Organic fertilzer</td>
                              <td>Synnefa</td>
                              <td>100kgs</td>
                              <td>100kgs</td>
                              <td><span class="badge badge-success inactive">Archived</span></td>
                              <td>
                                <span class="square-sm square-sm-green"><i class="fa fa-chevron-down"></i></span>
                              </td>
                              <td>
                                <div class="table-dropdown dropdown">
                                  <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="#" data-toggle="modal" data-target="#edit-fertilizer">Edit details</a></li>
                                    <li><a href="#">Reorder fertilzer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="10" class="collapsed-row">
                                <div id="fertilizer-3" class="accordian-body collapse content-container">
                                  <!-- Place content here -->
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Agrochemicals-->

                <div id="agrochemicals" class="tab-pane">
                  <div class="row">
                    <div class="col-xs-12">
                      <h3 class="mt-2 f-22-medium">Agrochemicals <span class="badge badge-default">2</span></h3>
                    </div>
                  </div>

                  <div class="row search-users">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <button class="btn btn-success btn-flat btn-filter" onclick="filter();"><i class="fa fa-filter"></i> Filter</button>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 pl-0">
                      <div class="shadow-outline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-search"></i>
                            </div>
                            <input type="text" placeholder="Search by Fertilizers/supplier name" class="form-control" id="" />
                            <div class="input-group-addon">
                              <button class="btn btn-sm btn-link btn-clear-search">Clear all filters</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-5">
                    <div class="col-sm-4 col-md-2 pr-md-0">
                      <div class="summary-grey-outline mt-4">
                        <p>
                          2<br />
                          <span class="inverse">Total ext sheilds inventory</span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="row accounts mt-5">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table accounts-table custom-collapsable-table mt-4">
                          <thead>
                            <tr>
                              <th><input type="checkbox" name="" value="" class="minimal" /></th>
                              <th>DATE ADDED</th>
                              <th>DATE OF REORDER</th>
                              <th>NAME</th>
                              <th>SUPPLIER NAME</th>
                              <th>TOTAL QTY</th>
                              <th>REMAINING QTY</th>
                              <th colspan="3">STATUS</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr data-toggle="collapse" data-target="#fertilizer-1" class="accordion-toggle">
                              <td><input type="checkbox" name="" value="" class="minimal" /></td>
                              <td>05 May 2020</td>
                              <td>20 Nov 2020</td>
                              <td>Organic fertilzer</td>
                              <td>Synnefa</td>
                              <td>100kgs</td>
                              <td>100kgs</td>
                              <td><span class="badge badge-success active">High</span></td>
                              <td>
                                <span class="square-sm square-sm-green"><i class="fa fa-chevron-down"></i></span>
                              </td>
                              <td>
                                <div class="table-dropdown dropdown">
                                  <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="#" data-toggle="modal" data-target="#edit-agrochemical">Edit details</a></li>
                                    <li><a href="#">Reorder fertilzer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="10" class="collapsed-row">
                                <div class="accordian-body collapse content-container" id="fertilizer-1">
                                  <div class="accordian-body collapse content-container" id="waste-table-1">
                                    <!-- Place content here -->
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr data-toggle="collapse" data-target="#fertilizer-2" class="accordion-toggle">
                              <td><input type="checkbox" name="" value="" class="minimal" /></td>
                              <td>05 May 2020</td>
                              <td>20 Nov 2020</td>
                              <td>Organic fertilzer</td>
                              <td>Synnefa</td>
                              <td>100kgs</td>
                              <td>100kgs</td>
                              <td><span class="badge badge-success active">High</span></td>
                              <td>
                                <span class="square-sm square-sm-green-outline"><i class="fa fa-chevron-up"></i></span>
                              </td>
                              <td>
                                <div class="table-dropdown dropdown">
                                  <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="#" data-toggle="modal" data-target="#edit-agrochemical">Edit details</a></li>
                                    <li><a href="#">Reorder fertilzer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="10" class="collapsed-row">
                                <div id="fertilizer-2" class="accordian-body collapse in content-container">
                                  <div class="row">
                                    <div class="col-sm-8">
                                      <span class="f-14-bold dark-grey-text">Agrochemicals </span><br />
                                      <span class="f-12">Below are the details </span>
                                    </div>
                                    <div class="col-sm-4">
                                      <div class="float-sm-right">
                                        <a href="" class="btn btn-success btn-success-outline btn-flat">Reorder</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row mt-5">
                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                      <div class="meta-data-box mb-4">
                                        <p>Agrochemicals component</p>
                                        <span>Nitrogen</span>
                                      </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                      <div class="meta-data-box mb-4">
                                        <p>Reordered by</p>
                                        <span>John Smith</span>
                                      </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-lg-2">
                                      <div class="meta-data-box mb-4">
                                        <p>Active ingredients</p>
                                        <span>Nitrogen</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr data-toggle="collapse" data-target="#fertilizer-3" class="accordion-toggle">
                              <td><input type="checkbox" name="" value="" class="minimal" /></td>
                              <td>05 May 2020</td>
                              <td>20 Nov 2020</td>
                              <td>Organic fertilzer</td>
                              <td>Synnefa</td>
                              <td>100kgs</td>
                              <td>100kgs</td>
                              <td><span class="badge badge-success active">High</span></td>
                              <td>
                                <span class="square-sm square-sm-green"><i class="fa fa-chevron-down"></i></span>
                              </td>
                              <td>
                                <div class="table-dropdown dropdown">
                                  <a id="dLabel" data-target="#" href="http://example.com/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <!-- Dropdown trigger -->
                                    <i class="fa fa-ellipsis-v"></i>
                                  </a>

                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="#" data-toggle="modal" data-target="#edit-agrochemical">Edit details</a></li>
                                    <li><a href="#">Reorder fertilzer</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="10" class="collapsed-row">
                                <div id="fertilizer-3" class="accordian-body collapse content-container">
                                  <!-- Place content here -->
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="accounts-tallies">
                        <div class="row">
                          <div class="col-xs-5 col-sm-10">
                            Showing 1 to 7 of 7
                          </div>
                          <div class="col-xs-7 col-sm-2">
                            <ul class="pagination custom-pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  ./row -->
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>
    <!-- Add Fertilizer Modal -->


    <div class="modal fade custom-modal" id="add-fertilizer" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Add fertilizer</h3>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Date of reorder</label>
                          <div class="meta-data-sm">
                            <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Date added</label>
                          <div class="meta-data-sm">
                            <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label>Name of fertilizer</label>
                        <input type="text" class="form-control" id="" placeholder="Aaacccrd" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Supplier name</label>
                        <select name="" class="form-control select2" required="required">
                          <option value="" selected="selected">Jackie Chebet</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Total quantity</label>
                        <input type="text" class="form-control" id="" placeholder="100" />
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>Minimum quantity for low alert</label>
                        <input type="text" class="form-control" id="" placeholder="10 Kg" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Remaining quantity</label>
                        <input type="text" class="form-control" id="" placeholder="10" />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Fertilizer component</label>
                        <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Active ingredients</label>
                        <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-sm btn-success">Add</button>
                </div>
              </div>
            </div>
          </div>

    <!-- Edit Fertilizer Modal -->


    <div class="modal fade custom-modal" id="edit-fertilizer" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Add fertilizer</h3>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Date of reorder</label>
                          <div class="meta-data-sm">
                            <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Date added</label>
                          <div class="meta-data-sm">
                            <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label>Name of fertilizer</label>
                        <input type="text" class="form-control" id="" placeholder="Aaacccrd" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Supplier name</label>
                        <select name="" class="form-control select2" required="required">
                          <option value="" selected="selected">Jackie Chebet</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Total quantity</label>
                        <input type="text" class="form-control" id="" placeholder="100" />
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>Minimum quantity for low alert</label>
                        <input type="text" class="form-control" id="" placeholder="10 Kg" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Remaining quantity</label>
                        <input type="text" class="form-control" id="" placeholder="10" />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Fertilizer component</label>
                        <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Active ingredients</label>
                        <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-sm btn-success">Update</button>
                </div>
              </div>
            </div>
          </div>


<!-- Add agrochemical Modal -->

<div class="modal fade custom-modal" id="add-agrochemical" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row">
                <div class="col-sm-12">
                  <h3>Add agrochemical</h3>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <div class="">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Date of reorder</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Date added</label>
                      <div class="meta-data-sm">
                        <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label>Name of agrochemical</label>
                    <input type="text" class="form-control" id="" placeholder="Aaacccrd" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Supplier name</label>
                    <select name="" class="form-control select2" required="required">
                      <option value="" selected="selected">Jackie Chebet</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Total quantity</label>
                    <input type="text" class="form-control" id="" placeholder="100" />
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <label>Minimum quantity for low alert</label>
                    <input type="text" class="form-control" id="" placeholder="10 Kg" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Remaining quantity</label>
                    <input type="text" class="form-control" id="" placeholder="10" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Agrochemical component</label>
                    <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Active ingredients</label>
                    <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-sm btn-success">Add</button>
            </div>
          </div>
        </div>
      </div>

    <!-- Edit agrochemical Modal -->

    <div class="modal fade custom-modal" id="edit-agrochemical" tabindex="-1" role="dialog" aria-labelledby="add_user_role_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-sm-12">
                <h3>Edit agrochemical</h3>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Date of reorder</label>
                    <div class="meta-data-sm">
                      <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Date added</label>
                    <div class="meta-data-sm">
                      <span class="f-12-medium dark-grey-text">10 Nov 2020</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Name of agrochemical</label>
                  <input type="text" class="form-control" id="" placeholder="Aaacccrd" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Supplier name</label>
                  <select name="" class="form-control select2" required="required">
                    <option value="" selected="selected">Jackie Chebet</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Total quantity</label>
                  <input type="text" class="form-control" id="" placeholder="100" />
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label>Minimum quantity for low alert</label>
                  <input type="text" class="form-control" id="" placeholder="10 Kg" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Remaining quantity</label>
                  <input type="text" class="form-control" id="" placeholder="10" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Agrochemical component</label>
                  <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Active ingredients</label>
                  <input type="text" class="form-control" id="" placeholder="Nitrogen" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-sm btn-success">Update</button>
          </div>
        </div>
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
    $(function () {
      // $("#_customers").DataTable();
      $(".select2").select2();
      $("input[type='checkbox'].minimal").iCheck({
        checkboxClass: "icheckbox_minimal-green",
      });

    });
  </script>
    </script>

  </body>
</html>
