<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <style type="text/css">
      .map {
        height: 500px;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Devices
          </h1>
          <ol class="breadcrumb">
            <li><a href="/admin/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="active">Devices</li>
          </ol>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="box-title">Assigned Devices</h3>
                    </div>
                  </div>
                </div>

                <div class="box-body">
                  <table id="_devices" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Serial</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for device in DEVICES %}
                      <tr>
                        <td>{{device.name}}</td>
                        <td>{{device.type}}</td>
                        <td>{{device.serial}}</td>
                        <td>{{device.description}}</td>
                        <td>{{device.status}}</td>
                        <td>{{device.created.strftime('%d %b %Y')}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Serial</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>

    $(".select2").select2();

    $(function () {
      $("#_devices").DataTable();
    });
  </script>

  </body>
</html>
