<!-- jQuery 2.1.4 -->
<script src="{{url_for('.static',filename='plugins/jQuery/jQuery-2.1.4.min.js')}}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{url_for('.static',filename='js/jquery-ui-1.11.4.min.js')}}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.5 -->
<script src="{{url_for('.static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="{{url_for('.static',filename='plugins/morris/morris.min.js')}}"></script>
<!-- Sparkline -->
<script src="{{url_for('.static',filename='plugins/sparkline/jquery.sparkline.min.js')}}"></script>
<!-- jvectormap -->
<script src="{{url_for('.static',filename='plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}"></script>
<script src="{{url_for('.static',filename='plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
<!-- jQuery Knob Chart -->
<script src="{{url_for('.static',filename='plugins/knob/jquery.knob.js')}}"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="{{url_for('.static',filename='plugins/daterangepicker/daterangepicker.js')}}"></script>
<!-- datepicker -->
<script src="{{url_for('.static',filename='plugins/datepicker/bootstrap-datepicker.js')}}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{{url_for('.static',filename='plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')}}"></script>
<!-- DataTables -->
<script src="{{url_for('.static',filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('.static',filename='plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
<!-- Slimscroll -->
<script src="{{url_for('.static',filename='plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
<!-- FastClick -->
<script src="{{url_for('.static',filename='plugins/fastclick/fastclick.min.js')}}"></script>
<!-- Select2 -->
<script src="{{url_for('.static',filename='plugins/select2/select2.full.min.js')}}"></script>
<!-- Select2 -->
<script src="{{url_for('.static',filename='plugins/iCheck/icheck.min.js')}}"></script>
<!-- Moment -->
<script src="{{url_for('.static',filename='plugins/moment/moment-with-locales.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{url_for('.static',filename='js/app.min.js')}}"></script>
<!-- Chartist -->
<!-- <script src="{{url_for('.static',filename='js/chartist.min.js')}}"></script> -->
<!-- Custom -->
<script src="{{url_for('.static',filename='js/main.js')}}"></script>
