<div class="">
  <div class="modal fade" id="switch_farm" tabindex="-1" role="dialog" aria-labelledby="switch_farm_label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-sm-12">
              <h3>Switch farm</h3>
              
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <ul class="farms">
                {% for farm in FARMS %}
                  <li class="farm{% if farm.status == 0 %} inactive-farm{% endif %}{% if farm.uid|string == session.farm|string %} active-farm{% endif %}">
                    <a onclick="switch_farm('{{farm.uid}}')">
                      <span class="photo" style="background-image: url(/customer/static/img/farm.jpg)">
                        {% if farm.status == 1 %}
                        <span class="is-active label badge">Active</span>
                        {% endif %}
                        {% if farm.status == 0 %}
                        <span class="inactive label badge">Inactive</span>
                        {% endif %}
                      </span>
                    </a>
                    <span class="meta">
                      <span class="name"><a onclick="switch_farm('{{farm.uid}}')">{{farm.name}}</a></span>
                      <span class="location"><i class="fa fa-map-marker"></i> {{farm.city}}</span>
                      <span class="edit-farm"><a href="/customer/farms/{{farm.uid}}/edit"><i class="fa fa-pencil"></i></a></span>
                    </span>
                  </li>
                {% endfor %}
                <li class="farm farm-add">
                  <a href="/customer/farms/add">
                    <span class="photo">
                      <i class="fa fa-plus fa-2x"></i><br />
                      <span class="name">Add Farm</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
