<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Create report</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse create-report user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Create traceability report
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='./traceability';">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="document.location.href='./export';">Export</button>
          </span>
        </section>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-xs-12">
                    <h3>1. Form your report base</h3>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data mb-4">
                      <p>
                        Report ID<br />
                        <span class="date-today">R-10</span>
                      </p>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data mb-4">
                      <p>
                        Date of creation<br />
                        <span class="date-today">12 Nov 2020</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data mb-4">
                      <p>
                        Created by<br />
                        <span class="date-today">Jackie Karanja</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data mb-4">
                      <p>
                        Location<br />
                        <span class="date-today">Nairobi</span>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="custom-form mt-4">
                  <form name="frm_user" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Customer ID</label>
                          <select name="" class="form-control select2 green-bg" required="required">
                            <option value="" selected="selected">242354365</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Farm ID</label>
                          <select name="" class="form-control select2 green-bg" required="required">
                            <option value="" selected="selected">F-10002</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Device ID</label>
                          <select name="" class="form-control select2 green-bg" required="required">
                            <option value="" selected="selected">D-10003</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Plant name</label>
                          <select name="" class="form-control select2 green-bg" required="required">
                            <option value="" selected="selected">Basil</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <hr class="separator" />

                    <div class="row">
                      <div class="col-xs-12">
                        <h3>2. Select items you would like to showcase</h3>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-4">
                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/plant-info.svg" alt="" class="mr-2" /> Plant information</h6>
                        <div class="form-group">
                          <ul class="list-none pl-1">
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="" value="" class="minimal pr-5" /> Date of planting </label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="" value="" class="minimal pr-5" /> Variety of crop </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/fertilizer-info.svg" alt="" class="mr-2" /> Fertilizer information</h6>
                        <div class="form-group">
                          <ul class="list-none pl-1">
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="" value="" class="minimal" /> Fertilizer name </label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="" value="" class="minimal pr-5" /> Fertilizer component </label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="" value="" class="minimal" /> Date of apllication </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/agrochemical-info.svg" alt="" class="mr-2" /> Agrochemical information</h6>
                        <div class="form-group">
                          <ul class="list-none pl-1">
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="" value="" class="minimal" /> Agrochemical name </label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="" value="" class="minimal pr-5" /> Agrochemical component </label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="" value="" class="minimal" /> Date of apllication </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/harvest-info.svg" alt="" class="mr-2" /> Harvest information</h6>
                        <div class="form-group">
                          <ul class="list-none pl-1">
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="" value="" class="minimal" /> Date of harvest </label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="" value="" class="minimal pr-5" /> Time of harvest </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/irrigation-info.svg" alt="" class="mr-2" /> Irrigation information</h6>
                        <div class="form-group">
                          <ul class="list-none pl-1">
                            <li>
                              <div class="checkbox">
                                <label> <input type="checkbox" name="" value="" class="minimal" /> Total irrigation/month </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include '/shared/footer.html' %}
    </div>
    {% include '/shared/base-js.html' %}
    <script>
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
      });
    </script>
  </body>
</html>
