<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Export report</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse daily-reports">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <div class="content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row mb-5">
                <div class="col-sm-6 col-md-8">
                  <h3 class="f-22-medium">Report ID: R-10</h3>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 mt-3">
                  <div class="f-12 light-grey-text">Date of creation</div>
                  <div class="f-14-bold">12 Nov 2020</div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 mt-3">
                  <div class="f-12 light-grey-text">Created by</div>
                  <div class="f-14-bold">Jackie Mackie</div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-5">
                  <div class="white-block shadow-outline p-5">
                    <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/farm-details.svg" alt="" class="mr-2"> Farmer details</h6>
                    <div class="row">
                      <div class="col-xs-6  col-sm-4">
                        <div class="meta-data-box mb-4">
                          <p>Customer ID</p>
                          <span>234564</span>
                        </div>
                      </div>
                      <div class="col-xs-6  col-sm-4">
                        <div class="meta-data-box mb-4">
                          <p>Farm ID</p>
                          <span>F-10002</span>
                        </div>
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-xs-6 col-sm-4">
                        <div class="meta-data-box mb-4">
                          <p>Device ID</p>
                          <span>234564</span>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-4">
                        <div class="meta-data-box mb-4">
                          <p>Location ID</p>
                          <span>Nairobi</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 mb-5">
                    <div class="white-block shadow-outline p-5 report-height">
                      <h6 class="f-14-bold dark-grey-text">Daily report score</h6>
                      <div class="row">
                        <div class="col-md-3">
                            <div class="btn bg-mid-yellow mt-3">
                                <span class="white-text">Fair</span>
                              </div>
                          <p class="mt-2">Average daily report score</p>
                        </div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="row ">
               <div class="col-xs-12">
                  <div class="white-block shadow-outline p-5">
                      <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/plant-info.svg" alt="" class="mr-2"> Plant information</h6>
                      <div class="row mt-4">
                          <div class="col-xs-6 col-sm-3 col-lg-2">
                            <div class="meta-data-box mb-4">
                              <p>Date of planting</p>
                              <span>12 May 2020</span>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-lg-2">
                            <div class="meta-data-box mb-4">
                              <p>Plant name</p>
                              <span>Basil</span>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-lg-2">
                            <div class="meta-data-box mb-4">
                              <p>Plant variety</p>
                              <span>Anise basil</span>
                            </div>
                          </div>
                        </div>
                  </div>
               </div>
            </div>

            <div class="row mt-5">
                <div class="col-xs-12">
                   <div class="white-block shadow-outline p-5">
                      <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/agrochemical-info.svg" alt="" class="mr-2"> Agrochemical information</h6>
                      <div class="row mt-4">
                          <div class="col-xs-6 col-sm-3 col-lg-2">
                            <div class="meta-data-box mb-4">
                              <p>Agrochemical name</p>
                              <span>SuperMate</span>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-lg-2">
                            <div class="meta-data-box mb-4">
                              <p>Agrochemical component</p>
                              <span>Nitrogen</span>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-lg-2">
                            <div class="meta-data-box mb-4">
                              <p>Date of application</p>
                              <span>12 Jun 2020</span>
                            </div>
                          </div>
                        </div>
                   </div>
                </div>
             </div>

            <div class="row mt-5">
                <div class="col-xs-12">
                   <div class="white-block shadow-outline p-5">
                      <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/fertilizer-info.svg" alt="" class="mr-2"> Fertilizer information</h6>
                       <div class="row mt-4">
                          <div class="col-xs-6 col-sm-3 col-lg-2">
                            <div class="meta-data-box mb-4">
                              <p>Fertilizer name</p>
                              <span>SuperMate</span>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-lg-2">
                            <div class="meta-data-box mb-4">
                              <p>Fertilizer component</p>
                              <span>Nitrogen</span>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-lg-2">
                            <div class="meta-data-box mb-4">
                              <p>Date of application</p>
                              <span>12 Jun 202</span>
                            </div>
                          </div>
                        </div>
                   </div>
                </div>
             </div>

             <div class="row mt-5">
                <div class="col-xs-12">
                   <div class="white-block shadow-outline p-5">
                      <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/harvest-info.svg" alt="" class="mr-2"> Harvest information</h6>
                      <div class="row mt-4">
                          <div class="col-xs-6 col-sm-3 col-lg-2">
                            <div class="meta-data-box mb-4">
                              <p>Date of harvest</p>
                              <span>12 Jun 2020</span>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-lg-2">
                            <div class="meta-data-box mb-4">
                              <p>Time of harvest</p>
                              <span>17:31</span>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-3 col-lg-2">
                            <div class="meta-data-box mb-4">
                              <p>Kilos harvested</p>
                              <span>100 kgs</span>
                            </div>
                          </div>
                        </div>
                   </div>
                </div>
             </div>

             <div class="row mt-5">
                <div class="col-xs-12">
                   <div class="white-block shadow-outline p-5">
                      <h6 class="f-14-bold dark-grey-text"><img src="/admin/static/img/icons/irrigation-info.svg" alt="" class="mr-2"> Irrigation information</h6>
                      <div class="row ">
                          <div class="col-sm-2 chart-meta">
                            <h6><span class=" dark-grey-text">10,000L</span></h6>
                            <p>Total irrigation</p>
                          </div>
                        </div>
                   </div>
                </div>
             </div>
          </div>
        </div>
      </div>

      {% include '/shared/footer.html' %}
    </div>
    {% include '/shared/base-js.html' %}
    <script>
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
      });
    </script>
  </body>
</html>
