<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Synnefa Farmshield - Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=farm-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{url_for('.static',filename='plugins/select2/select2.min.css')}}">

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse farm">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Add a farm
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="history.go(-1);">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Save</button>
          </span>
          <div class="clearing">&nbsp;</div>
        </section>
        <section class="content">
          <div class="farm-form white-block shadow-outline">
            <h3>Farm details</h3>
            {% if FORM_ACTION_RESPONSE %}
            <div class="callout callout-{{FORM_ACTION_RESPONSE['type']}}">
              <p>{{FORM_ACTION_RESPONSE['message']}}</p>
            </div>
            {% endif %}

            <div class="create-timestamp">
              <p>Created date<br />
                <span class="date-today">{{data.today.strftime('%d %b %Y')}}</span>
              </p>
            </div>
            <hr class="separator"/>
            <form name="frm_farm" action="" method="post" enctype="application/x-www-form-urlencoded">
              <div class="farm-ref">
                <div class="ref-prefix">
                  <i class="fa fa-pencil"></i>
                  <p class="prefix">F</p>
                </div>
                <div class="ref-input">
                  <div class="form-group">
                    <label for="farm_ref">Farm Reference</label>
                    <input type="text" placeholder="" class="form-control" name="farm_ref" id="farm_ref" required="required">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="farm_address">Farm address</label>
                    <input type="text" placeholder="Enter farm address" class="form-control" name="farm_address" id="farm_address" required="required">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" placeholder="Enter state" class="form-control" name="state" id="state">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" placeholder="Enter city" class="form-control" name="city" id="city">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="pincode">Pincode</label>
                    <input type="text" placeholder="Enter pincode" class="form-control" name="pincode" id="pincode">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" placeholder="Enter latitude" class="form-control" name="latitude" id="latitude">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" placeholder="Enter longitude" class="form-control" name="longitude" id="longitude">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="total_farm_area">Total farm area</label>
                    <input type="text" placeholder="Enter total farm area in sq.m" class="form-control" name="total_farm_area" id="total_farm_area">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control select2 select2-hidden-accessible" name="status" id="status" style="width: 100%;" tabindex="-1" aria-hidden="true">
                      <option value="{{config.STATUS_ACTIVE}}">Active</option>
                      <option value="{{config.STATUS_INACTIVE}}">In-active</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
      $(function(){
        $(".select2").select2();

      });

      function submit_form() {
          $("form[name='frm_farm']").submit();
      }
    </script>

  </body>
</html>
