<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Add Customer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">
      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Add Customer
          </h1>
          <span class="actions text-right pull-right">
            <button class="btn btn-cancel btn-flat" onclick="document.location.href='./';">Cancel</button>
            <button class="btn btn-grey btn-flat" onclick="submit_form();">Add</button>
          </span>
        </section>
        <form name="user_type" action="" method="post" enctype="application/x-www-form-urlencoded">
        <div class="row bg-light-grey">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <li class="active"><a href="#"> CUSTOMER DETAILS</a></li>
              <li><a href="#">GREENHOUSES</a></li>
              <li><a href="#">DEVICES</a></li>
              <li><a href="#">SCREENHOUSES</a></li>
              <li><a href="#">SHADNETS</a></li>
            </ol>
          </div>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-lg-10 col-sm-8">
                    <h3>1. Customer details</h3>
                  </div>
                  <div class="col-lg-2 col-sm-4">
                    <a href="./add/bulk" class="btn btn-success btn-sm btn-success-outline btn-flat float-md-right">Customer bulk upload</a>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-3 col-sm-4">
                    <div class="meta-data">
                      <p>
                        Registration date<br />
                        <span class="date-today">{{data.utc_date.strftime('%d %B %Y')}}</span>
                      </p>
                    </div>
                  </div>
                </div>
                <hr class="separator" />
                <div class="custom-form">
                  <form name="frm_user" action="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Full name/Company</label>
                          <input type="text" name="first_name" class="form-control" value="{{POSTEDCUSTOMER['first_name']}}" required="required">
                          
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Phone number</label>
                          <input type="tel" name="phone_number" class="form-control"  value="{{POSTEDCUSTOMER['phone_number']}}">
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Email address</label>
                          <input type="email" name="email_address" class="form-control" value="{{POSTEDCUSTOMER['email_address']}}" required="required">
                        </div>
                      </div>

                   
                    </div>

                    {% if FORM_ACTION_RESPONSE %}
                    <p class="resp-text text-{{FORM_ACTION_RESPONSE['type']}}">{{FORM_ACTION_RESPONSE['message']}}</p>
                   {% endif %}

                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Relationship manager</label>
                          <select name="igh_contact" class="form-control select2 green-bg" required="required">
                            {% for assign in ASSIGN_MEMB %}
                            <option value="assign.id" {% if assign.id == CUSTOMER_REAL.igh_contact %} selected="selected"{% endif %}>{{assign.user.first_name}} {{assign.user.last_name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                    <hr class="separator" />

                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="f-14-bold dark-grey-text">Billing details</h6>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Billing cycle date</label>

                          <input name="cylce" class="datepicker form-control green-bg" data-date-format="mm/dd/yyyy">
 
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label> Type of sale</label>
                          <select name="" class="form-control select2 green-bg" required="required">
                            <option value="" selected="selected">Type of sale</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4">
                        <div class="form-group">
                          <label>Cost of sale</label>

                          <input type="text" name="amount" class="form-control" value="" required="required">
            
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label> Billing address</label>
                          <input type="text" name="billing_address" class="form-control" value="{{CUSTOMER_REAL['billing_address']}}" required="required">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label> Shipping address</label>
                          <input type="text" name="shipping_address" class="form-control" value="{{CUSTOMER_REAL['shipping_address']}}" required="required">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

        <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
          <div class="actions text-right pull-right">
            <a href="./add/greenhouses" class="btn btn-success btn-flat">Next</a>
          </div>
        </footer>
        {% include '/shared/footer.html' %}
      </div>
    </div>

    {% include '/shared/base-js.html' %}
    <script>
      var customer = {{POSTEDCUSTOMER|tojson}};
      $(function () {

        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
        

        $('.datepicker').datepicker({
       startDate: '-3d'
        });
       
   
     $.each(customer, function(k,v){
      add_customer_row_with_data(v);
     });
      });


  function add_customer_row_with_data(data) {
   var fields = $(".user-form .row").clone();

   fields.find(".col-sm-2:nth-child(1) input").val(data.first_name);
   fields.find(".col-sm-2:nth-child(2) input").val(data.phone_number);
   fields.find(".col-sm-2:nth-child(4) input").val(data.email_address);
  
   // add_user_row();

   update_tally();
 }


 function submit_form() {
     $("form[name='user_type']").submit();
 }


</script>



  </body>
</html>
