<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Customer - Devices</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=farm-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include '/shared/base-style-links.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-igh sidebar-mini sidebar-collapse user-add">
    <div class="wrapper">

      {% include '/shared/header.html' %}

      {% include '/shared/main-sidebar.html' %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1 class="pull-left">
            Add a customer
          </h1>
          <span class="actions text-right pull-right">
              <button class="btn btn-cancel btn-flat" onclick="document.location.href='../';">Cancel</button>
            <button class="btn btn-success btn-flat" onclick="submit_form();">Add</button>
          </span>
        </section>

        <div class="row bg-light-grey">
          <div class="col-xs-12">
            <ol class="custom-header-breadcrumb">
              <li class="active"><a href="#"> CUSTOMER DETAILS</a></li>
              <li class="active"><a href="#">GREENHOUSES</a></li>
              <li class="active"><a href="#">DEVICES</a></li>
              <li><a href="#">SCREENHOUSES</a></li>
              <li><a href="#">SHADNETS</a></li>
            </ol>
          </div>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="user-form white-block shadow-outline mt-5 mb-5">
                <div class="row">
                  <div class="col-xs-12">
                    <h3>3. Devices</h3>
                  </div>
                </div>

                <div class="row mt-3 custom-form">
                  <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                      <label>Assign devices</label>
                      <select name="" class="form-control select2" required="required">
                        <option value="" selected="selected">1 device selected</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-4 col-md-offset-6 col-sm-offset-4">
                    <div class="meta-data">
                      <p>
                        Assigned date<br />
                        <span class="date-today">12 Nov 2020</span>
                      </p>
                    </div>
                  </div>
                </div>
                <hr class="separator" />

                <form name="frm_user" action="" method="post" enctype="application/x-www-form-urlencoded">
                  <div class="row headers mt-3">
                    <div class="col-sm-2 pl-sm-0">Device ID</div>
                    <div class="col-sm-2 pl-sm-0">Greenhouse ID</div>
                    <div class="col-sm-2 pl-sm-0">Device ID</div>
                    <div class="col-sm-2 pl-sm-0">Spear ID</div>
                    <div class="col-sm-2 pl-sm-0">Status</div>

                    <div class="col-sm-2">&nbsp;</div>
                  </div>

                  <div class="devices-to-add"></div>

                  <div class="hidden">
                    <div class="device-fields">
                      <div class="row">
                        <div class="col-sm-2 pb-4 pb-sm-0 mb-2">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">D-120000</span>
                          </div>
                        </div>
                        <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">G-120000</span>
                          </div>
                        </div>
                        <div class="col-sm-2 pl-sm-0 mb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">Farmshield pro</span>
                          </div>
                        </div>
                        <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">S-1203</span>
                          </div>
                        </div>

                        <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">Active</span>
                          </div>
                        </div>
                        <div class="col-sm-1 pl-sm-0">
                          <div class="d-block mt-n3">
                            <a href="#" class="green-link" data-toggle="tooltip" data-placement="right" title="Assigned by greenhouse">
                              <span class="circle-xs green-circle"><i class="fa fa-info"></i></span>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-2 pb-4 pb-sm-0 mb-2">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">D-120000</span>
                          </div>
                        </div>
                        <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">G-120000</span>
                          </div>
                        </div>
                        <div class="col-sm-2 pl-sm-0 mb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">Farmshield pro</span>
                          </div>
                        </div>
                        <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">S-1203</span>
                          </div>
                        </div>

                        <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">Active</span>
                          </div>
                        </div>
                        <div class="col-sm-1 pl-sm-0">
                          <div class="d-block mt-n3">
                            <a href="#" class="green-link" data-toggle="tooltip" data-placement="right" title="Assigned by greenhouse">
                              <span class="circle-xs green-circle"><i class="fa fa-info"></i></span>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-2 pb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">D-120000</span>
                          </div>
                        </div>
                        <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">G-120000</span>
                          </div>
                        </div>
                        <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">Farmshield pro</span>
                          </div>
                        </div>
                        <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">S-1203</span>
                          </div>
                        </div>

                        <div class="col-sm-2 pl-sm-0 pb-4 pb-sm-0">
                          <div class="meta-data-sm">
                            <span class="f-12-medium">Active</span>
                          </div>
                        </div>
                        <div class="col-sm-1 pl-sm-0">
                          <a class="btn btn-flat btn-danger btn-danger-outline btn-remove-row mb-4" onclick="$(this).closest('.row').remove();update_tally();">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="main-footer bg-light-grey custom-standalone-footer add-page-footer">
        <div class="actions text-right">
          <a href="../add/greenhouses" class="btn btn-grey btn-flat pull-left">Previous</a>
          <a href="../add/screenhouses" class="btn btn-success btn-flat pull-right">Next</a>
        </div>
      </footer>
      {% include '/shared/footer.html' %}
    </div>

    {% include '/shared/base-js.html' %}
    <script src="{{url_for('.static',filename='plugins/select2/select2.min.js')}}"></script>
    <script>
      $(function () {
        $(".select2").select2();
        $("input[type='checkbox'].minimal").iCheck({
          checkboxClass: "icheckbox_minimal-green",
        });
      });

      $(function () {
        add_user_row();
        $(".btn-add-user").on("click", function () {
          add_user_row();
        });
      });

      function add_user_row() {
        $(".devices-to-add").append($(".device-fields .row").clone());
        $(".devices-to-add .select2").select2();

        update_tally();
      }

      function update_tally() {
        $(".badge-user-count").text($(".devices-to-add").find(".row").length);
      }

      function submit_form() {
        $("form[name='frm_user']").submit();
      }

  </script>

  </body>
</html>
